unpackaged/main/default/flows/Auto_Remove_GV_Package_License.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Check if the user has a GV managed package license</description>
        <name>Validate_GV_License_Assignment</name>
        <label>Validate GV License Assignment</label>
        <locationX>300</locationX>
        <locationY>246</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarPackageLicenseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_GV_Managed_Package_License</targetReference>
            </connector>
            <label>Assigned</label>
        </rules>
    </decisions>
    <description>This flows removes GV Package licenses upon user deactivation automatically</description>
    <interviewLabel>Auto Remove GV Package License {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Remove GV Package License</label>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>Remove the GV Package License</description>
        <name>Remove_GV_Managed_Package_License</name>
        <label>Remove GV Managed Package License</label>
        <locationX>303</locationX>
        <locationY>381</locationY>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarUserId</elementReference>
            </value>
        </filters>
        <object>UserPackageLicense</object>
    </recordDeletes>
    <recordLookups>
        <name>RetrieveGVPackageLicense</name>
        <label>RetrieveGVPackageLicense</label>
        <locationX>301</locationX>
        <locationY>102</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_GV_License_Assignment</targetReference>
        </connector>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarUserId</elementReference>
            </value>
        </filters>
        <object>UserPackageLicense</object>
        <outputAssignments>
            <assignToReference>VarPackageLicenseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>RetrieveGVPackageLicense</startElementReference>
    <status>Active</status>
    <variables>
        <name>VarPackageLicenseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
