unpackaged/main/default/flows/Auto_Assign_GVP_Package_License.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Auto Assign GVP Package License {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Assign GVP Package License</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_GVP_License_to_New_User</name>
        <label>Assign GVP License to New User</label>
        <locationX>513</locationX>
        <locationY>222</locationY>
        <connector>
            <targetReference>Update_GVP_Section_Values</targetReference>
        </connector>
        <inputAssignments>
            <field>PackageLicenseId</field>
            <value>
                <elementReference>Var_PackageLicenseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>Var_UserId</elementReference>
            </value>
        </inputAssignments>
        <object>UserPackageLicense</object>
    </recordCreates>
    <recordLookups>
        <name>GVP_Installed_Package_License_Id</name>
        <label>GVP Installed Package License Id</label>
        <locationX>326</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_GVP_License_to_New_User</targetReference>
        </connector>
        <filters>
            <field>NamespacePrefix</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>gvp</stringValue>
            </value>
        </filters>
        <object>PackageLicense</object>
        <outputAssignments>
            <assignToReference>Var_PackageLicenseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_GVP_Section_Values</name>
        <label>Update GVP Section Values</label>
        <locationX>685</locationX>
        <locationY>222</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>gvp__Geography_Key__c</field>
            <value>
                <stringValue>BSMX</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gvp__GoodData_User_Type__c</field>
            <value>
                <stringValue>DASHBOARD ONLY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gvp__User_Key__c</field>
            <value>
                <elementReference>Var_GVP_UserKey</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <startElementReference>GVP_Installed_Package_License_Id</startElementReference>
    <status>Active</status>
    <variables>
        <name>UserGVPSection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Var_GVP_GoodDataUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_GVP_UserKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_PackageLicenseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
