unpackaged/main/default/flows/Bonus_Offer_Coupon_Sales_Goal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval</name>
        <label>Approval</label>
        <locationX>801</locationX>
        <locationY>162</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>CheckyChecky</targetReference>
        </connector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>approvalId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>copyAccountIdAndName</name>
        <label>copyAccountIdAndName</label>
        <locationX>166</locationX>
        <locationY>17</locationY>
        <assignmentItems>
            <assignToReference>accountid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>theAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindAllTheOffers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CurrentOfferCheck</name>
        <label>CurrentOfferCheck</label>
        <locationX>394</locationX>
        <locationY>195</locationY>
        <defaultConnector>
            <targetReference>Select_Bonus_Offers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HasCurrentGoals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sSalesGoals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Agreements</targetReference>
            </connector>
            <label>HasCurrentGoals</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_it_selected</name>
        <label>Was it selected?</label>
        <locationX>1050</locationX>
        <locationY>163</locationY>
        <defaultConnector>
            <targetReference>CheckyChecky</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No keep looking</defaultConnectorLabel>
        <rules>
            <name>Build_list_of_matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Coupon_Agreements</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>theOffer.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Overrides</targetReference>
            </connector>
            <label>Matched - Create Record</label>
        </rules>
    </decisions>
    <description>Changing Sales Goal &quot;Ultimate End Date&quot; formula 9/12/18
Changed default test accountid variable 8/15/18
Beam requested changes 7/19/18 UPDATE</description>
    <dynamicChoiceSets>
        <name>AccountSegments</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>gvp__Account_Segment__c</object>
        <outputAssignments>
            <assignToReference>mobileSegmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BonusOfferMultiselect</name>
        <dataType>String</dataType>
        <displayField>Description__c</displayField>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Bonus_Agreement__c</object>
        <outputAssignments>
            <assignToReference>theOffer.Bonus__c</assignToReference>
            <field>Bonus__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>theOffer.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>theOffer.Maximum_Bonus__c</assignToReference>
            <field>Maximum_Bonus__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>theOffer.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Product__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrentSalesGoals</name>
        <dataType>String</dataType>
        <displayField>gvp__Custom_1__c</displayField>
        <filters>
            <field>gvp__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountid</elementReference>
            </value>
        </filters>
        <object>gvp__Sales_Goal__c</object>
        <outputAssignments>
            <assignToReference>currentOfferForCount</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>MonthEndFormula</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH( TODAY() ) = 12, 
DATE( YEAR( TODAY() ), 12, 31 ), 
DATE( YEAR( TODAY() ), MONTH( TODAY() ) + 1, 1) - 1)</expression>
    </formulas>
    <formulas>
        <name>MonthStartFormula</name>
        <dataType>Date</dataType>
        <expression>DATE( YEAR( TODAY() ), MONTH(TODAY()), 1)</expression>
    </formulas>
    <formulas>
        <name>NoRecordsFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!currentOfferForCount}), &quot;No Current Offers&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>SalesGoalNameFormula</name>
        <dataType>String</dataType>
        <expression>{!theOffer.Name} &amp; &quot;-&quot; &amp; UPPER(RIGHT({!theAccount.Id},5)) &amp; &quot;-&quot; &amp; TEXT(YEAR(TODAY())) &amp; &quot;-&quot; &amp; TEXT(MONTH(TODAY()))</expression>
    </formulas>
    <formulas>
        <description>Construct a string with the Bonus Agreement ID and the Start Date (&quot;BA-XXXXXX-YYYY-M&quot;)</description>
        <name>TargetGoalPlanName</name>
        <dataType>String</dataType>
        <expression>{!theOffer.Name} &amp; &quot;-&quot; &amp; TEXT(YEAR(TODAY())) &amp; &quot;-&quot; &amp; TEXT(MONTH(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>TwelveMonthFormula</name>
        <dataType>Date</dataType>
        <expression>DATE( 
YEAR(TODAY())+1, 
MONTH(TODAY()), 
1 
)-1</expression>
    </formulas>
    <interviewLabel>Bonus Offers for {!accountname}</interviewLabel>
    <label>Beam Mexico Bonus Agreements</label>
    <loops>
        <name>CheckyChecky</name>
        <label>CheckyChecky</label>
        <locationX>994</locationX>
        <locationY>16</locationY>
        <assignNextValueToReference>theOffer</assignNextValueToReference>
        <collectionReference>AllTheOffers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Was_it_selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Gracias</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Goal_from_Offer</name>
        <label>Create Goal from Offer</label>
        <locationX>812</locationX>
        <locationY>317</locationY>
        <assignRecordIdToReference>approvalId</assignRecordIdToReference>
        <connector>
            <targetReference>Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Bonus_Offer__c</field>
            <value>
                <elementReference>theOffer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SalesGoalNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ultimate_End_Date__c</field>
            <value>
                <elementReference>Goal_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gvp__Account__c</field>
            <value>
                <elementReference>accountid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gvp__Custom_1__c</field>
            <value>
                <elementReference>theOffer.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gvp__Custom_Fact_1__c</field>
            <value>
                <elementReference>Coupon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gvp__End_Date__c</field>
            <value>
                <elementReference>MonthEndFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gvp__Goal_Quantity__c</field>
            <value>
                <elementReference>Bottles</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gvp__Label__c</field>
            <value>
                <elementReference>theOffer.Label__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gvp__Minimum_Value__c</field>
            <value>
                <elementReference>Bottles</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gvp__Sales_Goal_Plan__c</field>
            <value>
                <elementReference>SalesGoalPlanForGoal.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gvp__Start_Date__c</field>
            <value>
                <elementReference>MonthStartFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gvp__Status__c</field>
            <value>
                <stringValue>Planning</stringValue>
            </value>
        </inputAssignments>
        <object>gvp__Sales_Goal__c</object>
    </recordCreates>
    <recordLookups>
        <name>CurrentGoalsQuery</name>
        <label>CurrentGoalsQuery</label>
        <locationX>479</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CurrentOfferCheck</targetReference>
        </connector>
        <filters>
            <field>gvp__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountid</elementReference>
            </value>
        </filters>
        <object>gvp__Sales_Goal__c</object>
        <outputReference>sSalesGoals</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get ALL available offers so we can compare them to the selected (checked) list later</description>
        <name>FindAllTheOffers</name>
        <label>FindAllTheOffers</label>
        <locationX>317</locationX>
        <locationY>20</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CurrentGoalsQuery</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Bonus_Agreement__c</object>
        <outputReference>AllTheOffers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Bonus__c</queriedFields>
        <queriedFields>Buy_End_Date__c</queriedFields>
        <queriedFields>Buy_Start_Date__c</queriedFields>
        <queriedFields>Label__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Buy_Quantity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindGoalPlan</name>
        <label>FindGoalPlan</label>
        <locationX>986</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Goal_from_Offer</targetReference>
        </connector>
        <filters>
            <field>gvp__External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TargetGoalPlanName</elementReference>
            </value>
        </filters>
        <object>gvp__Sales_Goal_Plan__c</object>
        <outputReference>SalesGoalPlanForGoal</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAccountName</name>
        <label>GetAccountName</label>
        <locationX>14</locationX>
        <locationY>13</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>copyAccountIdAndName</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>theAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Current_Agreements</name>
        <label>Current Agreements</label>
        <locationX>628</locationX>
        <locationY>199</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Bonus_Offers</targetReference>
        </connector>
        <fields>
            <name>Current_Bonus_Agreements</name>
            <choiceReferences>CurrentSalesGoals</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#990033&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!CurrentOffersTemplate}&lt;/B&gt;&lt;FONT COLOR=&quot;#00CCCC&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>Checking these boxes will not do anything. This list is for informational purposes only.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NoRecords</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!NoRecordsFormula}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Gracias</name>
        <label>Gracias!</label>
        <locationX>1299</locationX>
        <locationY>13</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThankYouGoals</name>
            <fieldText>Your bonus offers have been created!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Overrides</name>
        <label>Overrides</label>
        <locationX>1076</locationX>
        <locationY>276</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FindGoalPlan</targetReference>
        </connector>
        <fields>
            <name>ConfirmHeader</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!theOffer.Description__c}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#990033&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Changes may require approval!&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Bottles</name>
            <dataType>Number</dataType>
            <fieldText>Bottles</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>{!MinPurchaseTemplate}</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Coupon</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>theOffer.Bonus__c</elementReference>
            </defaultValue>
            <fieldText>Bonus %</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>{!BonusPercentTemplate}</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Goal_End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>TwelveMonthFormula</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please select a date in the future</errorMessage>
                <formulaExpression>{!Goal_End_Date} &gt; {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Bonus_Offers</name>
        <label>Add Bonus Offers</label>
        <locationX>695</locationX>
        <locationY>18</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckyChecky</targetReference>
        </connector>
        <fields>
            <name>Select_Coupon_Agreements</name>
            <choiceReferences>BonusOfferMultiselect</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#00CCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!SelectOffersTemplate}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>GetAccountName</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>BonusPercentTemplate</name>
        <text>The customer will receive a bonus coupon (MXN) for this percentage of the total spend on that Brand</text>
    </textTemplates>
    <textTemplates>
        <name>CurrentOffersTemplate</name>
        <text>Current Offers for {!accountname}</text>
    </textTemplates>
    <textTemplates>
        <name>MinPurchaseTemplate</name>
        <text>The number of cases (9L volume) minimum purchase required</text>
    </textTemplates>
    <textTemplates>
        <name>SelectOffersTemplate</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#00CCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select New Offers for {!accountname}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>accountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0011J00001EdiIfQAJ</stringValue>
        </value>
    </variables>
    <variables>
        <name>accountname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Mexico On-Premise Test</stringValue>
        </value>
    </variables>
    <variables>
        <name>AllTheOffers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bonus_Agreement__c</objectType>
    </variables>
    <variables>
        <name>approvalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentOfferForCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>To be used in the mobile account button URL</description>
        <name>mobileSegmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a2K2a0000008gWTEAY</stringValue>
        </value>
    </variables>
    <variables>
        <name>offerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OfferIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is here because Lightning &quot;Flow&quot; Actions can only pass the ID into a variable called &quot;recordId&quot; for some reason

Ref: https://trailhead.salesforce.com/en/modules/screen_flow_distribution/units/screen_flow_distribution_action</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0011J00001EdiIfQAJ</stringValue>
        </value>
    </variables>
    <variables>
        <name>SalesGoalPlanForGoal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>gvp__Sales_Goal_Plan__c</objectType>
    </variables>
    <variables>
        <name>sOffers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bonus_Agreement__c</objectType>
    </variables>
    <variables>
        <name>sSalesGoals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gvp__Sales_Goal__c</objectType>
    </variables>
    <variables>
        <name>theAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>theOffer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bonus_Agreement__c</objectType>
    </variables>
    <variables>
        <name>tradeChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
