unpackaged/main/default/flows/BSM_Retailer_Portal_Coupon_Redemption.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Bonus_Coupon_Update</name>
        <label>Bonus Coupon Update</label>
        <locationX>414</locationX>
        <locationY>445</locationY>
        <actionName>c:BSM_PortalCouponUpdate</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>DisplayCouponFinal</targetReference>
        </connector>
        <inputParameters>
            <name>objReatilBonusCoupon</name>
            <value>
                <elementReference>MatchedCoupon</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>MatchedCoupon</assignToReference>
            <name>objReatilBonusCoupon</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>157</locationX>
        <locationY>151</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Please_enter_your_pin_code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorReset</name>
        <label>ErrorReset</label>
        <locationX>264</locationX>
        <locationY>38</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Pin_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateCoupon</name>
        <label>UpdateCoupon</label>
        <locationX>211</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>MatchedCoupon.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Issued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchedCoupon.Wholesaler_Redeemed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchedCoupon.Wholesaler_Redeemed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchedCoupon.Date_Time_Issued__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bonus_Coupon_Update</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Select</name>
        <choiceText>Select</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SelectOne</name>
        <choiceText>Select One</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Select One</stringValue>
        </value>
    </choices>
    <choices>
        <name>SelectWholesaler</name>
        <choiceText>Seleccionar</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>YesRedeem</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <decisions>
        <name>BadCoupon</name>
        <label>BadCoupon</label>
        <locationX>463</locationX>
        <locationY>273</locationY>
        <defaultConnector>
            <targetReference>ConfirmCoupon</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AlreadyRedeemedYes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MatchedCoupon.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Redeemed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlreadyRedeemed</targetReference>
            </connector>
            <label>AlreadyRedeemedYes</label>
        </rules>
        <rules>
            <name>CouponExpired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedCoupon.Redemption_End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CouponExpired2</targetReference>
            </connector>
            <label>CouponExpired</label>
        </rules>
        <rules>
            <name>AlreadyIssued</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedCoupon.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issued</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayCouponFinal</targetReference>
            </connector>
            <label>AlreadyIssued</label>
        </rules>
    </decisions>
    <decisions>
        <name>PinMatch</name>
        <label>PinMatch</label>
        <locationX>462</locationX>
        <locationY>150</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MatchedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Pin_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BadCoupon</targetReference>
            </connector>
            <label>MatchedYes</label>
        </rules>
        <rules>
            <name>MatchedNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Pin_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>MatchedNo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Wholsaler</name>
        <label>Validate Wholsaler</label>
        <locationX>71</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>UpdateCoupon</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BlankWholesalerSelect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Wholesaler</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SelectWholesaler</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmCoupon</targetReference>
            </connector>
            <label>BlankWholesalerSelect</label>
        </rules>
    </decisions>
    <description>** Updated 12/4/2018 Print URL Link changed again**
** Updated 11/14/2018 Print URL Link changed **
** Updated 10/2/2018 Error Translations **
** Updated 9/26/18 Issued/Redeemed Date/Time **
** Update 9/12/18 Translation Changes **</description>
    <dynamicChoiceSets>
        <name>AchievedGoals</name>
        <dataType>String</dataType>
        <displayField>gvp__Custom_1__c</displayField>
        <filters>
            <field>BSM_Coupon_Earned__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Coupon__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatchedCoupon.Id</elementReference>
            </value>
        </filters>
        <object>gvp__Sales_Goal__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ApprovedWholesalers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>gvp__Custom_Checkbox_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>100</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>MatchedCoupon.Wholesaler_Redeemed__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MatchedCoupon.Wholesaler_Name__c</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListOfAccounts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>BillingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mexico</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>MatchedCoupon.AccountName__c</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>gvp__Account_Key__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>BSM Retailer Portal Coupon Redemption {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BSM Retailer Portal Coupon Redemption</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Search_Pin_Code</name>
        <label>Search Pin Code</label>
        <locationX>462</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PinMatch</targetReference>
        </connector>
        <filters>
            <field>Coupon_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pin__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pin_Code</elementReference>
            </value>
        </filters>
        <object>Bonus_Coupon__c</object>
        <outputReference>MatchedCoupon</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Redemption_End_Date__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>AccountName__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Coupon_Code__c</queriedFields>
        <queriedFields>Wholesaler_Redeemed__c</queriedFields>
        <queriedFields>Wholesaler_Name__c</queriedFields>
        <queriedFields>Date_Time_Issued__c</queriedFields>
        <queriedFields>Date_Time_Redeemed__c</queriedFields>
    </recordLookups>
    <screens>
        <name>AlreadyRedeemed</name>
        <label>AlreadyRedeemed</label>
        <locationX>759</locationX>
        <locationY>212</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadyRedeemedField</name>
            <fieldText>{!CouponRedeemedAlready}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmCoupon</name>
        <label>ConfirmCoupon</label>
        <locationX>85</locationX>
        <locationY>264</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Validate_Wholsaler</targetReference>
        </connector>
        <fields>
            <name>ValidateCoupon</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#00CCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Centro de Consumo:&lt;/B&gt;  &lt;FONT COLOR=&quot;#333333&quot;&gt;{!MatchedCoupon.AccountName__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#00CCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Contraseña:&lt;/B&gt; &lt;FONT COLOR=&quot;#333333&quot;&gt;{!Pin_Code} &lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#00CCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Cantidad: &lt;/B&gt;&lt;FONT COLOR=&quot;#333333&quot;&gt; ${!MatchedCoupon.Amount__c} MXN&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#00CCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Vence:&lt;/B&gt; &lt;FONT COLOR=&quot;#333333&quot; KERNING=&quot;0&quot;&gt;{!MatchedCoupon.Redemption_End_Date__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Wholesaler</name>
            <choiceReferences>SelectWholesaler</choiceReferences>
            <choiceReferences>ApprovedWholesalers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mayorista</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CouponExpired2</name>
        <label>CouponExpired</label>
        <locationX>759</locationX>
        <locationY>317</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadyExpired_1</name>
            <fieldText>{!CouponExpiredAlready}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayCouponFinal</name>
        <label>DisplayCouponFinal</label>
        <locationX>629</locationX>
        <locationY>444</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ValidateCoupon_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#00CCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Centro de Consumo:&lt;/B&gt; &lt;FONT COLOR=&quot;#333333&quot;&gt;{!MatchedCoupon.AccountName__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#00CCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Código de cupón:&lt;/B&gt; &lt;FONT COLOR=&quot;#333333&quot;&gt;{!MatchedCoupon.Coupon_Code__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#00CCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Contraseña:&lt;/B&gt; &lt;FONT COLOR=&quot;#333333&quot;&gt;{!Pin_Code}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#00CCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Cantidad: &lt;/B&gt;&lt;FONT COLOR=&quot;#333333&quot;&gt;${!MatchedCoupon.Amount__c} MXN&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#00CCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Vence: &lt;/B&gt;&lt;FONT COLOR=&quot;#333333&quot;&gt;{!MatchedCoupon.Redemption_End_Date__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#00CCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Mayorista:  &lt;/B&gt;&lt;FONT COLOR=&quot;#333333&quot;&gt;{!MatchedCoupon.Wholesaler_Name__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR/&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#993333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;/bsm_print?id={!MatchedCoupon.Id}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Haga clic aquí para imprimir una copia del cupón&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#990033&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Instrucciones: &lt;/B&gt;&lt;FONT COLOR=&quot;#333333&quot;&gt;Para hacer valido el cupón es necesario presentarlo al mayorista seleccionado de forma impresa o electrónica&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_enter_your_pin_code</name>
        <label>Please enter your pin code</label>
        <locationX>58</locationX>
        <locationY>40</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ErrorReset</targetReference>
        </connector>
        <fields>
            <name>Pin_Code</name>
            <dataType>String</dataType>
            <fieldText>Contraseña</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#990033&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;El contraseña debe contener al menos 6 caracteres&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</errorMessage>
                <formulaExpression>LEN({!Pin_Code}) = 6</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>BlankLine</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageOutput</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#990033&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Error}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Please_enter_your_pin_code</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>BonusEarnedHelp</name>
        <text>These are only for information purposes. Checking (or not checking) the boxes will not do anything.</text>
    </textTemplates>
    <textTemplates>
        <name>CouponExpiredAlready</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#990033&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Este cupón expiró el {!MatchedCoupon.Redemption_End_Date__c}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CouponGraciasTextTemplate</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#990033&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Gracias por canjear el cupón&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CouponRedeemedAlready</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#990033&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Este cupón fue redimido el {!MatchedCoupon.Date_Time_Redeemed__c}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Message</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;El contraseña no es válido&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>accountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.FaultMessage</elementReference>
        </value>
    </variables>
    <variables>
        <name>MatchedCoupon</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Bonus_Coupon__c</objectType>
    </variables>
</Flow>
