unpackaged/main/default/flows/BSM_Coupon_Redemption.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Bonus_Coupon_Update</name>
        <label>Bonus Coupon Update</label>
        <locationX>237</locationX>
        <locationY>382</locationY>
        <actionName>c:BSM_PortalCouponUpdate</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Gracias</targetReference>
        </connector>
        <inputParameters>
            <name>objReatilBonusCoupon</name>
            <value>
                <elementReference>MatchedCoupon</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>MatchedCoupon</assignToReference>
            <name>objReatilBonusCoupon</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>180</locationX>
        <locationY>153</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Please_enter_your_coupon_code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorReset</name>
        <label>ErrorReset</label>
        <locationX>237</locationX>
        <locationY>36</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Coupon_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateCoupon</name>
        <label>UpdateCoupon</label>
        <locationX>70</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>MatchedCoupon.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Redeemed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchedCoupon.gvc_Reported_Wholesaler__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mayorista</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchedCoupon.Date_Time_Redeemed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bonus_Coupon_Update</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Select_One</name>
        <choiceText>Select One</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SelectOne</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesRedeem</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <decisions>
        <name>BadCoupon</name>
        <label>BadCoupon</label>
        <locationX>463</locationX>
        <locationY>273</locationY>
        <defaultConnector>
            <targetReference>ConfirmCoupon</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MissingWholesaler</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedCoupon.Wholesaler_Redeemed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MissingWholesalerText</targetReference>
            </connector>
            <label>MissingWholesaler</label>
        </rules>
        <rules>
            <name>AlreadyRedeemedYes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MatchedCoupon.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Redeemed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlreadyRedeemed</targetReference>
            </connector>
            <label>AlreadyRedeemedYes</label>
        </rules>
        <rules>
            <name>CouponExpired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedCoupon.Redemption_End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CouponExpired2</targetReference>
            </connector>
            <label>CouponExpired</label>
        </rules>
    </decisions>
    <decisions>
        <name>CouponMatch</name>
        <label>CouponMatch</label>
        <locationX>457</locationX>
        <locationY>149</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MatchedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Coupon_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BadCoupon</targetReference>
            </connector>
            <label>MatchedYes</label>
        </rules>
        <rules>
            <name>MatchedNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Coupon_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>MatchedNo</label>
        </rules>
    </decisions>
    <decisions>
        <name>FinalStep</name>
        <label>FinalStep</label>
        <locationX>76</locationX>
        <locationY>267</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RedeemNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Redeem_Now</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_enter_your_coupon_code</targetReference>
            </connector>
            <label>RedeemNo</label>
        </rules>
        <rules>
            <name>RedeemYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Redeem_Now</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCoupon</targetReference>
            </connector>
            <label>RedeemYes</label>
        </rules>
    </decisions>
    <description>** Updated 12/4/2018 Print URL Link changed again**
** Updated November 14th, 2018 (Jim) Print URL Change **
** Updated October 2nd, 2018 (Jim) Error Translations **
** Updated September 27th, 2018 (Jim) ** Additional translations
** Updated September 21st, 2018 (Jim) ** Additional changes</description>
    <dynamicChoiceSets>
        <name>AchievedGoals</name>
        <dataType>String</dataType>
        <displayField>gvp__Custom_1__c</displayField>
        <filters>
            <field>BSM_Coupon_Earned__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Coupon__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatchedCoupon.Id</elementReference>
            </value>
        </filters>
        <object>gvp__Sales_Goal__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ApprovedWholesalers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>BillingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mexico</stringValue>
            </value>
        </filters>
        <limit>30</limit>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListOfAccounts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>BillingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mexico</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>MatchedCoupon.AccountName__c</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>gvp__Account_Key__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Beam Suntory Mexico Coupon Redemption</interviewLabel>
    <label>BSM Wholesaler Coupon Redemption</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Search_Coupon_Code</name>
        <label>Search Coupon Code</label>
        <locationX>432</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CouponMatch</targetReference>
        </connector>
        <filters>
            <field>Coupon_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Coupon_Code</elementReference>
            </value>
        </filters>
        <object>Bonus_Coupon__c</object>
        <outputReference>MatchedCoupon</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Redemption_End_Date__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>AccountName__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Wholesaler_Redeemed__c</queriedFields>
        <queriedFields>Coupon_Code__c</queriedFields>
        <queriedFields>Wholesaler_Name__c</queriedFields>
        <queriedFields>Date_Time_Issued__c</queriedFields>
        <queriedFields>Date_Time_Redeemed__c</queriedFields>
    </recordLookups>
    <screens>
        <name>AlreadyRedeemed</name>
        <label>AlreadyRedeemed</label>
        <locationX>746</locationX>
        <locationY>302</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadyRedeemedField</name>
            <fieldText>{!CouponRedeemedAlready}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmCoupon</name>
        <label>ConfirmCoupon</label>
        <locationX>238</locationX>
        <locationY>270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FinalStep</targetReference>
        </connector>
        <fields>
            <name>ValidateCoupon</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#CC0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Este cupón solo puede ser canjeado en {!MatchedCoupon.Wholesaler_Name__c}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#00CCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#00CCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Centro de Consumo:&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; &lt;FONT COLOR=&quot;#333333&quot;&gt;{!MatchedCoupon.AccountName__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#00CCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Codigo de Cupon: &lt;/B&gt;&lt;FONT COLOR=&quot;#333333&quot;&gt;{!MatchedCoupon.Coupon_Code__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#00CCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Cantidad:&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; $&lt;FONT COLOR=&quot;#333333&quot;&gt;{!MatchedCoupon.Amount__c} MXN&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#00CCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Vence: &lt;/B&gt;&lt;FONT COLOR=&quot;#333333&quot;&gt;{!MatchedCoupon.Redemption_End_Date__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#00CCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Estado:&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; &lt;FONT COLOR=&quot;#333333&quot;&gt;Emitido&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Mayorista</name>
            <dataType>String</dataType>
            <fieldText>Mayorista Ubicación (Agregar nombre de la sucursal en caso de tenerla)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Redeem_Now</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Canjear ahora</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CouponExpired2</name>
        <label>CouponExpired</label>
        <locationX>727</locationX>
        <locationY>407</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadyExpired_1</name>
            <fieldText>{!CouponExpiredAlready}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Gracias</name>
        <label>Gracias</label>
        <locationX>411</locationX>
        <locationY>385</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GraciasText</name>
            <fieldText>{!CouponGraciasTextTemplate}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PrintReceiptLink</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#993333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;/bsm_print?id={!MatchedCoupon.Id}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Haga clic aquí para imprimir una copia del cupón&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MissingWholesalerText</name>
        <label>MissingWholesaler</label>
        <locationX>752</locationX>
        <locationY>192</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadyRedeemedField_0</name>
            <fieldText>{!WholesalerMissing}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_enter_your_coupon_code</name>
        <label>Please enter your coupon code</label>
        <locationX>58</locationX>
        <locationY>40</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ErrorReset</targetReference>
        </connector>
        <fields>
            <name>Coupon_Code</name>
            <dataType>String</dataType>
            <fieldText>Código de cupón</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#990033&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;The coupon code must be 10 characters&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</errorMessage>
                <formulaExpression>LEN({!Coupon_Code}) = 10</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ErrorMessageOutput</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#990033&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Error}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Please_enter_your_coupon_code</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>CouponExpiredAlready</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#990033&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Este cupón expiró el {!MatchedCoupon.Redemption_End_Date__c}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CouponGraciasTextTemplate</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#990033&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;¡Gracias por canjear el cupón!&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CouponRedeemedAlready</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#990033&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Este cupón fue redimido el {!MatchedCoupon.Date_Time_Redeemed__c}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Message</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#CC3333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;El código no es válido&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>WholesalerMissing</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#990033&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Este cliente aún no ha seleccionado un Mayorista&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.FaultMessage</elementReference>
        </value>
    </variables>
    <variables>
        <name>MatchedCoupon</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Bonus_Coupon__c</objectType>
    </variables>
</Flow>
