unpackaged/main/default/flows/BSM_Wholesaler_Coupon_Notification_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendCouponSingleEmail</name>
        <label>SendCouponSingleEmail</label>
        <locationX>975</locationX>
        <locationY>206</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>UpdateWholesalerNotified</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BSM_Wholesaler_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>BSM_Wholesaler_Email_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>WholesalerContactEmailList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>SetFlowRecordId</name>
        <label>SetFlowRecordId</label>
        <locationX>230</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCouponDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRecipientEmail</name>
        <label>SetRecipientEmail</label>
        <locationX>1145</locationX>
        <locationY>63</locationY>
        <assignmentItems>
            <assignToReference>WholesalerContactEmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WholesalerContact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopContactEmails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateWholesalerNotified</name>
        <label>UpdateWholesalerNotified</label>
        <locationX>1169</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>IssuedCoupon.Wholesaler_Notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCouponFinal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IfRecordIdIsBlank</name>
        <label>IfRecordIdIsBlank</label>
        <locationX>53</locationX>
        <locationY>79</locationY>
        <defaultConnector>
            <targetReference>GetCouponDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NeedTempId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetFlowRecordId</targetReference>
            </connector>
            <label>NeedTempId</label>
        </rules>
        <rules>
            <name>IssuedCouponOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IssuedCoupon</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Wholesaler_Contacts</targetReference>
            </connector>
            <label>IssuedCouponOK</label>
        </rules>
    </decisions>
    <decisions>
        <name>WholesalerContactCount</name>
        <label>WholesalerContactCount</label>
        <locationX>725</locationX>
        <locationY>191</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>WholesalerContactCountYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WholesalerBonusContacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopContactEmails</targetReference>
            </connector>
            <label>WholesalerContactCountYes</label>
        </rules>
    </decisions>
    <description>Find the relevant Contacts and send them the email</description>
    <interviewLabel>BSM Wholesaler Coupon Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BSM Wholesaler Coupon Notification Flow v4</label>
    <loops>
        <name>LoopContactEmails</name>
        <label>LoopContactEmails</label>
        <locationX>897</locationX>
        <locationY>60</locationY>
        <assignNextValueToReference>WholesalerContact</assignNextValueToReference>
        <collectionReference>WholesalerBonusContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetRecipientEmail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SendCouponSingleEmail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Wholesaler_Contacts</name>
        <label>Find Wholesaler Contacts</label>
        <locationX>574</locationX>
        <locationY>72</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WholesalerContactCount</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IssuedCoupon.Wholesaler_Redeemed__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>gvp__Level__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>WholesalerBonusContacts</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCouponDetails</name>
        <label>GetCouponDetails</label>
        <locationX>416</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Wholesaler_Contacts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>Wholesaler_Redeemed__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Bonus_Coupon__c</object>
        <outputReference>IssuedCoupon</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Wholesaler_Redeemed__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Redemption_End_Date__c</queriedFields>
        <queriedFields>Wholesaler_Notified__c</queriedFields>
        <queriedFields>AccountName__c</queriedFields>
        <queriedFields>Coupon_Code__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCouponFinal</name>
        <label>UpdateCouponFinal</label>
        <locationX>1113</locationX>
        <locationY>342</locationY>
        <inputReference>IssuedCoupon</inputReference>
    </recordUpdates>
    <startElementReference>IfRecordIdIsBlank</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>BSM_Wholesaler_Email_Body</name>
        <text>The following coupon has been Issued by Beam Suntory Mexico:

Customer: {!IssuedCoupon.AccountName__c}
Wholesaler: {!IssuedCoupon.Wholesaler_Name__c}
Amount: {!IssuedCoupon.Amount__c}
Expires: {!IssuedCoupon.Redemption_End_Date__c}
Code: {!IssuedCoupon.Coupon_Code__c}

**INSTRUCTIONS**</text>
    </textTemplates>
    <textTemplates>
        <name>BSM_Wholesaler_Email_Subject</name>
        <text>Beam Suntory Coupon Activation - {!IssuedCoupon.AccountName__c}</text>
    </textTemplates>
    <variables>
        <name>IssuedCoupon</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Bonus_Coupon__c</objectType>
    </variables>
    <variables>
        <description>For testing purposes</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a491J000000HT8JQAW</stringValue>
        </value>
    </variables>
    <variables>
        <name>WholesalerBonusContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>WholesalerContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>WholesalerContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WholesalerContactEmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
