unpackaged/main/default/flows/CaseSubmitterCaseShare.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Case_Origin</name>
        <label>Case Origin?</label>
        <locationX>264</locationX>
        <locationY>129</locationY>
        <defaultConnector>
            <targetReference>Is_the_current_user_the_case_owner_X</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Email_to_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseOrigin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_User_Id</targetReference>
            </connector>
            <label>Email-to-Case</label>
        </rules>
    </decisions>
    <decisions>
        <description>If case submitter and case owner not equal to same then only create a sharing record, if both the user and owner same then execute the default outcome</description>
        <name>case_submitter_not_equals_to_case_owner</name>
        <label>case submitter not equals to case owner</label>
        <locationX>486</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>Set_Submitter_on_Case_Int</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>submitter_not_equal_to_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>caseOwner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseOwner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCaseShare_User</targetReference>
            </connector>
            <label>submitter not equal to owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExcludeSetSubmitterForOutlookCases</name>
        <label>ExcludeSetSubmitterForOutlookCases</label>
        <locationX>764</locationX>
        <locationY>73</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Outlook_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseOrigin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varOutlook</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Submitter_on_Case_Int</targetReference>
            </connector>
            <label>Is Not Outlook Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Case_owner_logged_in_user</name>
        <label>Is the Case owner logged in user</label>
        <locationX>909</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_the_case_owner_is_not_logged_in_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseOwner</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CurrentUserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_Record_when_reassigned</targetReference>
            </connector>
            <label>If the case owner is not logged in user</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_current_user_the_case_owner_0</name>
        <label>Is the current user the case owner?</label>
        <locationX>287</locationX>
        <locationY>439</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>This_is_the_case_owner_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSubmitterId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>caseOwner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Submitter_s_Type</targetReference>
            </connector>
            <label>This is not the case owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_current_user_the_case_owner_X</name>
        <label>Is the current user the case owner?</label>
        <locationX>412</locationX>
        <locationY>133</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>This_is_not_the_case_owner_X</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>caseOwner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseSubmitterCaseShare</targetReference>
            </connector>
            <label>This is not the case owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_submitter_a_portal_user</name>
        <label>Is the submitter a portal user?</label>
        <locationX>589</locationX>
        <locationY>444</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>This_is_NOT_a_portal_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsPortalUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseSubmitterCaseShare_0</targetReference>
            </connector>
            <label>This is NOT a portal user</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requested_Action</name>
        <label>Requested Action?</label>
        <locationX>78</locationX>
        <locationY>309</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New_Case_without_a_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestedAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Origin</targetReference>
            </connector>
            <label>New Case without a Contact</label>
        </rules>
        <rules>
            <name>Case_Owner_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestedAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_current_user_the_case_owner_0</targetReference>
            </connector>
            <label>Case Owner Change</label>
        </rules>
        <rules>
            <name>New_Case_with_a_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestedAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Case_Submitter_s_User_Record</targetReference>
            </connector>
            <label>New Case with a Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_User</name>
        <label>Valid User</label>
        <locationX>346</locationX>
        <locationY>262</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>case_submitter_not_equals_to_case_owner</targetReference>
            </connector>
            <label>User Found</label>
        </rules>
    </decisions>
    <description>new decision box to create records if case submitter and case owner both are same</description>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>CurrentUserProfileId</name>
        <dataType>String</dataType>
        <expression>{!$User.ProfileId}</expression>
    </formulas>
    <interviewLabel>CaseSubmitterCaseShare {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseSubmitterCaseShare</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CaseSubmitterCaseShare</name>
        <label>CaseSubmitterCaseShare</label>
        <locationX>594</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>ExcludeSetSubmitterForOutlookCases</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseShare</object>
    </recordCreates>
    <recordCreates>
        <name>CaseSubmitterCaseShare_0</name>
        <label>CaseSubmitterCaseShare</label>
        <locationX>772</locationX>
        <locationY>446</locationY>
        <connector>
            <targetReference>Is_the_Case_owner_logged_in_user</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>varSubmitterId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseShare</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCaseShare_User</name>
        <label>CreateCaseShare_User</label>
        <locationX>589</locationX>
        <locationY>330</locationY>
        <connector>
            <targetReference>Set_Submitter_on_Case_Int</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseShare</object>
    </recordCreates>
    <recordCreates>
        <name>Share_Record_when_reassigned</name>
        <label>Share Record when reassigned</label>
        <locationX>895</locationX>
        <locationY>280</locationY>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseShare</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Submitter_s_User_Record</name>
        <label>Find Case Submitter&apos;s User Record</label>
        <locationX>200</locationX>
        <locationY>8</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Case_Submitter_Ext</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varSubmitterId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Submitter_s_Type</name>
        <label>Find Submitter&apos;s Type</label>
        <locationX>430</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_submitter_a_portal_user</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSubmitterId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varIsPortalUser</assignToReference>
            <field>IsPortalEnabled</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_User_Id</name>
        <label>Find User Id</label>
        <locationX>274</locationX>
        <locationY>305</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_User</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CspLitePortal</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>PowerCustomerSuccess</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>userId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastLoginDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Set_Case_Submitter_Ext</name>
        <label>Set Case Submitter Ext</label>
        <locationX>455</locationX>
        <locationY>20</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Submitter__c</field>
            <value>
                <elementReference>varSubmitterId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Submitter_on_Case_Int</name>
        <label>Set Submitter on Case Int</label>
        <locationX>836</locationX>
        <locationY>203</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Submitter__c</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Requested_Action</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShareRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIsPortalUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOutlook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Outlook</stringValue>
        </value>
    </variables>
    <variables>
        <name>varPortalUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRequestedAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSubmitterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
