unpackaged/main/default/flows/Case_Case_Cannot_Be_Reopened.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>Send &quot;Cannot be Reopened&quot; email</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Send &quot;Cannot be Reopened&quot; email</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>caseServices</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>emailIdList</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>emailIdList</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Is GBS Reopen Email + Closed &gt;=5 days</label>
        </rules>
    </decisions>
    <description>Sends email message to sender of reopen email if case has been closed for longer than allowed.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([EmailMessage].Incoming = TRUE, 
Today()&gt;=DATEVALUE([EmailMessage].Parent.ClosedDate)+5, 
[EmailMessage].Parent.IsClosed = TRUE, 
OR(CONTAINS( UPPER([EmailMessage].Subject), &quot;REOPEN&quot; ), CONTAINS( UPPER([EmailMessage].Subject), &quot;RE-OPEN&quot; ), CONTAINS( UPPER([EmailMessage].Subject), &quot;RE OPEN&quot; ) ), OR( CONTAINS([EmailMessage].Parent.RecordType.Name, &quot;GMDM&quot;), [EmailMessage].Parent.RecordType.Name = &quot;HR&quot;, [EmailMessage].Parent.RecordType.Name = &quot;PTP/AP&quot;, [EmailMessage].Parent.RecordType.Name = &quot;PTP/AP - PR/PO&quot;, [EmailMessage].Parent.RecordType.Name = &quot;Bailment&quot;, CONTAINS([EmailMessage].Parent.RecordType.Name, &quot;OTC&quot;), [EmailMessage].Parent.RecordType.Name = &quot;RTR&quot;, [EmailMessage].Parent.RecordType.Name = &quot;Payroll&quot;, [EmailMessage].Parent.RecordType.Name = &quot;T&amp;E&quot; ) )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_current.Incoming} = TRUE, 
Today()&gt;=DATEVALUE({!myVariable_current.Parent.ClosedDate})+5, 
{!myVariable_current.Parent.IsClosed} = TRUE, 
OR(CONTAINS( UPPER({!myVariable_current.Subject}), &quot;REOPEN&quot; ), CONTAINS( UPPER({!myVariable_current.Subject}), &quot;RE-OPEN&quot; ), CONTAINS( UPPER({!myVariable_current.Subject}), &quot;RE OPEN&quot; ) ), OR( CONTAINS({!myVariable_current.Parent.RecordType.Name}, &quot;GMDM&quot;), {!myVariable_current.Parent.RecordType.Name} = &quot;HR&quot;, {!myVariable_current.Parent.RecordType.Name} = &quot;PTP/AP&quot;, {!myVariable_current.Parent.RecordType.Name} = &quot;PTP/AP - PR/PO&quot;, {!myVariable_current.Parent.RecordType.Name} = &quot;Bailment&quot;, CONTAINS({!myVariable_current.Parent.RecordType.Name}, &quot;OTC&quot;), {!myVariable_current.Parent.RecordType.Name} = &quot;RTR&quot;, {!myVariable_current.Parent.RecordType.Name} = &quot;Payroll&quot;, {!myVariable_current.Parent.RecordType.Name} = &quot;T&amp;E&quot; ) )</expression>
    </formulas>
    <interviewLabel>Case_Case_Cannot_Be_Reopened-1_InterviewLabel</interviewLabel>
    <label>Case - Case Cannot Be Reopened</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>EmailMessage</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
