unpackaged/main/default/flows/FACTS_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Parent_Incident_Id</name>
        <label>Set Parent Incident Id</label>
        <locationX>235</locationX>
        <locationY>167</locationY>
        <assignmentItems>
            <assignToReference>ParentIncidentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentIncident.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Master_Sheet_Upload</targetReference>
        </connector>
    </assignments>
    <interviewLabel>FACTS Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FACTS Flow</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Parent_Incident</name>
        <label>Update Parent Incident</label>
        <locationX>86</locationX>
        <locationY>167</locationY>
        <connector>
            <targetReference>Set_Parent_Incident_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentIncident.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_Information__c</field>
            <value>
                <elementReference>FACTS_AdditionalInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bottling_Plant__c</field>
            <value>
                <elementReference>FACTS_BottlingFacility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_Type__c</field>
            <value>
                <elementReference>FACTS_ProductDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <elementReference>FACTS_Brand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impact__c</field>
            <value>
                <elementReference>FACTS_Impact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Definition__c</field>
            <value>
                <elementReference>FACTS_IssueDefinition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Type__c</field>
            <value>
                <elementReference>FACTS_IssueType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lot_Code_s__c</field>
            <value>
                <elementReference>FACTS_Lot_Codes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Size__c</field>
            <value>
                <elementReference>FACTS_ProductSize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommendation__c</field>
            <value>
                <elementReference>FACTS_Recommendation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC__c</field>
            <value>
                <elementReference>FACTS_SCC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SKU__c</field>
            <value>
                <elementReference>FACTS_SKU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UPC__c</field>
            <value>
                <elementReference>FACTS_UPC</elementReference>
            </value>
        </inputAssignments>
        <object>Incident__c</object>
    </recordUpdates>
    <screens>
        <name>Additional_Cases_Flagged</name>
        <label>Additional Cases Flagged</label>
        <locationX>520</locationX>
        <locationY>171</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FACTS_Created</targetReference>
        </connector>
        <fields>
            <name>FlaggedCases</name>
            <extensionName>c:QC_AdditionalFlaggedCases</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentIncidentId</name>
                <value>
                    <elementReference>ParentIncidentId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FACTS_Created</name>
        <label>FACTS Created</label>
        <locationX>656</locationX>
        <locationY>172</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FACTSCreated</name>
            <extensionName>c:AlertCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>FACTS Incident has been Created</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FACTS_Info_Input</name>
        <label>FACTS Info Input</label>
        <locationX>84</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Parent_Incident</targetReference>
        </connector>
        <fields>
            <name>IssuePicklists</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Incident__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Issue_Definition__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Issue_Type__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FACTS_IssueType</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FACTS_IssueDefinition</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>InputFACTSInfo</name>
            <extensionName>c:QC_FACTSInfoInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FACTS_AdditionalInformation</assignToReference>
                <name>additionalInformation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FACTS_BottlingFacility</assignToReference>
                <name>bottlingFacilityString</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FACTS_Brand</assignToReference>
                <name>brandString</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FACTS_Impact</assignToReference>
                <name>impactString</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FACTS_Lot_Codes</assignToReference>
                <name>lotCodes</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FACTS_ProductDescription</assignToReference>
                <name>productDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FACTS_ProductSize</assignToReference>
                <name>productSizeString</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FACTS_SCC</assignToReference>
                <name>scc</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FACTS_SKU</assignToReference>
                <name>sku</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FACTS_UPC</assignToReference>
                <name>upc</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FACTS_Recommendation</assignToReference>
                <name>recommendationString</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Master_Sheet_Upload</name>
        <label>Master Sheet Upload</label>
        <locationX>381</locationX>
        <locationY>169</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Additional_Cases_Flagged</targetReference>
        </connector>
        <fields>
            <name>FACTSFileUploader</name>
            <extensionName>c:QC_FACTSFileUploader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentIncidentId</name>
                <value>
                    <elementReference>ParentIncidentId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>FACTS_Info_Input</startElementReference>
    <status>Active</status>
    <variables>
        <name>Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CurrentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>DistributorRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FACTS_AdditionalInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Bottling plant</description>
        <name>FACTS_BottlingFacility</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FACTS_Brand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Impact of FACTS Call</description>
        <name>FACTS_Impact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FACTS_IssueDefinition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FACTS_IssueOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FACTS_IssueType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FACTS_Lot_Codes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FACTS_ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FACTS_ProductDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Product size(s) in this FACTS call</description>
        <name>FACTS_ProductSize</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>FACTS Reason</description>
        <name>FACTS_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Further information around FACTS Reason</description>
        <name>FACTS_ReasonDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FACTS_Recommendation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FACTS_SCC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FACTS_SKU</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FACTS_UPC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Incident Record type of FACTS</description>
        <name>FACTSRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentIncident</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Incident__c</objectType>
    </variables>
    <variables>
        <name>ParentIncidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
