unpackaged/main/default/flows/GBS_Case_Submission_Start.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Attach_Documents_as_Current_Stage</name>
        <label>Set Attach Documents as Current Stage</label>
        <locationX>1425</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Attach_Documents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attach_Documentation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Stage</name>
        <label>Set Current Stage</label>
        <locationX>433</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Form_Decision_Point</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Form_Decision_Point</name>
        <label>Form Decision Point</label>
        <locationX>605</locationX>
        <locationY>425</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PTP_AP_Pick</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Procure to Pay / Accounts Payable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PTP_AP</targetReference>
            </connector>
            <label>PTP/AP</label>
        </rules>
        <rules>
            <name>GMDM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Global Master Data Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GBS_GMDM</targetReference>
            </connector>
            <label>GMDM</label>
        </rules>
        <rules>
            <name>RTR_Pick</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Record to Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RTR</targetReference>
            </connector>
            <label>RTR</label>
        </rules>
        <rules>
            <name>HR_Pick</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Human Resources</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HR</targetReference>
            </connector>
            <label>HR</label>
        </rules>
        <rules>
            <name>Payroll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GBS_Payroll</targetReference>
            </connector>
            <label>Payroll</label>
        </rules>
        <rules>
            <name>T_E_Pick</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel &amp; Entertainment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>T_E</targetReference>
            </connector>
            <label>T&amp;E</label>
        </rules>
        <rules>
            <name>OTC_Billing_Pick</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order to Cash / Billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTC_Billing</targetReference>
            </connector>
            <label>OTC Billing</label>
        </rules>
        <rules>
            <name>Claims</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GBS_Claims</targetReference>
            </connector>
            <label>Claims</label>
        </rules>
        <rules>
            <name>Tax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GBS_Tax</targetReference>
            </connector>
            <label>Tax</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Back_to_Start</name>
        <label>Send Back to Start?</label>
        <locationX>1044</locationX>
        <locationY>1107</locationY>
        <defaultConnector>
            <targetReference>Set_Attach_Documents_as_Current_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>returnHome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GBS_Flow_Start</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <description>Files Headline Custom Label</description>
        <name>Files_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Files}</expression>
    </formulas>
    <interviewLabel>GBS - Case Submission Start {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GBS - Case Submission Start</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Flow_Chckbox_Update</name>
        <label>Flow Chckbox Update</label>
        <locationX>1712</locationX>
        <locationY>402</locationY>
        <connector>
            <targetReference>Submission_Complete</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Attach_Documentation</name>
        <label>Attach Documentation</label>
        <locationX>1573</locationX>
        <locationY>400</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Flow_Chckbox_Update</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GBS_FileUpload</name>
            <extensionName>c:GBS_FileUploadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <elementReference>AttachmentRequired</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>attachmentRequiredMessage</name>
                <value>
                    <elementReference>AttachmentRequiredMessage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GBS_Flow_Start</name>
        <label>GBS Flow Start</label>
        <locationX>272</locationX>
        <locationY>423</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Current_Stage</targetReference>
        </connector>
        <fields>
            <name>StageTrackerCmp</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Select_Categories</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DependentPicklistCmp</name>
            <extensionName>c:GBS_DependentPicklistCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.GBS_Center__c</assignToReference>
                <name>gbsCenter</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Type</assignToReference>
                <name>translatedTeamCategoryFieldValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Category_1__c</assignToReference>
                <name>translatedPrimaryCategoryFieldValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Category_2__c</assignToReference>
                <name>translatedSecondaryCategoryFieldValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Category_3__c</assignToReference>
                <name>translatedTertiaryCategoryFieldValue</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Submission_Complete</name>
        <label>Submission Complete</label>
        <locationX>1847</locationX>
        <locationY>402</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishCmp</name>
            <extensionName>c:AlertCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>action</name>
                <value>
                    <stringValue>CREATED</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>record</name>
                <value>
                    <elementReference>CaseRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordLabel</name>
                <value>
                    <elementReference>CaseRecord.CaseNumber</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Attach_Documents</name>
        <isActive>true</isActive>
        <label>Attach Documents</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Enter_Details</name>
        <isActive>true</isActive>
        <label>Enter Details</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Select_Categories</name>
        <isActive>true</isActive>
        <label>Select Categories</label>
        <stageOrder>1</stageOrder>
    </stages>
    <startElementReference>GBS_Flow_Start</startElementReference>
    <status>Active</status>
    <subflows>
        <name>GBS_Claims</name>
        <label>GBS - Claims</label>
        <locationX>1033</locationX>
        <locationY>43</locationY>
        <connector>
            <targetReference>Set_Attach_Documents_as_Current_Stage</targetReference>
        </connector>
        <flowName>GBS_Claims</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>CaseRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseRecord</assignToReference>
            <name>CaseRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AttachmentRequired</assignToReference>
            <name>AttachmentRequired</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AttachmentRequiredMessage</assignToReference>
            <name>AttachmentRequiredMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>GBS_GMDM</name>
        <label>GBS_GMDM</label>
        <locationX>1028</locationX>
        <locationY>433</locationY>
        <connector>
            <targetReference>Set_Attach_Documents_as_Current_Stage</targetReference>
        </connector>
        <flowName>GBS_GMDM</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>CaseRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseRecord</assignToReference>
            <name>CaseRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>GBS_Payroll</name>
        <label>GBS - Payroll</label>
        <locationX>1027</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>Set_Attach_Documents_as_Current_Stage</targetReference>
        </connector>
        <flowName>GBS_Payroll</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>CaseRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseRecord</assignToReference>
            <name>CaseRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>GBS_Tax</name>
        <label>GBS - Tax</label>
        <locationX>1031</locationX>
        <locationY>148</locationY>
        <connector>
            <targetReference>Set_Attach_Documents_as_Current_Stage</targetReference>
        </connector>
        <flowName>GBS_Tax</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>CaseRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseRecord</assignToReference>
            <name>CaseRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AttachmentRequired</assignToReference>
            <name>AttachmentRequired</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AttachmentRequiredMessage</assignToReference>
            <name>AttachmentRequiredMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>HR</name>
        <label>HR</label>
        <locationX>1028</locationX>
        <locationY>340</locationY>
        <connector>
            <targetReference>Set_Attach_Documents_as_Current_Stage</targetReference>
        </connector>
        <flowName>GBS_HR</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>CaseRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseRecord</assignToReference>
            <name>CaseRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>OTC_Billing</name>
        <label>OTC Billing</label>
        <locationX>889</locationX>
        <locationY>681</locationY>
        <connector>
            <targetReference>Send_Back_to_Start</targetReference>
        </connector>
        <flowName>GBS_OTC_Billing</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>CaseRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>returnHome</assignToReference>
            <name>sendToHomeScreen</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseRecord</assignToReference>
            <name>CaseRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PTP_AP</name>
        <label>PTP/AP</label>
        <locationX>1187</locationX>
        <locationY>679</locationY>
        <connector>
            <targetReference>Send_Back_to_Start</targetReference>
        </connector>
        <flowName>GBS_PTP_AP</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>CaseRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseRecord</assignToReference>
            <name>CaseRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>returnHome</assignToReference>
            <name>sendHome</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>RTR</name>
        <label>RTR</label>
        <locationX>1029</locationX>
        <locationY>520</locationY>
        <connector>
            <targetReference>Set_Attach_Documents_as_Current_Stage</targetReference>
        </connector>
        <flowName>GBS_RTR</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>CaseRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseRecord</assignToReference>
            <name>CaseRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AttachmentRequired</assignToReference>
            <name>AttachmentRequired</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AttachmentRequiredMessage</assignToReference>
            <name>AttachmentRequiredMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>T_E</name>
        <label>T&amp;E</label>
        <locationX>1037</locationX>
        <locationY>682</locationY>
        <connector>
            <targetReference>Send_Back_to_Start</targetReference>
        </connector>
        <flowName>GBS_T_E</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>CaseRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseRecord</assignToReference>
            <name>CaseRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>returnHome</assignToReference>
            <name>returnHome</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AttachmentRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AttachmentRequiredMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Please upload a file.</stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>gbsCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>returnHome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
