unpackaged/main/default/flows/GBS_Tax.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Attachment_Required_and_Message</name>
        <label>Set Attachment Required and Message</label>
        <locationX>816</locationX>
        <locationY>85</locationY>
        <assignmentItems>
            <assignToReference>AttachmentRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttachmentRequiredMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SplitPayrollReportsAttachmentRequiredMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Case_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Fields</name>
        <label>Set Case Fields</label>
        <locationX>817</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaxRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Categories</name>
        <label>Check Categories</label>
        <locationX>227</locationX>
        <locationY>283</locationY>
        <defaultConnector>
            <targetReference>Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vat_tax_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VAT tax</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vat_Tax</targetReference>
            </connector>
            <label>VAT tax</label>
        </rules>
        <rules>
            <name>Excise_tax_inquiries_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Split payroll reports</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Excise_tax</targetReference>
            </connector>
            <label>Excise tax inquiries</label>
        </rules>
    </decisions>
    <formulas>
        <name>SplitPayrollReportsAttachmentRequiredMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.Include_supporting_docs}</expression>
    </formulas>
    <interviewLabel>GBS - Tax {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GBS - Tax</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>955</locationX>
        <locationY>292</locationY>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Number</name>
        <label>Find Case Number</label>
        <locationX>1136</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Category_1__c</queriedFields>
        <queriedFields>Category_2__c</queriedFields>
        <queriedFields>Category_3__c</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Tax_Record_Type_Id</name>
        <label>Get Tax Record Type Id</label>
        <locationX>50</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Categories</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tax</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>TaxRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Default</name>
        <label>Default</label>
        <locationX>461</locationX>
        <locationY>428</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Case_Fields</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker3</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp3</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TaxFlowCmp3</name>
            <extensionName>c:GBS_TaxFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Excise_tax</name>
        <label>Excise tax</label>
        <locationX>467</locationX>
        <locationY>86</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Attachment_Required_and_Message</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker2</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp2</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TaxFlowCmp2</name>
            <extensionName>c:GBS_TaxFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>companyCodeRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>companyCodeVisible</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Company_Code__c</assignToReference>
                <name>companyCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Vat_Tax</name>
        <label>Vat Tax</label>
        <locationX>464</locationX>
        <locationY>284</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Case_Fields</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker1</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp1</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TaxFlowCmp1</name>
            <extensionName>c:GBS_TaxFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>companyCodeRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>companyCodeVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Company_Code__c</assignToReference>
                <name>companyCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Tax_Record_Type_Id</startElementReference>
    <status>Active</status>
    <variables>
        <name>AttachmentRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AttachmentRequiredMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>TaxRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
