unpackaged/main/default/flows/GBS_OTC_Billing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Case_Values</name>
        <label>Assign Case Values</label>
        <locationX>1410</locationX>
        <locationY>639</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SendHome</name>
        <label>SendHome</label>
        <locationX>879</locationX>
        <locationY>1401</locationY>
        <assignmentItems>
            <assignToReference>sendToHomeScreen</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_FI_Request_Instructions</name>
        <label>Set FI Request Instructions</label>
        <locationX>878</locationX>
        <locationY>299</locationY>
        <assignmentItems>
            <assignToReference>Instructions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GBS_Label_FIRequest_instructions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Request_Description</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>EMEA</name>
        <choiceText>EMEA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EMEA</stringValue>
        </value>
    </choices>
    <choices>
        <name>India</name>
        <choiceText>India</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>India</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mexico</name>
        <choiceText>Mexico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mexico</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!NoButton_CL}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!None_Picklist}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>-- NONE --</stringValue>
        </value>
    </choices>
    <choices>
        <name>Region_Americas</name>
        <choiceText>Americas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Americas</stringValue>
        </value>
    </choices>
    <choices>
        <name>Region_APAC</name>
        <choiceText>APAC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APAC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Region_EMEA</name>
        <choiceText>EMEA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EMEA</stringValue>
        </value>
    </choices>
    <choices>
        <name>SF_Asia_Oceania</name>
        <choiceText>SF Asia/Oceania</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SF Asia/Oceania</stringValue>
        </value>
    </choices>
    <choices>
        <name>US_Canada</name>
        <choiceText>US/Canada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>US/Canada</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!YesButton_CL}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Quality_Issue</name>
        <label>Is Quality Issue</label>
        <locationX>881</locationX>
        <locationY>1228</locationY>
        <defaultConnector>
            <targetReference>Assign_Case_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Invoice_Correction_Due_to_Quantity_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quantity_Issue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Second_Category_Check</name>
        <label>Second Category Check</label>
        <locationX>214</locationX>
        <locationY>637</locationY>
        <defaultConnector>
            <targetReference>Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>D2D_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D2D Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>D2D_Transfer2</targetReference>
            </connector>
            <label>D2D Transfer</label>
        </rules>
        <rules>
            <name>Audit_request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Audit request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Audit_Request2</targetReference>
            </connector>
            <label>Audit request</label>
        </rules>
        <rules>
            <name>Request_for_invoice_correction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request for invoice correction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_For_Invoice_Correction2</targetReference>
            </connector>
            <label>Request for invoice correction</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other billing request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Description</targetReference>
            </connector>
            <label>Other</label>
        </rules>
        <rules>
            <name>Financial_Invoice_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial Invoice Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_FI_Request_Instructions</targetReference>
            </connector>
            <label>Financial Invoice Request</label>
        </rules>
        <rules>
            <name>Reprint_existing_invoice2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reprint existing invoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reprinting_Existing_Invoice</targetReference>
            </connector>
            <label>Reprint existing invoice</label>
        </rules>
        <rules>
            <name>Cannot_print_invoice_manual_invoice_creation2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot print invoice/manual invoice creation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Print_Invoice_Manual_Invoice_Creation</targetReference>
            </connector>
            <label>Cannot print invoice/manual invoice creation</label>
        </rules>
        <rules>
            <name>Invoice_cancellation</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resend Automatic Invoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancellation_Resend</targetReference>
            </connector>
            <label>Invoice cancellation</label>
        </rules>
        <rules>
            <name>Credit_limit_pay_terms_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit limit/payment terms change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_limit_pay_terms_change_screen</targetReference>
            </connector>
            <label>Credit limit/pay terms change</label>
        </rules>
        <rules>
            <name>Corporate_bankers_guarantee_letter_request1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bankers guarantee letter request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Corporate_bankers_guarantee_letter_request_screen</targetReference>
            </connector>
            <label>Corporate/bankers guarantee letter request</label>
        </rules>
        <rules>
            <name>Resend_invoice_credit_note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resend invoice/credit note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resend_invoice_credit_note_screen</targetReference>
            </connector>
            <label>Resend invoice/credit note</label>
        </rules>
        <rules>
            <name>Order_release_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order release status</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_release_status_screen</targetReference>
            </connector>
            <label>Order release status</label>
        </rules>
        <rules>
            <name>Statement_of_Account_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Statement of Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Statement_of_Account_Request_screen</targetReference>
            </connector>
            <label>Statement of Account - Request</label>
        </rules>
        <rules>
            <name>Statement_of_Account_Report_dispute_discrepancy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Statement of Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Report dispute/discrepancy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Statement_of_Account_Report_dispute_discrepancy_screen</targetReference>
            </connector>
            <label>Statement of Account - Report dispute/discrepancy</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AvailabilityDateKnown</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Availability_Date_Known__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BusinessUnitPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business_Unit__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChangeType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Change_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CompanyCodePicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Company_Code__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CorrectInvoiceReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Correct_Invoice_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrentOrdersPendingOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Orders_Pending__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrentOrdersPendingOptions2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Orders_Pending__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrentOrdersPendingPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Orders_Pending__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrentRiskRatingPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Risk_Rating__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocumentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_Types__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EntendedTermsRequestedOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Extended_Terms_Requested__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExtendedTermsRequestedPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Extended_Terms_Requested__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InquiryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Inquiry_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InternalChange</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Internal_Change_Picklist__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InvoiceCorrectionAffectInventory_Picker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Invoice_Correction_Due_to_Quantity_Issue__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InvoiceCorrectionPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Invoice_Correction_Due_to_Quantity_Issue__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MonthRequestPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Related_Month__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleChangesPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Changes__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleCostCentersPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Cost_Centers__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleCustomersPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Customers__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleGLAccountsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_GL_Accounts__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleSKUsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_SKUs__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleVendorsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Vendors__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProposedRiskRatingPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Proposed_Risk_Rating__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QuantityTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Quantity_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReferencedWorkflowExistingTicket</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Referenced_Workflow_Existing_Ticket__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Region</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RegionOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestTarget</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Target__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReviewTypePicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Review_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatePicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StorageLocationPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OTC_Storage_Location__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TrafficRequestReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Traffic_Request_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Audit request custom label</description>
        <name>Auditrequest_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Audit_request}</expression>
    </formulas>
    <formulas>
        <description>Cannot print invoice/manual invoice creation custom label</description>
        <name>Cannotprintinvoicemanualinvoicecreation_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Cannot_print_invoice_manual_invoice_creation}</expression>
    </formulas>
    <formulas>
        <description>Credit Request custom label</description>
        <name>CreditRequest_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Credit_Request}</expression>
    </formulas>
    <formulas>
        <description>Current Orders Amount USD Title Custom Label</description>
        <name>CurrentOrdersAmountUSD_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Current_Orders_Amount}</expression>
    </formulas>
    <formulas>
        <description>Customer Invoice Number Custom Label</description>
        <name>Customer_Invoice_Number_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Customer_Invoice_Number}</expression>
    </formulas>
    <formulas>
        <description>Customer Name Custom Label</description>
        <name>Customer_Name_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Customer_Name}</expression>
    </formulas>
    <formulas>
        <description>Customer PO Number Custom Label</description>
        <name>Customer_PO_Number_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Customer_PO_Number}</expression>
    </formulas>
    <formulas>
        <description>Customer Number Title Custom Label</description>
        <name>CustomerNumber_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Customer_Number}</expression>
    </formulas>
    <formulas>
        <description>D2D Transfer custom label</description>
        <name>D2DTransfer_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.D2D_Transfer}</expression>
    </formulas>
    <formulas>
        <description>Description Title Custom Label</description>
        <name>DescriptionTitle_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Description}</expression>
    </formulas>
    <formulas>
        <name>Doc_PriceMasterMaintenance</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;www.beamsuntory.com&quot;,&quot;Price Master Maintenance Form&quot;)</expression>
    </formulas>
    <formulas>
        <description>Do you have current order pending Custom Label</description>
        <name>DoYouHaveCurrentOrderPending_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Current_Order_Pending}</expression>
    </formulas>
    <formulas>
        <description>Extended Terms Requested Custom Label</description>
        <name>ExtendedTermsRequested_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Extended_Terms_Requested}</expression>
    </formulas>
    <formulas>
        <name>Field_Length_Error_Message</name>
        <dataType>String</dataType>
        <expression>{!$Label.Field_Length_Error_Message}</expression>
    </formulas>
    <formulas>
        <description>Financial invoice request custom label</description>
        <name>Financialinvoicerequest_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Financial_invoice_request}</expression>
    </formulas>
    <formulas>
        <description>Financial invoice request form guide Custom Label</description>
        <name>FinancialInvoiceRequestFormGuide_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Financial_Invoice_Request_Form_Guide}</expression>
    </formulas>
    <formulas>
        <name>GBS_Breadcrumbs</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Breadcrumbs}</expression>
    </formulas>
    <formulas>
        <name>GBS_Breadcrumbs_Trail</name>
        <dataType>String</dataType>
        <expression>TEXT({!CaseRecord.Type})&amp;IF(ISBLANK(TEXT({!CaseRecord.Category_1__c})), &quot;&quot;, &quot; &gt; &quot;&amp;TEXT({!CaseRecord.Category_1__c}))
&amp;IF(ISBLANK(TEXT({!CaseRecord.Category_2__c})), &quot;&quot;, &quot; &gt; &quot;&amp;TEXT({!CaseRecord.Category_2__c}))</expression>
    </formulas>
    <formulas>
        <name>GBS_Error</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Error}</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_1</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Header_1}</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_2</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Header_2}</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_3</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Header_3}</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_4</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Header_4}</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_6</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Header_6}</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Comments</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_Comments}</expression>
    </formulas>
    <formulas>
        <description>Only one financial request form can be submitted per case. If you have multiple requests, please submit separate cases.</description>
        <name>GBS_Label_FIRequest_instructions</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_FIRequest_instructions}</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Invoice_Correction_Affect_Inventory</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_Invoice_Correction_Affect_Inventory}</expression>
    </formulas>
    <formulas>
        <description>Requests for invoice correction cannot be processed unless submitted by someone on the authority matrix, or proof of approval for the correction is attached to the case.</description>
        <name>GBS_Label_invoice_correction_instructions</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_invoice_correction_instructions}</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Invoice_Number</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_Invoice_Number}</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Number_of_Items_Requested</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_Number_of_Items_Requested}</expression>
    </formulas>
    <formulas>
        <description>GBS Label PO, invoice or order number</description>
        <name>GBS_Label_PO_invoice_or_order_number</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_PO_invoice_or_order_number}</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_PO_Number</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_PO_Number}</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Primary_Category</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_Primary_Category}</expression>
    </formulas>
    <formulas>
        <description>For all quantity issues, please reach out to your Customer Service Coordinator for resolution. Clicking the &quot;Next&quot; button will route you to the start of the Global Business Services Case Management process.</description>
        <name>GBS_Label_quantity_issue_instructions</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_quantity_issue_instructions}</expression>
    </formulas>
    <formulas>
        <description>Reason for request</description>
        <name>GBS_Label_reason_for_request</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_Reason_for_request}</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Request_Description</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_Request_Description}</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_SAP_Number</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_SAP_Number}</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Secondary_Category</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_Secondary_Category}</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_SKU_Number</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_SKU_Number}</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Tertiary_Category</name>
        <dataType>String</dataType>
        <expression>{!$label.GBS_Label_Tertiary_Category}</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_1</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Sub_1}</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_2</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Sub_2}</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_3</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Sub_3}</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_4</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Sub_4}</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_6</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Sub_6}</expression>
    </formulas>
    <formulas>
        <name>GBS_Suggested_Docs</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Suggested_Docs}</expression>
    </formulas>
    <formulas>
        <description>Invoice Correction Due to Quantity Issue Custom Label</description>
        <name>Invoice_Correction_Due_to_Quantity_Issue_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Invoice_Correction_Due_to_Quantity_Issue}</expression>
    </formulas>
    <formulas>
        <description>Invoice cancellation custom label</description>
        <name>Invoicecancellation_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Invoice_cancellation}</expression>
    </formulas>
    <formulas>
        <name>InvoiceCorrectionInstructionsLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_invoice_correction_instructions}</expression>
    </formulas>
    <formulas>
        <description>Invoice request custom label</description>
        <name>Invoicerequest_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Invoice_request}</expression>
    </formulas>
    <formulas>
        <name>Label_Other</name>
        <dataType>String</dataType>
        <expression>{!$Label.CS_Flow_Picklist_Option_Other}</expression>
    </formulas>
    <formulas>
        <description>No Button Custom Label</description>
        <name>NoButton_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.No}</expression>
    </formulas>
    <formulas>
        <name>None_Picklist</name>
        <dataType>String</dataType>
        <expression>{!$Label.None_Picklist}</expression>
    </formulas>
    <formulas>
        <description>Number of Invoices to Correct Custom Label</description>
        <name>Number_of_Invoices_to_Correct_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Number_of_Invoices_to_Correct}</expression>
    </formulas>
    <formulas>
        <description>Number of Items Requested Custom Label</description>
        <name>Number_of_Items_Requested_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Number_of_Items_Requested}</expression>
    </formulas>
    <formulas>
        <description>Error Message passed to lightning component</description>
        <name>OrderDeliveryInvoiceNumberRequired</name>
        <dataType>String</dataType>
        <expression>{!$Label.OrderDeliveryInvoiceNumberRequired}</expression>
    </formulas>
    <formulas>
        <name>OrderDeliveryInvoicePONumberRequired</name>
        <dataType>String</dataType>
        <expression>{!$Label.OrderDeliveryInvoicePONumberRequired}</expression>
    </formulas>
    <formulas>
        <name>OrderInvoicePONumberRequired</name>
        <dataType>String</dataType>
        <expression>{!$Label.OrderInvoicePONumberRequired}</expression>
    </formulas>
    <formulas>
        <description>Other billing request custom label</description>
        <name>Otherbillingrequest_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Other_billing_request}</expression>
    </formulas>
    <formulas>
        <description>Region Title Custom Label</description>
        <name>Region_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Region}</expression>
    </formulas>
    <formulas>
        <description>Reprint existing invoice custom label</description>
        <name>Reprintexistinginvoice_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Reprint_existing_invoice}</expression>
    </formulas>
    <formulas>
        <description>Requested Deadline Custom Label</description>
        <name>Requested_Deadline_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Request_Deadline}</expression>
    </formulas>
    <formulas>
        <description>Requested Limit USD Title Custom Label</description>
        <name>RequestedLimitUSD_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Requested_Limit}</expression>
    </formulas>
    <formulas>
        <description>Request for invoice correction custom label</description>
        <name>Requestforinvoicecorrection_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Request_for_invoice_correction}</expression>
    </formulas>
    <formulas>
        <description>Resend automatic invoice custom label</description>
        <name>Resendautomaticinvoice_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Resend_automatic_invoice}</expression>
    </formulas>
    <formulas>
        <description>Subject Header Custom Label</description>
        <name>Subject_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Subject}</expression>
    </formulas>
    <formulas>
        <name>varReqDocCommisions</name>
        <dataType>String</dataType>
        <expression>{!$Label.ReqDocCanadaComm}</expression>
    </formulas>
    <formulas>
        <name>varReqDocD2DTrans</name>
        <dataType>String</dataType>
        <expression>{!$Label.ReqDocD2DTrans}</expression>
    </formulas>
    <formulas>
        <name>varReqDocFI</name>
        <dataType>String</dataType>
        <expression>{!$Label.ReqDocFIInvoiceReq}</expression>
    </formulas>
    <formulas>
        <name>varReqDocInvCorrect</name>
        <dataType>String</dataType>
        <expression>{!$Label.RequDocCorrectInv}</expression>
    </formulas>
    <formulas>
        <name>varReqDocTPM</name>
        <dataType>String</dataType>
        <expression>{!$Label.ReqDocCanadaTPM}</expression>
    </formulas>
    <formulas>
        <description>Yes Button Custom Label</description>
        <name>YesButton_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Yes}</expression>
    </formulas>
    <interviewLabel>GBS - OTC Billing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GBS - OTC Billing</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>1555</locationX>
        <locationY>639</locationY>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Number</name>
        <label>Find Case Number</label>
        <locationX>1704</locationX>
        <locationY>642</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>Category_1__c</queriedFields>
        <queriedFields>Category_2__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Category_3__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case_Record_Type</name>
        <label>Lookup Case Record Type</label>
        <locationX>61</locationX>
        <locationY>635</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Second_Category_Check</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OTC_Billing</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>CaseRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Audit_Request2</name>
        <label>Audit Request</label>
        <locationX>884</locationX>
        <locationY>33</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker8</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp8</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OTCCmp8</name>
            <extensionName>c:GBS_OTCFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedDeadlineDateVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedDeadlineDateRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Current_Orders_Pending__c</assignToReference>
                <name>anyCurrentOrdersPending</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Current_Orders_Amount__c</assignToReference>
                <name>currentOrdersAmount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Name__c</assignToReference>
                <name>customerName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Number__c</assignToReference>
                <name>customerNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Extended_Terms_Requested__c</assignToReference>
                <name>extendedTermsRequested</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Correction_Due_to_Quantity_Issue__c</assignToReference>
                <name>invoiceQualityIssue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Number__c</assignToReference>
                <name>invoiceNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Number_of_Invoices__c</assignToReference>
                <name>numberOfInvoices</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Number_of_Items_Requested__c</assignToReference>
                <name>numberOfItemsRequested</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Beam_Suntory_Order_Number__c</assignToReference>
                <name>orderNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Purchase_Order_Number__c</assignToReference>
                <name>poNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Region__c</assignToReference>
                <name>region</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Requested_deadline__c</assignToReference>
                <name>requestedDeadlineDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Proposed_Limit__c</assignToReference>
                <name>requestedLimit</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Subject</assignToReference>
                <name>subject</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Delivery_Number__c</assignToReference>
                <name>deliveryNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cancellation_Resend</name>
        <label>Cancellation / Resend</label>
        <locationX>881</locationX>
        <locationY>471</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker5</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp5</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OTCCmp5</name>
            <extensionName>c:GBS_OTCFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceNumberRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Current_Orders_Pending__c</assignToReference>
                <name>anyCurrentOrdersPending</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Current_Orders_Amount__c</assignToReference>
                <name>currentOrdersAmount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Name__c</assignToReference>
                <name>customerName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Number__c</assignToReference>
                <name>customerNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Extended_Terms_Requested__c</assignToReference>
                <name>extendedTermsRequested</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Correction_Due_to_Quantity_Issue__c</assignToReference>
                <name>invoiceQualityIssue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Number__c</assignToReference>
                <name>invoiceNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Number_of_Invoices__c</assignToReference>
                <name>numberOfInvoices</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Number_of_Items_Requested__c</assignToReference>
                <name>numberOfItemsRequested</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Beam_Suntory_Order_Number__c</assignToReference>
                <name>orderNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Purchase_Order_Number__c</assignToReference>
                <name>poNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Region__c</assignToReference>
                <name>region</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Requested_deadline__c</assignToReference>
                <name>requestedDeadlineDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Proposed_Limit__c</assignToReference>
                <name>requestedLimit</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Subject</assignToReference>
                <name>subject</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Delivery_Number__c</assignToReference>
                <name>deliveryNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cannot_Print_Invoice_Manual_Invoice_Creation</name>
        <label>Cannot Print Invoice/Manual Invoice Creation</label>
        <locationX>877</locationX>
        <locationY>213</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker2</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp2</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OTCCmp2</name>
            <extensionName>c:GBS_OTCFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deliveryNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredGroup</name>
                <value>
                    <stringValue>orderNumber,deliveryNumber,invoiceNumber</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredGroupErrorMessage</name>
                <value>
                    <elementReference>OrderDeliveryInvoiceNumberRequired</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Current_Orders_Pending__c</assignToReference>
                <name>anyCurrentOrdersPending</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Current_Orders_Amount__c</assignToReference>
                <name>currentOrdersAmount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Name__c</assignToReference>
                <name>customerName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Number__c</assignToReference>
                <name>customerNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Extended_Terms_Requested__c</assignToReference>
                <name>extendedTermsRequested</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Correction_Due_to_Quantity_Issue__c</assignToReference>
                <name>invoiceQualityIssue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Number__c</assignToReference>
                <name>invoiceNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Number_of_Invoices__c</assignToReference>
                <name>numberOfInvoices</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Number_of_Items_Requested__c</assignToReference>
                <name>numberOfItemsRequested</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Beam_Suntory_Order_Number__c</assignToReference>
                <name>orderNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Purchase_Order_Number__c</assignToReference>
                <name>poNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Region__c</assignToReference>
                <name>region</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Requested_deadline__c</assignToReference>
                <name>requestedDeadlineDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Proposed_Limit__c</assignToReference>
                <name>requestedLimit</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Subject</assignToReference>
                <name>subject</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Delivery_Number__c</assignToReference>
                <name>deliveryNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Corporate_bankers_guarantee_letter_request_screen</name>
        <label>Corporate/bankers guarantee letter request screen</label>
        <locationX>878</locationX>
        <locationY>720</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker16</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp16</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OTCFlowCmp16</name>
            <extensionName>c:GBS_OTCFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>customerNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Name__c</assignToReference>
                <name>customerName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Credit_limit_pay_terms_change_screen</name>
        <label>Credit limit/pay terms change screen</label>
        <locationX>876</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker11</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp11</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OTCFlowCmp11</name>
            <extensionName>c:GBS_OTCFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>customerNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNumberRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>extendedTermsRequestedVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>extendedTermsRequestedRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>anyCurrentOrdersPendingVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>anyCurrentOrdersPendingRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedLimitVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedLimitRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentOrdersAmountVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentOrdersAmountRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subjectVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subjectRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Name__c</assignToReference>
                <name>customerName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Number__c</assignToReference>
                <name>customerNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Extended_Terms_Requested__c</assignToReference>
                <name>extendedTermsRequested</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Current_Orders_Pending__c</assignToReference>
                <name>anyCurrentOrdersPending</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Requested_Limit__c</assignToReference>
                <name>requestedLimit</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Region__c</assignToReference>
                <name>region</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Current_Orders_Amount__c</assignToReference>
                <name>currentOrdersAmount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Subject</assignToReference>
                <name>subject</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.CurrencyIsoCode</assignToReference>
                <name>currency</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>D2D_Transfer2</name>
        <label>D2D Transfer</label>
        <locationX>878</locationX>
        <locationY>126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker7</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp7</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OTCCmp7</name>
            <extensionName>c:GBS_OTCFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>poNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>poNumberRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfItemsRequestedVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfItemsRequestedRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceNumberRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Current_Orders_Pending__c</assignToReference>
                <name>anyCurrentOrdersPending</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Current_Orders_Amount__c</assignToReference>
                <name>currentOrdersAmount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Name__c</assignToReference>
                <name>customerName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Number__c</assignToReference>
                <name>customerNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Extended_Terms_Requested__c</assignToReference>
                <name>extendedTermsRequested</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Correction_Due_to_Quantity_Issue__c</assignToReference>
                <name>invoiceQualityIssue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Number__c</assignToReference>
                <name>invoiceNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Number_of_Invoices__c</assignToReference>
                <name>numberOfInvoices</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Number_of_Items_Requested__c</assignToReference>
                <name>numberOfItemsRequested</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Beam_Suntory_Order_Number__c</assignToReference>
                <name>orderNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Purchase_Order_Number__c</assignToReference>
                <name>poNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Region__c</assignToReference>
                <name>region</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Requested_deadline__c</assignToReference>
                <name>requestedDeadlineDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Proposed_Limit__c</assignToReference>
                <name>requestedLimit</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Subject</assignToReference>
                <name>subject</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Delivery_Number__c</assignToReference>
                <name>deliveryNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Default</name>
        <label>Default</label>
        <locationX>876</locationX>
        <locationY>1142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker4</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp4</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OTCCmp4</name>
            <extensionName>c:GBS_OTCFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Current_Orders_Pending__c</assignToReference>
                <name>anyCurrentOrdersPending</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Current_Orders_Amount__c</assignToReference>
                <name>currentOrdersAmount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Name__c</assignToReference>
                <name>customerName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Number__c</assignToReference>
                <name>customerNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Extended_Terms_Requested__c</assignToReference>
                <name>extendedTermsRequested</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Correction_Due_to_Quantity_Issue__c</assignToReference>
                <name>invoiceQualityIssue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Number__c</assignToReference>
                <name>invoiceNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Number_of_Invoices__c</assignToReference>
                <name>numberOfInvoices</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Number_of_Items_Requested__c</assignToReference>
                <name>numberOfItemsRequested</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Beam_Suntory_Order_Number__c</assignToReference>
                <name>orderNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Purchase_Order_Number__c</assignToReference>
                <name>poNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Region__c</assignToReference>
                <name>region</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Requested_deadline__c</assignToReference>
                <name>requestedDeadlineDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Proposed_Limit__c</assignToReference>
                <name>requestedLimit</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Subject</assignToReference>
                <name>subject</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Delivery_Number__c</assignToReference>
                <name>deliveryNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Order_release_status_screen</name>
        <label>Order release status screen</label>
        <locationX>879</locationX>
        <locationY>869</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker13</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OTCFlowCmp13</name>
            <extensionName>c:GBS_OTCFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>customerNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNumberRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderNumberRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Name__c</assignToReference>
                <name>customerName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Number__c</assignToReference>
                <name>customerNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Beam_Suntory_Order_Number__c</assignToReference>
                <name>orderNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Quantity_Issue</name>
        <label>Quantity Issue</label>
        <locationX>878</locationX>
        <locationY>1312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SendHome</targetReference>
        </connector>
        <fields>
            <name>Alert2</name>
            <extensionName>c:AlertCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>GBS_Label_quantity_issue_instructions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headingSize</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reprinting_Existing_Invoice</name>
        <label>Reprinting Existing Invoice</label>
        <locationX>877</locationX>
        <locationY>551</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker6</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp6</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OTCCmp6</name>
            <extensionName>c:GBS_OTCFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>poNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deliveryNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredGroup</name>
                <value>
                    <stringValue>orderNumber,invoiceNumber,deliveryNumber,poNumber</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredGroupErrorMessage</name>
                <value>
                    <elementReference>OrderDeliveryInvoicePONumberRequired</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Current_Orders_Pending__c</assignToReference>
                <name>anyCurrentOrdersPending</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Current_Orders_Amount__c</assignToReference>
                <name>currentOrdersAmount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Name__c</assignToReference>
                <name>customerName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Number__c</assignToReference>
                <name>customerNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Extended_Terms_Requested__c</assignToReference>
                <name>extendedTermsRequested</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Correction_Due_to_Quantity_Issue__c</assignToReference>
                <name>invoiceQualityIssue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Number__c</assignToReference>
                <name>invoiceNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Number_of_Invoices__c</assignToReference>
                <name>numberOfInvoices</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Number_of_Items_Requested__c</assignToReference>
                <name>numberOfItemsRequested</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Beam_Suntory_Order_Number__c</assignToReference>
                <name>orderNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Purchase_Order_Number__c</assignToReference>
                <name>poNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Region__c</assignToReference>
                <name>region</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Requested_deadline__c</assignToReference>
                <name>requestedDeadlineDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Proposed_Limit__c</assignToReference>
                <name>requestedLimit</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Subject</assignToReference>
                <name>subject</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Delivery_Number__c</assignToReference>
                <name>deliveryNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_Description</name>
        <label>Request Description</label>
        <locationX>877</locationX>
        <locationY>389</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker3</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp3</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AlertCmp</name>
            <extensionName>c:AlertCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>Instructions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headingSize</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OTCCmp3</name>
            <extensionName>c:GBS_OTCFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Current_Orders_Pending__c</assignToReference>
                <name>anyCurrentOrdersPending</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Current_Orders_Amount__c</assignToReference>
                <name>currentOrdersAmount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Name__c</assignToReference>
                <name>customerName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Number__c</assignToReference>
                <name>customerNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Extended_Terms_Requested__c</assignToReference>
                <name>extendedTermsRequested</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Correction_Due_to_Quantity_Issue__c</assignToReference>
                <name>invoiceQualityIssue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Number__c</assignToReference>
                <name>invoiceNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Number_of_Invoices__c</assignToReference>
                <name>numberOfInvoices</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Number_of_Items_Requested__c</assignToReference>
                <name>numberOfItemsRequested</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Beam_Suntory_Order_Number__c</assignToReference>
                <name>orderNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Purchase_Order_Number__c</assignToReference>
                <name>poNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Region__c</assignToReference>
                <name>region</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Requested_deadline__c</assignToReference>
                <name>requestedDeadlineDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Proposed_Limit__c</assignToReference>
                <name>requestedLimit</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Subject</assignToReference>
                <name>subject</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Delivery_Number__c</assignToReference>
                <name>deliveryNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_For_Invoice_Correction2</name>
        <label>Request For Invoice Correction</label>
        <locationX>740</locationX>
        <locationY>1225</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Quality_Issue</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker10</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp10</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Alert</name>
            <extensionName>c:AlertCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>InvoiceCorrectionInstructionsLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headingSize</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OTCCmp10</name>
            <extensionName>c:GBS_OTCFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>poNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfInvoicesVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfInvoicesRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceQualityIssueVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceQualityIssueRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredGroup</name>
                <value>
                    <stringValue>poNumber,invoiceNumber,orderNumber</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredGroupErrorMessage</name>
                <value>
                    <elementReference>OrderInvoicePONumberRequired</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Current_Orders_Pending__c</assignToReference>
                <name>anyCurrentOrdersPending</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Current_Orders_Amount__c</assignToReference>
                <name>currentOrdersAmount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Name__c</assignToReference>
                <name>customerName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Number__c</assignToReference>
                <name>customerNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Extended_Terms_Requested__c</assignToReference>
                <name>extendedTermsRequested</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Correction_Due_to_Quantity_Issue__c</assignToReference>
                <name>invoiceQualityIssue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Number__c</assignToReference>
                <name>invoiceNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Number_of_Invoices__c</assignToReference>
                <name>numberOfInvoices</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Number_of_Items_Requested__c</assignToReference>
                <name>numberOfItemsRequested</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Beam_Suntory_Order_Number__c</assignToReference>
                <name>orderNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Purchase_Order_Number__c</assignToReference>
                <name>poNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Region__c</assignToReference>
                <name>region</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Requested_deadline__c</assignToReference>
                <name>requestedDeadlineDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Proposed_Limit__c</assignToReference>
                <name>requestedLimit</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Subject</assignToReference>
                <name>subject</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Delivery_Number__c</assignToReference>
                <name>deliveryNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Resend_invoice_credit_note_screen</name>
        <label>Resend invoice/credit note screen</label>
        <locationX>878</locationX>
        <locationY>797</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker12</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp12</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OTCFlowCmp12</name>
            <extensionName>c:GBS_OTCFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>invoiceNumberRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>creditNoteNumberRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>creditNoteNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Number__c</assignToReference>
                <name>invoiceNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Credit_Note_Number__c</assignToReference>
                <name>creditNoteNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Statement_of_Account_Report_dispute_discrepancy_screen</name>
        <label>Statement of Account - Report dispute/discrepancy screen</label>
        <locationX>873</locationX>
        <locationY>1038</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker15</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp15</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OTCFlowCmp15</name>
            <extensionName>c:GBS_OTCFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>customerNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNumberRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceNumberRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Name__c</assignToReference>
                <name>customerName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Number__c</assignToReference>
                <name>customerNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Number__c</assignToReference>
                <name>invoiceNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Statement_of_Account_Request_screen</name>
        <label>Statement of Account - Request screen</label>
        <locationX>877</locationX>
        <locationY>954</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker14</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumpCmp14</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OTCFlowCmp14</name>
            <extensionName>c:GBS_OTCFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>customerNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNumberRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Name__c</assignToReference>
                <name>customerName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Number__c</assignToReference>
                <name>customerNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Template</name>
        <label>Template</label>
        <locationX>79</locationX>
        <locationY>83</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FlowStageTracker1</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp1</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OTCCmp1</name>
            <extensionName>c:GBS_OTCFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>subjectVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subjectRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedLimitVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedLimitRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>poNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>poNumberRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderNumberRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfItemsRequestedVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfItemsRequestedRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfInvoicesVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfInvoicesRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceNumberRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>extendedTermsRequestedVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>extendedTermsRequestedRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNumberRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentOrdersAmountVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentOrdersAmountRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>anyCurrentOrdersPendingVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>anyCurrentOrdersPendingRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedDeadlineDateVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedDeadlineDateRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deliveryNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deliveryNumberRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Current_Orders_Pending__c</assignToReference>
                <name>anyCurrentOrdersPending</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Current_Orders_Amount__c</assignToReference>
                <name>currentOrdersAmount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Name__c</assignToReference>
                <name>customerName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Number__c</assignToReference>
                <name>customerNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Extended_Terms_Requested__c</assignToReference>
                <name>extendedTermsRequested</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Correction_Due_to_Quantity_Issue__c</assignToReference>
                <name>invoiceQualityIssue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Number__c</assignToReference>
                <name>invoiceNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Number_of_Invoices__c</assignToReference>
                <name>numberOfInvoices</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Number_of_Items_Requested__c</assignToReference>
                <name>numberOfItemsRequested</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Beam_Suntory_Order_Number__c</assignToReference>
                <name>orderNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Purchase_Order_Number__c</assignToReference>
                <name>poNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Region__c</assignToReference>
                <name>region</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Requested_deadline__c</assignToReference>
                <name>requestedDeadlineDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Proposed_Limit__c</assignToReference>
                <name>requestedLimit</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Subject</assignToReference>
                <name>subject</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Delivery_Number__c</assignToReference>
                <name>deliveryNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Lookup_Case_Record_Type</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>BuildDocs</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_Formatted</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Error}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RequiredFields_Formatted</name>
        <text>&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>Instructions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>send user to home screen</description>
        <name>sendToHomeScreen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
