unpackaged/main/default/flows/GBS_Payroll.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Case_Values</name>
        <label>Assign Case Values</label>
        <locationX>1187</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PayrollRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckReq</name>
        <label>CheckReq</label>
        <locationX>53</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Employee_Requests</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee Requests</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmployeeRequests</targetReference>
            </connector>
            <label>Employee Requests</label>
        </rules>
        <rules>
            <name>Partner_Late_instruction_Off_cycle_requests</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late instruction request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Off-cycle request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_1</targetReference>
            </connector>
            <label>Partner - Late instruction/Off-cycle requests</label>
        </rules>
        <rules>
            <name>Partner_Report_requests_Other_partner_requests</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Report Requests</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other partner request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Report_requests_Other_partner_requests_1</targetReference>
            </connector>
            <label>Partner - Report requests/Other partner requests</label>
        </rules>
        <rules>
            <name>Audit_Request_Internal_audit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Audit request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal audit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Audit_request_1</targetReference>
            </connector>
            <label>Audit Request - Internal audit</label>
        </rules>
        <rules>
            <name>Audit_Request_External_audit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Audit request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External audit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Audit_request_external</targetReference>
            </connector>
            <label>Audit Request - External audit</label>
        </rules>
        <rules>
            <name>Global_Mobility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor requests</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Global mobility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vendor_Requests_Global_Mobility</targetReference>
            </connector>
            <label>Global Mobility</label>
        </rules>
        <rules>
            <name>Vendor_Request_Monthly_payroll_Other_vendor_requests_1</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor requests</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly payroll queries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other vendor requests</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vendor_Request_Monthly_payroll_Other_vendor_requests</targetReference>
            </connector>
            <label>Vendor Request - Monthly payroll/Other vendor requests</label>
        </rules>
    </decisions>
    <interviewLabel>GBS - Payroll {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GBS - Payroll</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>1332</locationX>
        <locationY>249</locationY>
        <connector>
            <targetReference>Find_Case_Values</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Values</name>
        <label>Find Case Values</label>
        <locationX>1477</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Category_1__c</queriedFields>
        <queriedFields>Category_2__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Category_3__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Payroll_Record_Type</name>
        <label>Lookup Payroll Record Type</label>
        <locationX>50</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckReq</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payroll</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>PayrollRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Audit_request_1</name>
        <label>Audit request internal</label>
        <locationX>886</locationX>
        <locationY>328</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker03</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp03</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PayrollFlowCmp03</name>
            <extensionName>c:GBS_PayrollFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedDeadlineDateRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedDeadlineDateVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>countryOfInterestVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>countryOfInterestRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Requested_deadline__c</assignToReference>
                <name>requestedDeadlineDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Country_of_Interest__c</assignToReference>
                <name>countryOfInterest</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Audit_request_external</name>
        <label>Audit request external</label>
        <locationX>885</locationX>
        <locationY>425</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker06</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp06</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PayrollFlowCmp06</name>
            <extensionName>c:GBS_PayrollFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>companyNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>companyNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedDeadlineDateRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedDeadlineDateVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>countryOfInterestVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>countryOfInterestRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Company_Name__c</assignToReference>
                <name>companyName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Requested_deadline__c</assignToReference>
                <name>requestedDeadlineDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Country_of_Interest__c</assignToReference>
                <name>countryOfInterest</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Default</name>
        <label>Default</label>
        <locationX>886</locationX>
        <locationY>607</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker05_0</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp05_0</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PayrollFlowCmp05_0</name>
            <extensionName>c:GBS_PayrollFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EmployeeRequests</name>
        <label>Employee Requests</label>
        <locationX>883</locationX>
        <locationY>9</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker01</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp01</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PayrollFlowCmp01</name>
            <extensionName>c:GBS_PayrollFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>employeeIdRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>employeeIdVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>employeeLocationRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>employeeLocationVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Employee_ID__c</assignToReference>
                <name>employeeId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Employee_Location__c</assignToReference>
                <name>employeeLocation</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Partner_1</name>
        <label>Partner - Late instruction/off-cycle</label>
        <locationX>884</locationX>
        <locationY>142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker02</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp02</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PayrollFlowCmp02</name>
            <extensionName>c:GBS_PayrollFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>employeeIdRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>employeeIdVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>employeeNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>employeeNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>employeeLocationRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>employeeLocationVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Employee_ID__c</assignToReference>
                <name>employeeId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Employee_Name__c</assignToReference>
                <name>employeeName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Employee_Location__c</assignToReference>
                <name>employeeLocation</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Partner_Report_requests_Other_partner_requests_1</name>
        <label>Partner - Report requests/Other partner requests</label>
        <locationX>882</locationX>
        <locationY>221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker05</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp05</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PayrollFlowCmp05</name>
            <extensionName>c:GBS_PayrollFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payroll_Form</name>
        <label>Payroll - Form</label>
        <locationX>196</locationX>
        <locationY>129</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FlowStageTracker</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PayrollCmp</name>
            <extensionName>c:GBS_PayrollFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Vendor_Request_Monthly_payroll_Other_vendor_requests</name>
        <label>Vendor Request - Monthly payroll/Other vendor requests</label>
        <locationX>888</locationX>
        <locationY>698</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker07</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp07</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PayrollFlowCmp07</name>
            <extensionName>c:GBS_PayrollFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Vendor_Requests_Global_Mobility</name>
        <label>Vendor Requests - Global Mobility</label>
        <locationX>893</locationX>
        <locationY>522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker04</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp04</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PayrollFlowCmp04</name>
            <extensionName>c:GBS_PayrollFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>companyNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>companyNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>countryOfInterestRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>countryOfInterestVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Company_Name__c</assignToReference>
                <name>companyName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Country_of_Interest__c</assignToReference>
                <name>countryOfInterest</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Lookup_Payroll_Record_Type</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Payroll Record Type for Case Object</description>
        <name>PayrollRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
