unpackaged/main/default/flows/GBS_T_E.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Case_Values</name>
        <label>Assign Case Values</label>
        <locationX>1689</locationX>
        <locationY>574</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Instructions_Cost_center_data_upload</name>
        <label>Instructions Cost center data upload</label>
        <locationX>822</locationX>
        <locationY>706</locationY>
        <assignmentItems>
            <assignToReference>Instructions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GBSInst_Cost_center_data_upload</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Request_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Instructions_General_ledger_data_upload</name>
        <label>Instructions General ledger data upload</label>
        <locationX>813</locationX>
        <locationY>788</locationY>
        <assignmentItems>
            <assignToReference>Instructions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GBSInst_General_ledger_data_upload</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Request_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Instructions_Internal_order_WBS_data_upload</name>
        <label>Instructions Internal order/WBS data upload</label>
        <locationX>812</locationX>
        <locationY>897</locationY>
        <assignmentItems>
            <assignToReference>Instructions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GBSInst_Internal_order_WBS_data_upload</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Request_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_return_to_home_variable</name>
        <label>Set return to home variable</label>
        <locationX>1246</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>returnHome</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckReq_0_0_2</name>
        <label>CheckReq</label>
        <locationX>217</locationX>
        <locationY>727</locationY>
        <defaultConnector>
            <targetReference>Request_Description_Default_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_new_profiile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create new profile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.GBS_Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.GBS_Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Singapore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Profile</targetReference>
            </connector>
            <label>Create new profiile</label>
        </rules>
        <rules>
            <name>Create_new_profile_for_APAC</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create new profile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.GBS_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Singapore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.GBS_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Profile_APAC</targetReference>
            </connector>
            <label>Create new profile for APAC</label>
        </rules>
        <rules>
            <name>Reset_password</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reset password</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TE_Concur_profile_inquiries_Reset_password1</targetReference>
            </connector>
            <label>Reset password</label>
        </rules>
        <rules>
            <name>Reissue_credit_card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reissue credit card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TE_Corporate_credit_card_inquiries_Reissue_credit_card1</targetReference>
            </connector>
            <label>Reissue credit card</label>
        </rules>
        <rules>
            <name>Report_Request_And_Other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Report Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other travel &amp; entertainment request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request credit card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Description_Default</targetReference>
            </connector>
            <label>Report Request And Other</label>
        </rules>
        <rules>
            <name>Cost_Center_Data_Upload</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cost center data upload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Instructions_Cost_center_data_upload</targetReference>
            </connector>
            <label>Cost Center Data Upload</label>
        </rules>
        <rules>
            <name>General_Ledger_Data_Upload</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General ledger data upload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Instructions_General_ledger_data_upload</targetReference>
            </connector>
            <label>General Ledger Data Upload</label>
        </rules>
        <rules>
            <name>Internal_Order_WBS_Upload</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal order/WBS data upload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Instructions_Internal_order_WBS_data_upload</targetReference>
            </connector>
            <label>Internal Order/ WBS Upload</label>
        </rules>
    </decisions>
    <formulas>
        <name>CreditCardReissueSteps_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Credit_card_reissue}</expression>
    </formulas>
    <formulas>
        <description>Cost Center Data Upload Instructions</description>
        <name>GBSInst_Cost_center_data_upload</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBSInst_Cost_center_data_upload}</expression>
    </formulas>
    <formulas>
        <description>GBS instructions for General ledger data upload.</description>
        <name>GBSInst_General_ledger_data_upload</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBSInst_General_ledger_data_upload}</expression>
    </formulas>
    <formulas>
        <description>GBS Instructions for Internal order/WBS data upload.</description>
        <name>GBSInst_Internal_order_WBS_data_upload</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBSInst_Internal_order_WBS_data_upload}</expression>
    </formulas>
    <formulas>
        <description>Reset Password Link Custom Label</description>
        <name>ResetPasswordLink_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Reset_Password_Link}</expression>
    </formulas>
    <interviewLabel>GBS - T&amp;E {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GBS - T&amp;E</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>1827</locationX>
        <locationY>574</locationY>
        <connector>
            <targetReference>Find_Case_Number_0_0</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Number_0_0</name>
        <label>Find Case Number</label>
        <locationX>1982</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Category_1__c</queriedFields>
        <queriedFields>Category_2__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Category_3__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case_Record_Type</name>
        <label>Lookup Case Record Type</label>
        <locationX>85</locationX>
        <locationY>726</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckReq_0_0_2</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>T_E</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>CaseRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Create_New_Profile</name>
        <label>Create New Profile</label>
        <locationX>995</locationX>
        <locationY>451</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker3</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp3</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TEFlowCmp2</name>
            <extensionName>c:GBS_TEFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>costCenterVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>costCenterRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>emailVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>emailRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>employeeIdVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>employeeIdRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>expenseApproverVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>expenseApproverRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.GL_Account_Cost_Center__c</assignToReference>
                <name>costCenter</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Email_Address__c</assignToReference>
                <name>email</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Employee_Number__c</assignToReference>
                <name>employeeId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Expense_approver_name__c</assignToReference>
                <name>expenseApprover</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.First_name__c</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Middle_initial__c</assignToReference>
                <name>middleName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Last_name__c</assignToReference>
                <name>lastName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Case_Street__c</assignToReference>
                <name>workStreet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Case_City__c</assignToReference>
                <name>workCity</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Case_State__c</assignToReference>
                <name>workState</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Case_Postal_Code__c</assignToReference>
                <name>workPostalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Country__c</assignToReference>
                <name>workCountry</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_New_Profile_APAC</name>
        <label>Create New Profile APAC</label>
        <locationX>993</locationX>
        <locationY>540</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker4</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp4</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TEFlowCmp5</name>
            <extensionName>c:GBS_TEFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>employeeVendorCodeRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>employeeVendorCodeVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Employee_Vendor_Code__c</assignToReference>
                <name>employeeVendorCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.First_name__c</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Last_name__c</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_Description</name>
        <label>Request Description</label>
        <locationX>1000</locationX>
        <locationY>796</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker2</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp2</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AlertCmp</name>
            <extensionName>c:AlertCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>Instructions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headingSize</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TEFlowCmp3</name>
            <extensionName>c:GBS_TEFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.GL_Account_Cost_Center__c</assignToReference>
                <name>costCenter</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Email_Address__c</assignToReference>
                <name>email</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Employee_Number__c</assignToReference>
                <name>employeeId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Expense_approver_name__c</assignToReference>
                <name>expenseApprover</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.First_name__c</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Middle_initial__c</assignToReference>
                <name>middleName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Last_name__c</assignToReference>
                <name>lastName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Case_Street__c</assignToReference>
                <name>workStreet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Case_City__c</assignToReference>
                <name>workCity</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Case_State__c</assignToReference>
                <name>workState</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Case_Postal_Code__c</assignToReference>
                <name>workPostalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Country__c</assignToReference>
                <name>workCountry</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_Description_Default</name>
        <label>Request Description/Default</label>
        <locationX>996</locationX>
        <locationY>371</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker1</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp1</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TEFlowCmp1</name>
            <extensionName>c:GBS_TEFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.GL_Account_Cost_Center__c</assignToReference>
                <name>costCenter</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Email_Address__c</assignToReference>
                <name>email</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Employee_Number__c</assignToReference>
                <name>employeeId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Expense_approver_name__c</assignToReference>
                <name>expenseApprover</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.First_name__c</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Middle_initial__c</assignToReference>
                <name>middleName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Last_name__c</assignToReference>
                <name>lastName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Case_Street__c</assignToReference>
                <name>workStreet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Case_City__c</assignToReference>
                <name>workCity</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Case_State__c</assignToReference>
                <name>workState</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Case_Postal_Code__c</assignToReference>
                <name>workPostalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Country__c</assignToReference>
                <name>workCountry</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_Description_Default_0</name>
        <label>Request Description/Default</label>
        <locationX>997</locationX>
        <locationY>1077</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker1_0</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp1_0</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TEFlowCmp4</name>
            <extensionName>c:GBS_TEFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.GL_Account_Cost_Center__c</assignToReference>
                <name>costCenter</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Email_Address__c</assignToReference>
                <name>email</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Employee_Number__c</assignToReference>
                <name>employeeId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Expense_approver_name__c</assignToReference>
                <name>expenseApprover</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.First_name__c</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Middle_initial__c</assignToReference>
                <name>middleName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Last_name__c</assignToReference>
                <name>lastName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Case_Street__c</assignToReference>
                <name>workStreet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Case_City__c</assignToReference>
                <name>workCity</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Case_State__c</assignToReference>
                <name>workState</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Case_Postal_Code__c</assignToReference>
                <name>workPostalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Country__c</assignToReference>
                <name>workCountry</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TE_Concur_profile_inquiries_Reset_password1</name>
        <label>TE - Concur profile inquiries - Reset password</label>
        <locationX>999</locationX>
        <locationY>120</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_return_to_home_variable</targetReference>
        </connector>
        <fields>
            <name>Alert2</name>
            <extensionName>c:AlertCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headingSize</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>ResetPasswordLink_CL</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TE_Corporate_credit_card_inquiries_Reissue_credit_card1</name>
        <label>TE - Corporate credit card inquiries - Reissue credit card</label>
        <locationX>994</locationX>
        <locationY>253</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_return_to_home_variable</targetReference>
        </connector>
        <fields>
            <name>Alert</name>
            <extensionName>c:AlertCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>CreditCardReissueSteps_CL</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headingSize</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Template</name>
        <label>Template</label>
        <locationX>693</locationX>
        <locationY>96</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FlowStageTracker</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TemplateCmp</name>
            <extensionName>c:GBS_TEFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>costCenterVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>costCenterRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>emailVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>emailRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>employeeIdVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>employeeIdRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>expenseApproverVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>expenseApproverRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.GL_Account_Cost_Center__c</assignToReference>
                <name>costCenter</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Email_Address__c</assignToReference>
                <name>email</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Employee_Number__c</assignToReference>
                <name>employeeId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Expense_approver_name__c</assignToReference>
                <name>expenseApprover</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.First_name__c</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Middle_initial__c</assignToReference>
                <name>middleName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Last_name__c</assignToReference>
                <name>lastName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Case_Street__c</assignToReference>
                <name>workStreet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Case_City__c</assignToReference>
                <name>workCity</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Case_State__c</assignToReference>
                <name>workState</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Case_Postal_Code__c</assignToReference>
                <name>workPostalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Country__c</assignToReference>
                <name>workCountry</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Lookup_Case_Record_Type</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>Instructions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnHome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
