unpackaged/main/default/flows/GBS_RTR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Case_Values</name>
        <label>Assign Case Values</label>
        <locationX>1013</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>File_Required</name>
        <label>File Required</label>
        <locationX>825</locationX>
        <locationY>381</locationY>
        <assignmentItems>
            <assignToReference>AttachmentRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Attachment_Required_Message_1</name>
        <label>Set Attachment Required Message 1</label>
        <locationX>695</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>AttachmentRequiredMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FixedAssetRequestAttachmentRequiredMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Attachment_Required_Message_2</name>
        <label>Set Attachment Required Message 2</label>
        <locationX>680</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>AttachmentRequiredMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JournalEntryAttachmentRequiredMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>File_Required</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!None_Picklist}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>-- NONE --</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Categories</name>
        <label>Check Categories</label>
        <locationX>195</locationX>
        <locationY>362</locationY>
        <defaultConnector>
            <targetReference>Other_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Audit_Request0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Audit request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Audit_Request</targetReference>
            </connector>
            <label>Audit Request</label>
        </rules>
        <rules>
            <name>Bailment_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bailment request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bailment_request1</targetReference>
            </connector>
            <label>Bailment Request</label>
        </rules>
        <rules>
            <name>Fixed_asset_request_PAB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed asset request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Physical Asset Breakdown (PAB)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fixed_asset_request_PAB1</targetReference>
            </connector>
            <label>Fixed asset request - PAB</label>
        </rules>
        <rules>
            <name>Journal_entry_request_Accrual_reclassification_Entry_upload</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Journal entry request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accrual/reclassification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Journal entry upload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Journal_entry_request_1</targetReference>
            </connector>
            <label>Journal entry request - Accrual/reclassification/Entry upload</label>
        </rules>
        <rules>
            <name>Journal_entry_request_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Journal entry request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Accrual/reclassification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Journal entry upload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Journal_entry_request_2</targetReference>
            </connector>
            <label>Journal entry request - Other</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AvailabilityDateKnown</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Availability_Date_Known__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseCat1</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Groups__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varAccessGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!masterCaseType}&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Case_2nd_Type__c</object>
        <sortField>Sort__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseCat2</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Case_4th_Type__c</object>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseCat3</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Groups__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varAccessGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Case_3rd_Type__c</object>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseType</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>GBS_Picklist_Option__c</object>
        <outputAssignments>
            <assignToReference>GBSRecordTypeMaster</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChangeType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Change_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CompanyCodePicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Company_Code__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CompanyCodeRTPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Company_Code_RTR__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocumentAttachedPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_s_Attached__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocumentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_Types__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InquiryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Inquiry_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InternalChange</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Internal_Change_Picklist__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LocationPlantPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Storage_Location__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleChangesPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Changes__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleCostCentersPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Cost_Centers__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleCustomersPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Customers__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleGLAccountsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_GL_Accounts__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleSKUsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_SKUs__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleVendorsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Vendors__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PayGroupPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Pay_Groups__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReferencedWorkflowExistingTicket</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Referenced_Workflow_Existing_Ticket__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Region</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestTarget</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Target__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestTypePicker</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Picklist_Option__c</object>
        <outputAssignments>
            <assignToReference>RequestType</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatePicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StorageLocationPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OTC_Storage_Location__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TrafficRequestReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Traffic_Request_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Accrual/reclassification custom label</description>
        <name>Accrualreclassification_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Accrual_reclassification}</expression>
    </formulas>
    <formulas>
        <description>Audit Request custom label</description>
        <name>AuditRequest_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Audit_request}</expression>
    </formulas>
    <formulas>
        <description>Destruction request custom label</description>
        <name>Destructionrequest_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Destruction_request}</expression>
    </formulas>
    <formulas>
        <description>Disposal/impairment custom label</description>
        <name>Disposalimpairment_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Disposal_impairment}</expression>
    </formulas>
    <formulas>
        <name>Doc_PriceMasterMaintenance</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;www.beamsuntory.com&quot;,&quot;Price Master Maintenance Form&quot;)</expression>
    </formulas>
    <formulas>
        <name>DocumentAttached</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!CaseRecord.Category_3__c})= &quot;Other&quot; &amp;&amp; TEXT({!CaseRecord.Category_2__c}) = {!$Label.Destruction_Requests}, {!$Label.Approval_Attached}, 

IF(TEXT({!CaseRecord.Category_2__c}) = {!$Label.Disposal}, {!$Label.Disposal_Form_Attached},

IF(TEXT({!CaseRecord.Category_2__c}) = {!$Label.Repack_Requests}, {!$Label.VAP_Form_Attached},

CASE(TEXT({!CaseRecord.Category_3__c}),
&quot;PAB Form - Attached&quot;, {!$Label.PAB_Attached},
&quot;VAP&quot;, {!$Label.VAP_Form_Attached},
&quot;Expiration&quot;, {!$Label.Approval_Attached},
&quot;Obsolete&quot;, {!$Label.Approval_Attached},
&quot;Inventory Adjustment&quot;, {!$Label.Approval_Attached},
&quot;Cost Center / IO Reclassification&quot;, {!$Label.Manual_JE_form_Attached},
&quot;G/L Account Reclassification&quot;, {!$Label.Manual_JE_form_Attached},
&quot;Accrual&quot;, {!$Label.Manual_JE_form_Attached},
&quot;Upload&quot;, {!$Label.Upload_Form_Attached},
&quot;Intercompany&quot;, {!$Label.Manual_JE_form_Attached},
&quot;3rd Party&quot;, {!$Label.Manual_JE_form_Attached},
{!$Label.Documents_Attached}
)
)
)
)</expression>
    </formulas>
    <formulas>
        <name>Field_Length_Error_Message</name>
        <dataType>String</dataType>
        <expression>{!$Label.Field_Length_Error_Message}</expression>
    </formulas>
    <formulas>
        <name>FixedAssetRequestAttachmentRequiredMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_Fixed_asset_creation_attachment_text}</expression>
    </formulas>
    <formulas>
        <name>GBS_Breadcrumb_Trail</name>
        <dataType>String</dataType>
        <expression>TEXT({!CaseRecord.Type})&amp;IF(ISBLANK(TEXT({!CaseRecord.Category_1__c})), &quot;&quot;, &quot; &gt; &quot;&amp;TEXT({!CaseRecord.Category_1__c}))
&amp;IF(ISBLANK(TEXT({!CaseRecord.Category_2__c})), &quot;&quot;, &quot; &gt; &quot;&amp;TEXT({!CaseRecord.Category_2__c}))</expression>
    </formulas>
    <formulas>
        <name>GBS_Breadcrumbs</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Breadcrumbs}</expression>
    </formulas>
    <formulas>
        <name>GBS_Breadcrumbs_Trail</name>
        <dataType>String</dataType>
        <expression>TEXT({!CaseRecord.Type})&amp;IF(ISBLANK(TEXT({!CaseRecord.Category_1__c})), &quot;&quot;, &quot; &gt; &quot;&amp;TEXT({!CaseRecord.Category_1__c}))
&amp;IF(ISBLANK(TEXT({!CaseRecord.Category_2__c})), &quot;&quot;, &quot; &gt; &quot;&amp;TEXT({!CaseRecord.Category_2__c}))</expression>
    </formulas>
    <formulas>
        <name>GBS_Error</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Error}</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_1</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Header_1}</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_2</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Header_2}</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_3</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Header_3}</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_4</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Header_4}</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_6</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Header_6}</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Comments</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_Comments}</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Primary_Category</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_Primary_Category}</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Request_Description</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_Request_Description}</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Secondary_Category</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_Secondary_Category}</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_SKU_Number</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_SKU_Number}</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Tertiary_Category</name>
        <dataType>String</dataType>
        <expression>{!$label.GBS_Label_Tertiary_Category}</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_1</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Sub_1}</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_2</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Sub_2}</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_3</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Sub_3}</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_4</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Sub_4}</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_6</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Sub_6}</expression>
    </formulas>
    <formulas>
        <name>GBS_Suggested_Docs</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Suggested_Docs}</expression>
    </formulas>
    <formulas>
        <description>Include Date Document Number and Query Message Custom Label</description>
        <name>IncludeDateDocNumQuery_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Include_Date_Doc_Num_Query}</expression>
    </formulas>
    <formulas>
        <name>JournalEntryAttachmentRequiredMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_Journal_entry_attachment_message}</expression>
    </formulas>
    <formulas>
        <name>Label_Other</name>
        <dataType>String</dataType>
        <expression>{!$Label.CS_Flow_Picklist_Option_Other}</expression>
    </formulas>
    <formulas>
        <name>None_Picklist</name>
        <dataType>String</dataType>
        <expression>{!$Label.None_Picklist}</expression>
    </formulas>
    <formulas>
        <description>Other bailment request custom label</description>
        <name>Otherbailmentrequest_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Other_bailment_request}</expression>
    </formulas>
    <formulas>
        <description>Other fixed asset request custom label</description>
        <name>Otherfixedassetrequest_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Other_fixed_asset_request}</expression>
    </formulas>
    <formulas>
        <description>Other journal entry request custom label</description>
        <name>Otherjournalentryrequest_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Other_journal_entry_request}</expression>
    </formulas>
    <formulas>
        <description>Other record to report request custom label</description>
        <name>Otherrecordtoreportrequest_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Other_record_to_report_request}</expression>
    </formulas>
    <formulas>
        <description>Physical Asset Breakdown (PAB) custom label</description>
        <name>PhysicalAssetBreakdownPAB_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Physical_Asset_Breakdown}</expression>
    </formulas>
    <formulas>
        <description>Reason for Request Custom Label</description>
        <name>Reason_for_request_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_Reason_for_request}</expression>
    </formulas>
    <formulas>
        <description>Repack request custom label</description>
        <name>Repackrequest_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Repack_request}</expression>
    </formulas>
    <formulas>
        <description>Report request custom label</description>
        <name>Reportrequest_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Report_request}</expression>
    </formulas>
    <formulas>
        <description>Request deadline Custom Label</description>
        <name>Request_deadline_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Request_Deadline}</expression>
    </formulas>
    <formulas>
        <description>Supporting documentation request custom label</description>
        <name>Supportingdocumentationrequest_CL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Supporting_documentation_request}</expression>
    </formulas>
    <interviewLabel>GBS - RTR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GBS - RTR</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>1152</locationX>
        <locationY>373</locationY>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Number</name>
        <label>Find Case Number</label>
        <locationX>1287</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Category_1__c</queriedFields>
        <queriedFields>Category_2__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Category_3__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Record_Type</name>
        <label>Lookup Record Type</label>
        <locationX>38</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Categories</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RTR</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>CaseRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Audit_Request</name>
        <label>Audit Request</label>
        <locationX>548</locationX>
        <locationY>97</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTrackerCmp1</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AlertCmp</name>
            <extensionName>c:AlertCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>IncludeDateDocNumQuery_CL</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headingSize</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp1</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RTRCmp1</name>
            <extensionName>c:GBS_RTRFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedDeadlineDateVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedDeadlineDateRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Requested_deadline__c</assignToReference>
                <name>requestedDeadlineDate</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Bailment_request1</name>
        <label>Bailment request</label>
        <locationX>547</locationX>
        <locationY>192</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTrackerCmp2</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp2</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RTRCmp2</name>
            <extensionName>c:GBS_RTRFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fixed_asset_request_PAB1</name>
        <label>Fixed asset request - PAB</label>
        <locationX>544</locationX>
        <locationY>299</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Attachment_Required_Message_1</targetReference>
        </connector>
        <fields>
            <name>FlowStageTrackerCmp3</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp3</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RTRCmp3</name>
            <extensionName>c:GBS_RTRFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Journal_entry_request_1</name>
        <label>Journal entry request - 1</label>
        <locationX>548</locationX>
        <locationY>411</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Attachment_Required_Message_2</targetReference>
        </connector>
        <fields>
            <name>FlowStageTrackerCmp4</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp4</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RTRCmp4</name>
            <extensionName>c:GBS_RTRFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Journal_entry_request_2</name>
        <label>Journal entry request - 2</label>
        <locationX>550</locationX>
        <locationY>520</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTrackerCmp5</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp5</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RTRCmp5</name>
            <extensionName>c:GBS_RTRFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_0</name>
        <label>Other</label>
        <locationX>555</locationX>
        <locationY>619</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>FlowStageTrackerCmp2_0</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp2_0</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RTRCmp2_0</name>
            <extensionName>c:GBS_RTRFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Requested_deadline__c</assignToReference>
                <name>requestedDeadlineDate</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Template</name>
        <label>Template</label>
        <locationX>218</locationX>
        <locationY>96</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FlowStageTrackerCmp</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RTRCmp</name>
            <extensionName>c:GBS_RTRFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedDeadlineDateVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedDeadlineDateRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Requested_deadline__c</assignToReference>
                <name>requestedDeadlineDate</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Lookup_Record_Type</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>BuildDocs</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!DocLink}&lt;/FONT&gt;&lt;/SPAN&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_Formatted</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Error}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!RequiredFields}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RequiredFields_Formatted</name>
        <text>&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!RequiredField}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</text>
    </textTemplates>
    <variables>
        <name>AttachmentRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AttachmentRequiredMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Case_Record_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>ChangeRecordCreate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactIdFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DisplayDocuments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DocLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DocLinks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GBSRecordTypeMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GMDM_Case_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GMDM_Material_Create_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>masterCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryCatMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SecondaryCatMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SecondChoiceSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SuggestedDocs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccessGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrimaryCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSecondaryCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
