unpackaged/main/default/flows/GBS_PTP_AP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Case_Fields</name>
        <label>Assign Case Fields</label>
        <locationX>1454</locationX>
        <locationY>399</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Send_Home</name>
        <label>Send Home</label>
        <locationX>54</locationX>
        <locationY>666</locationY>
        <assignmentItems>
            <assignToReference>sendHome</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckReq_PTP</name>
        <label>CheckReq</label>
        <locationX>56</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Request_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>TBO_Adjustments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TBO Adjustments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TBO_Adjustments1</targetReference>
            </connector>
            <label>TBO Adjustments</label>
        </rules>
        <rules>
            <name>Audit_Requests</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Audit request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Audit_Request</targetReference>
            </connector>
            <label>Audit Requests</label>
        </rules>
        <rules>
            <name>Remittance_detail_request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remittance detail request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remittance_detail_request1</targetReference>
            </connector>
            <label>Remittance detail request</label>
        </rules>
        <rules>
            <name>Stop_block_unblock_payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stop/Block/Unblock payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Block_Unblock_Payment1</targetReference>
            </connector>
            <label>Stop/block/unblock payment</label>
        </rules>
        <rules>
            <name>Direct_debits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct debits</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Direct_debits1</targetReference>
            </connector>
            <label>Direct debits</label>
        </rules>
        <rules>
            <name>Invoice_payment_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice/Payment status</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_Payment_Status1</targetReference>
            </connector>
            <label>Invoice/payment status</label>
        </rules>
        <rules>
            <name>EDICOM_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EDICOM Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EDICOM_Support1</targetReference>
            </connector>
            <label>EDICOM Support</label>
        </rules>
        <rules>
            <name>Special_payment_request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Special payment request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Special_payment_request1</targetReference>
            </connector>
            <label>Special payment request</label>
        </rules>
        <rules>
            <name>MIGO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MIGO (GR non-stock only)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MIGO1</targetReference>
            </connector>
            <label>MIGO</label>
        </rules>
        <rules>
            <name>Submit_an_invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submit an invoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_Submission</targetReference>
            </connector>
            <label>Submit an invoice</label>
        </rules>
        <rules>
            <name>Status_request</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update/change request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PO Status</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Category_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PR Status</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PO_PR_Inquiries_Status</targetReference>
            </connector>
            <label>Status request</label>
        </rules>
    </decisions>
    <formulas>
        <name>InvoiceInstructions</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_Invoice_Submission_Instructions}</expression>
    </formulas>
    <formulas>
        <name>InvoiceInstructionsPDF</name>
        <dataType>String</dataType>
        <expression>{!$Label.GBS_Label_Invoice_submission_pdf}</expression>
    </formulas>
    <interviewLabel>GBS - PTP/AP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GBS - PTP/AP</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>1611</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>Find_Case_Number_0_0</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Number_0_0</name>
        <label>Find Case Number</label>
        <locationX>1771</locationX>
        <locationY>393</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Category_1__c</queriedFields>
        <queriedFields>Category_2__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Category_3__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case_Record_Type</name>
        <label>Lookup Case Record Type</label>
        <locationX>60</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckReq_PTP</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PTP_AP</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>CaseRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Audit_Request</name>
        <label>Audit Request</label>
        <locationX>854</locationX>
        <locationY>76</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Fields</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker9</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp9</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PTPFlowCmp9</name>
            <extensionName>c:GBS_PTPFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestedDeadlineDateVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedDeadlineDateRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Requested_deadline__c</assignToReference>
                <name>requestedDeadlineDate</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Detail</name>
        <label>Detail</label>
        <locationX>466</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FlowStageTracker1</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp1</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PTPFlowCmp1</name>
            <extensionName>c:GBS_PTPFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>vendorNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorNumberRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amountVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amountRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>companyCodeVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>companyCodeRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceDateVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceDateRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceNumberRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>checkNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>checkNumberRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>purchaseOrderRequisitionNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>purchaseOrderRequisitionNumberRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedDeadlineDateVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedDeadlineDateRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Amount__c</assignToReference>
                <name>amount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Check_Number__c</assignToReference>
                <name>checkNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Company_Code__c</assignToReference>
                <name>companyCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.CurrencyIsoCode</assignToReference>
                <name>currency</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Date__c</assignToReference>
                <name>invoiceDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Number__c</assignToReference>
                <name>invoiceNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Purchase_Requisition_Number__c</assignToReference>
                <name>purchaseOrderRequisitionNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Requested_deadline__c</assignToReference>
                <name>requestedDeadlineDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Vendor_Name__c</assignToReference>
                <name>vendorName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Vendor_Number__c</assignToReference>
                <name>vendorNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Direct_debits1</name>
        <label>Direct debits</label>
        <locationX>856</locationX>
        <locationY>640</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Fields</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker08</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp08</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PTPFlowCmp08</name>
            <extensionName>c:GBS_PTPFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>vendorNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorNumberRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amountRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amountVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>companyCodeRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>companyCodeVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Vendor_Name__c</assignToReference>
                <name>vendorName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Vendor_Number__c</assignToReference>
                <name>vendorNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Amount__c</assignToReference>
                <name>amount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.CurrencyIsoCode</assignToReference>
                <name>currency</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Company_Code__c</assignToReference>
                <name>companyCode</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EDICOM_Support1</name>
        <label>EDICOM Support</label>
        <locationX>854</locationX>
        <locationY>396</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Fields</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker05</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp05</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PTPFlowCmp05</name>
            <extensionName>c:GBS_PTPFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>vendorNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Vendor_Name__c</assignToReference>
                <name>vendorName</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invoice_Payment_Status1</name>
        <label>Invoice/Payment Status</label>
        <locationX>851</locationX>
        <locationY>314</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Fields</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker04</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp04</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PTPFlowCmp04</name>
            <extensionName>c:GBS_PTPFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>vendorNumberRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceNumberRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceDateRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceDateVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>poNumberRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>poNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amountRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amountVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Vendor_Number__c</assignToReference>
                <name>vendorNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Number__c</assignToReference>
                <name>invoiceNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Amount__c</assignToReference>
                <name>amount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.CurrencyIsoCode</assignToReference>
                <name>currency</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Date__c</assignToReference>
                <name>invoiceDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Purchase_Order_Number__c</assignToReference>
                <name>poNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invoice_Submission</name>
        <label>Invoice Submission</label>
        <locationX>56</locationX>
        <locationY>573</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Home</targetReference>
        </connector>
        <fields>
            <name>BreadCrumbCmp</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GBS_Header_Number_of_Invoices_Text_0_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!InvoiceInstructions}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InvoiceInstructionsPDFLink</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://beamsuntory.my.salesforce.com/sfc/p/o0000000cCkJ/a/1J000000g7ZO/wEdM.4tO65zp5dMRGHeSdZ_74O8b_1o8MvcB.HzHMaU&quot; TARGET=&quot;_blank&quot;&gt;{!InvoiceInstructionsPDF}&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MIGO1</name>
        <label>MIGO</label>
        <locationX>857</locationX>
        <locationY>553</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Fields</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker07</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp07</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PTPFlowCmp07</name>
            <extensionName>c:GBS_PTPFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>amountRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amountVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>poNumberRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>poNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Amount__c</assignToReference>
                <name>amount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.CurrencyIsoCode</assignToReference>
                <name>currency</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Purchase_Order_Number__c</assignToReference>
                <name>poNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PO_PR_Inquiries_Status</name>
        <label>PO/PR Inquiries/Status</label>
        <locationX>857</locationX>
        <locationY>720</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Fields</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker09</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp09</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PTPFlowCmp09</name>
            <extensionName>c:GBS_PTPFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>purchaseOrderRequisitionNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>purchaseOrderRequisitionNumberRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Purchase_Requisition_Number__c</assignToReference>
                <name>purchaseOrderRequisitionNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Remittance_detail_request1</name>
        <label>Remittance detail request</label>
        <locationX>852</locationX>
        <locationY>160</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Fields</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker02</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp02</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PTPFlowCmp02</name>
            <extensionName>c:GBS_PTPFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>vendorNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorNumberRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceNumberRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amountRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amountVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Vendor_Name__c</assignToReference>
                <name>vendorName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Number__c</assignToReference>
                <name>invoiceNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Amount__c</assignToReference>
                <name>amount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.CurrencyIsoCode</assignToReference>
                <name>currency</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Vendor_Number__c</assignToReference>
                <name>vendorNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_Description</name>
        <label>Request Description</label>
        <locationX>856</locationX>
        <locationY>801</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Fields</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker4</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp4</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PTPFlowCmp4</name>
            <extensionName>c:GBS_PTPFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Amount__c</assignToReference>
                <name>amount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Check_Number__c</assignToReference>
                <name>checkNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Company_Code__c</assignToReference>
                <name>companyCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.CurrencyIsoCode</assignToReference>
                <name>currency</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Date__c</assignToReference>
                <name>invoiceDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Number__c</assignToReference>
                <name>invoiceNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Purchase_Requisition_Number__c</assignToReference>
                <name>purchaseOrderRequisitionNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Requested_deadline__c</assignToReference>
                <name>requestedDeadlineDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Vendor_Name__c</assignToReference>
                <name>vendorName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Vendor_Number__c</assignToReference>
                <name>vendorNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Name__c</assignToReference>
                <name>customerName</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Special_payment_request1</name>
        <label>Special payment request</label>
        <locationX>855</locationX>
        <locationY>476</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Fields</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker06</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp06</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PTPFlowCmp06</name>
            <extensionName>c:GBS_PTPFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>vendorNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceNumberRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invoiceNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amountRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amountVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>poNumberRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>poNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Vendor_Name__c</assignToReference>
                <name>vendorName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Invoice_Number__c</assignToReference>
                <name>invoiceNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Amount__c</assignToReference>
                <name>amount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.CurrencyIsoCode</assignToReference>
                <name>currency</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Purchase_Order_Number__c</assignToReference>
                <name>poNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Stop_Block_Unblock_Payment1</name>
        <label>Stop/Block/Unblock Payment</label>
        <locationX>854</locationX>
        <locationY>235</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Fields</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker03</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp03</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PTPFlowCmp03</name>
            <extensionName>c:GBS_PTPFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>vendorNumberRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vendorNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>checkNumberRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>checkNumberVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Vendor_Number__c</assignToReference>
                <name>vendorNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Check_Number__c</assignToReference>
                <name>checkNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TBO_Adjustments1</name>
        <label>TBO Adjustments</label>
        <locationX>856</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Fields</targetReference>
        </connector>
        <fields>
            <name>FlowStageTracker01</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BreadCrumbCmp01</name>
            <extensionName>c:GBS_BreadCrumbCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primary</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondary</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tertiary</name>
                <value>
                    <elementReference>CaseRecord.Category_3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PTPFlowCmp01</name>
            <extensionName>c:GBS_PTPFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>customerNameRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNameVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDescriptionVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondaryCategory</name>
                <value>
                    <elementReference>CaseRecord.Category_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord.Customer_Name__c</assignToReference>
                <name>customerName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseRecord.Description</assignToReference>
                <name>requestDescription</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Lookup_Case_Record_Type</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>DocLinks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sendHome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
