unpackaged/main/default/flows/PR_Header_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_to_PR_Header_Record_Page</name>
        <label>Redirect to PR Header Record Page</label>
        <locationX>1061</locationX>
        <locationY>393</locationY>
        <actionName>c:PRHeaderRecordRedirectCmp</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>PR_HeaderObj.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_PR_Header_Object</name>
        <label>Assign PR Header Object</label>
        <locationX>925</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>PR_HeaderObj.Vendor_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PR_HeaderObj.Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paymentTermsfromflow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PR_HeaderObj.PR_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>prCurrency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PR_HeaderObj.SAP_Company_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sapCompanyCodeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PR Header Created</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_PR_Header</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Print_Account_Error</name>
        <label>Print Account Error</label>
        <locationX>344</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Vendor_Account_Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Error_Message_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PR_Header_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Account_Error_Message</name>
        <label>Remove Account Error Message</label>
        <locationX>501</locationX>
        <locationY>131</locationY>
        <assignmentItems>
            <assignToReference>Vendor_Account_Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Additional Details</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PR_Header_Additional_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>None</name>
        <choiceText>{!PRNone}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PRNone</elementReference>
        </value>
    </choices>
    <decisions>
        <name>PR_Vendor_Account_Check</name>
        <label>PR Vendor Account Check</label>
        <locationX>312</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>Remove_Account_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Account_or_SAP_Code_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sapCompanyCodeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Print_Account_Error</targetReference>
            </connector>
            <label>Is Account or SAP Code Null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PaymentTerms</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Terms__c</picklistField>
        <picklistObject>PR_Header__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PR_Currency_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PR_Currency__c</picklistField>
        <picklistObject>PR_Header__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SAPSupport</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SAP_Support__c</picklistField>
        <picklistObject>PR_Header__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>PR Header Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PR Header Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_PR_Header</name>
        <label>Insert PR Header</label>
        <locationX>1046</locationX>
        <locationY>219</locationY>
        <connector>
            <targetReference>PR_Header_Created</targetReference>
        </connector>
        <inputReference>PR_HeaderObj</inputReference>
    </recordCreates>
    <screens>
        <name>PR_Header_Additional_Details</name>
        <label>PR Header Additional Details</label>
        <locationX>669</locationX>
        <locationY>131</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_PR_Header_Object</targetReference>
        </connector>
        <fields>
            <name>Stage2</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PR_Additional_Details</name>
            <extensionName>c:PRAdditionalDetailsCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>paymentTerms</name>
                <value>
                    <elementReference>paymentTermsfromflow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>prCurrency</name>
                <value>
                    <elementReference>prCurrency</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>paymentTermsfromflow</assignToReference>
                <name>paymentTerms</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>prCurrency</assignToReference>
                <name>prCurrency</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PR_Header_Created</name>
        <label>PR  Header Created</label>
        <locationX>1169</locationX>
        <locationY>219</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Stage3</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>GoToRecord</name>
            <extensionName>c:PRHeaderRecordRedirectCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>PR_HeaderObj.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PR_Header_Details</name>
        <label>PR Header Details</label>
        <locationX>181</locationX>
        <locationY>211</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PR_Vendor_Account_Check</targetReference>
        </connector>
        <fields>
            <name>Stage1</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AccountError</name>
            <fieldText>&lt;p&gt;{!Vendor_Account_Error_Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PR_Account_Search</name>
            <extensionName>c:PRAccountSearchModalCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sapCompanyCodeId</name>
                <value>
                    <elementReference>sapCompanyCodeId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>accountId</assignToReference>
                <name>accountId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>sapCompanyCodeId</assignToReference>
                <name>sapCompanyCodeId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Additional_Details</name>
        <isActive>true</isActive>
        <label>Additional Details</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Choose_Vendor_Account</name>
        <isActive>true</isActive>
        <label>Choose Vendor Account</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>PR_Header_Created_Stage</name>
        <isActive>true</isActive>
        <label>PR Header Created</label>
        <stageOrder>3</stageOrder>
    </stages>
    <start>
        <locationX>53</locationX>
        <locationY>211</locationY>
        <connector>
            <targetReference>PR_Header_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Account_Error_Message_Formatted</name>
        <text>&lt;p&gt;&lt;b style=&quot;color: rgb(218, 17, 17);&quot;&gt;Vendor Account  &amp;amp; SAP Company Code are required to submit a PR Request.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(10, 121, 240); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;If there are no SAP Company Code options, contact Brand Investment System Admin.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_Formatted</name>
        <text>&lt;p&gt;&lt;b style=&quot;color: rgb(221, 14, 14);&quot;&gt;Please fill out the required fields.&lt;/b&gt;&lt;b style=&quot;color: rgb(221, 9, 9);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CurrentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Choose Vendor Account</stringValue>
        </value>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>paymentTermsfromflow</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PR_HeaderObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PR_Header__c</objectType>
    </variables>
    <variables>
        <name>prCurrency</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PRNone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>--None--</stringValue>
        </value>
    </variables>
    <variables>
        <name>sapCompanyCodeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Vendor_Account_Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
