unpackaged/main/default/flows/Quality_Claim_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Case_Number</name>
        <label>Assign Case Number</label>
        <locationX>1516</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.CaseNumber</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ClearError</name>
        <label>ClearError</label>
        <locationX>76</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RadioButton</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_Quaity_0</name>
        <label>ClearError</label>
        <locationX>286</locationX>
        <locationY>143</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quality_Claim_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_Quality</name>
        <label>ClearError_Quality</label>
        <locationX>241</locationX>
        <locationY>21</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_Quality</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError</name>
        <label>PrintError</label>
        <locationX>532</locationX>
        <locationY>191</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quality_Claim_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_Quality</name>
        <label>PrintError_Quality</label>
        <locationX>564</locationX>
        <locationY>89</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quality_Claim_Type_Seleciton_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetBaliment</name>
        <label>SetBaliment</label>
        <locationX>1034</locationX>
        <locationY>24</locationY>
        <assignmentItems>
            <assignToReference>ISBailment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ISTravel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ClearError_Quaity_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNone</name>
        <label>SetNone</label>
        <locationX>1055</locationX>
        <locationY>93</locationY>
        <assignmentItems>
            <assignToReference>ISBailment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ISTravel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ClearError_Quaity_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField</name>
        <label>SetReqField</label>
        <locationX>212</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductSizeLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0</name>
        <label>SetReqField</label>
        <locationX>402</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SampleAvailableLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0</name>
        <label>SetReqField</label>
        <locationX>654</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingPlantLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0_0</name>
        <label>SetReqField</label>
        <locationX>780</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IssueDefinitionLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0_0_1</name>
        <label>SetReqField</label>
        <locationX>903</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LotCodeLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0_0_1_1</name>
        <label>SetReqField</label>
        <locationX>1025</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0_0_1_1_1</name>
        <label>SetReqField</label>
        <locationX>1148</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityTypeLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0_0_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0_0_1_1_1_1</name>
        <label>SetReqField</label>
        <locationX>1272</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherIssueLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0_0_1_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_Quality</name>
        <label>SetReqField_Quality</label>
        <locationX>702</locationX>
        <locationY>2</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QualityTypeLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_Quality</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields</name>
        <label>SetReqFields</label>
        <locationX>260</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0</name>
        <label>SetReqFields</label>
        <locationX>401</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0</name>
        <label>SetReqFields</label>
        <locationX>650</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0_0</name>
        <label>SetReqFields</label>
        <locationX>778</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0_0_1</name>
        <label>SetReqFields</label>
        <locationX>898</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0_0_1_1</name>
        <label>SetReqFields</label>
        <locationX>1023</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0_0_1_1_1</name>
        <label>SetReqFields</label>
        <locationX>1149</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0_0_1_1_1_1</name>
        <label>SetReqFields</label>
        <locationX>1267</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_Quality</name>
        <label>SetReqFields_Quality</label>
        <locationX>862</locationX>
        <locationY>15</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_Quality</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTravel</name>
        <label>SetTravel</label>
        <locationX>925</locationX>
        <locationY>149</locationY>
        <assignmentItems>
            <assignToReference>ISTravel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ISBailment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ClearError_Quaity_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Bailment</name>
        <choiceText>Bailment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bailment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Blank</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;  &lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>&lt;DIV ALIGN=&quot;JUSTIFY&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!NonePicklist}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>--None--</stringValue>
        </value>
    </choices>
    <choices>
        <name>None_Select1</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Travel_Retail</name>
        <choiceText>Travel Retail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Travel Retail</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckReq</name>
        <label>CheckReq</label>
        <locationX>1274</locationX>
        <locationY>423</locationY>
        <defaultConnector>
            <targetReference>Quality_Claim_Record_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Issue_Definition_Quality</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Label_Other</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Issue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0_0_1_1_1_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
        <rules>
            <name>Errors_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorNum</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrintError</targetReference>
            </connector>
            <label>Errors Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0</name>
        <label>CheckReq</label>
        <locationX>214</locationX>
        <locationY>544</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Size</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0</name>
        <label>CheckReq</label>
        <locationX>396</locationX>
        <locationY>550</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sample_Available</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_0_0</name>
        <label>CheckReq</label>
        <locationX>665</locationX>
        <locationY>563</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shipping_Plant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_0_0_0</name>
        <label>CheckReq</label>
        <locationX>778</locationX>
        <locationY>415</locationY>
        <defaultConnector>
            <targetReference>CheckReq_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Issue_Definition_Quality</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_1</name>
        <label>CheckReq</label>
        <locationX>904</locationX>
        <locationY>419</locationY>
        <defaultConnector>
            <targetReference>CheckReq_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sample_Available</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lot_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0_0_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_1_1</name>
        <label>CheckReq</label>
        <locationX>1027</locationX>
        <locationY>420</locationY>
        <defaultConnector>
            <targetReference>CheckReq_1_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantity_Quantity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0_0_1_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_1_1_1</name>
        <label>CheckReq</label>
        <locationX>1149</locationX>
        <locationY>421</locationY>
        <defaultConnector>
            <targetReference>CheckReq</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_1_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0_0_1_1_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_Quality</name>
        <label>CheckReq_Quality</label>
        <locationX>481</locationX>
        <locationY>9</locationY>
        <defaultConnector>
            <targetReference>ClearError_Quaity_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_Quality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QualityCliamTypeNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>--None--</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_Quality</targetReference>
            </connector>
            <label>Eval_Quality</label>
        </rules>
        <rules>
            <name>Bailment_Quality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bailment_GTR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bailment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetBaliment</targetReference>
            </connector>
            <label>Bailment</label>
        </rules>
        <rules>
            <name>Travel_Retail_Quality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bailment_GTR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel Retail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTravel</targetReference>
            </connector>
            <label>Travel Retail</label>
        </rules>
        <rules>
            <name>None_Quality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bailment_GTR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>--None--</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNone</targetReference>
            </connector>
            <label>None</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>IssueDefinition</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Issue__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IssueDefinitionQualityClaimNew</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Group__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>AccessGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!QualityCliamTypeNew}&quot;</stringValue>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>FlowLanguage</elementReference>
            </value>
        </filters>
        <object>Choice_Case_3rd_Type__c</object>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductSizePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Size__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QualityClaimType</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Group__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>AccessGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!RecordTypeName}&quot;</stringValue>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>FlowLanguage</elementReference>
            </value>
        </filters>
        <object>Choice_Case_2nd_Type__c</object>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QuantityKnown</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Quantity_Known__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QuantityTypePicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Quantity_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SampleAvailable</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sample_Available__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ShippingPlant</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Shipping_Plant__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>ErrorMessageFormattedLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.Error_Message_Formatted_Label}</expression>
    </formulas>
    <formulas>
        <name>Field_Length_Error_Message</name>
        <dataType>String</dataType>
        <expression>{!$Label.Field_Length_Error_Message}</expression>
    </formulas>
    <formulas>
        <name>IssueDefinitionLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.Issue_Definition_Label}</expression>
    </formulas>
    <formulas>
        <name>Label_Other</name>
        <dataType>String</dataType>
        <expression>{!$Label.CS_Flow_Picklist_Option_Other}</expression>
    </formulas>
    <formulas>
        <name>LotCodeLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.Lot_Code_Label}</expression>
    </formulas>
    <formulas>
        <name>None_Select</name>
        <dataType>String</dataType>
        <expression>{!$Label.None}</expression>
    </formulas>
    <formulas>
        <name>NonePicklist</name>
        <dataType>String</dataType>
        <expression>{!$Label.None_Picklist}</expression>
    </formulas>
    <formulas>
        <name>OtherIssueLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.Other_Issue_Label}</expression>
    </formulas>
    <formulas>
        <name>ProductDescriptionLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.Product_Description_Label}</expression>
    </formulas>
    <formulas>
        <name>ProductSizeLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.Product_Size_Label}</expression>
    </formulas>
    <formulas>
        <name>PurchaseOrderNumberLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.Purchase_Order_Number_Label}</expression>
    </formulas>
    <formulas>
        <name>Quality_Issue_Definition</name>
        <dataType>String</dataType>
        <expression>{!$Label.Quality_Claim_Issue}</expression>
    </formulas>
    <formulas>
        <name>QualityTypeLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.Type_of_Quality_Claim}</expression>
    </formulas>
    <formulas>
        <name>QuantityKnownLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.Quantity_Known_Label}</expression>
    </formulas>
    <formulas>
        <name>QuantityLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.Quantity_Label}</expression>
    </formulas>
    <formulas>
        <name>QuantityTypeLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.Quantity_Type_Label}</expression>
    </formulas>
    <formulas>
        <name>SampleAvailableLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.Sample_Available_Label}</expression>
    </formulas>
    <formulas>
        <description>Ship Date</description>
        <name>ShipDateLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.Ship_Date}</expression>
    </formulas>
    <formulas>
        <name>ShippingPlantLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.Shipping_Plant_Label}</expression>
    </formulas>
    <formulas>
        <name>Step3QualityClaimHeader</name>
        <dataType>String</dataType>
        <expression>{!$Label.Step_3_Quality_Claim_Header}</expression>
    </formulas>
    <formulas>
        <name>Step_2_Quality_Claim_Choose_Header</name>
        <dataType>String</dataType>
        <expression>{!$Label.Step_2_Quality_Claim_Type}</expression>
    </formulas>
    <formulas>
        <name>Step_2_Quality_Claim_Sub_Header</name>
        <dataType>String</dataType>
        <expression>{!$Label.Step_2_Quality_Claim_Sub_Header}</expression>
    </formulas>
    <interviewLabel>Quality Claim Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quality Claim Subflow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Quality_Claim_Record_Create</name>
        <label>Quality Claim Record Create</label>
        <locationX>1521</locationX>
        <locationY>419</locationY>
        <assignRecordIdToReference>QualityClaimRecordCreate</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Beam_Suntory_Item_Number__c</field>
            <value>
                <elementReference>Beam_Suntory_Item_Number_Quality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beam_Suntory_Order_Number__c</field>
            <value>
                <elementReference>Beam_Suntory_Order_Number_Quality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Bailment_Claims__c</field>
            <value>
                <elementReference>ISBailment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_GTR_Distributor__c</field>
            <value>
                <elementReference>ISTravel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue__c</field>
            <value>
                <elementReference>Issue_Definition_Quality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lot_Code__c</field>
            <value>
                <elementReference>Lot_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Issue__c</field>
            <value>
                <elementReference>Other_Issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>Product_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Size__c</field>
            <value>
                <elementReference>ProductSizePicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order_Number__c</field>
            <value>
                <elementReference>Purchase_Order_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Bottles_or_Cases__c</field>
            <value>
                <elementReference>Quantity_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Type__c</field>
            <value>
                <elementReference>Quantity_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sample_Available__c</field>
            <value>
                <elementReference>SampleAvailable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_Date__c</field>
            <value>
                <elementReference>Ship_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Plant__c</field>
            <value>
                <elementReference>Shipping_Plant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>QualityCliamTypeNew</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Number</name>
        <label>Find Case Number</label>
        <locationX>1518</locationX>
        <locationY>345</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QualityClaimRecordCreate</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <screens>
        <name>Quality_Claim_Information</name>
        <label>Quality Claim Information</label>
        <locationX>79</locationX>
        <locationY>221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError</targetReference>
        </connector>
        <fields>
            <name>HeaderMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Step3QualityClaimHeader}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDisplay</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Beam_Suntory_Order_Number_Quality</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Beam Suntory Order Number&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Beam_Suntory_Item_Number_Quality</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Beam Suntory Item Number&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product_Description</name>
            <defaultValue>
                <elementReference>Product_Description</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!ProductDescriptionLabel}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 50</errorMessage>
                <formulaExpression>LEN({!Product_Description}) &lt;= 50</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Product_Size</name>
            <choiceReferences>ProductSizePicklist</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ProductSizeLabel}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sample_Available</name>
            <choiceReferences>SampleAvailable</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!SampleAvailableLabel}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Lot_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Lot_Code</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!LotCodeLabel}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 20</errorMessage>
                <formulaExpression>LEN({!Lot_Code}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Quantity_Quantity</name>
            <dataType>Number</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Quantity&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 4</errorMessage>
                <formulaExpression>{!Quantity_Quantity}&lt;= 1000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Purchase_Order_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Purchase_Order_Number</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!PurchaseOrderNumberLabel}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 100</errorMessage>
                <formulaExpression>LEN({!Purchase_Order_Number}) &lt;= 100</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Quantity_Type</name>
            <choiceReferences>QuantityTypePicker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!QuantityTypeLabel}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shipping_Plant</name>
            <choiceReferences>ShippingPlant</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ShippingPlantLabel}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ship_Date</name>
            <dataType>Date</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ShipDateLabel}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Issue_Definition_Quality</name>
            <choiceReferences>IssueDefinitionQualityClaimNew</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Quality_Issue_Definition}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Issue</name>
            <defaultValue>
                <elementReference>Other_Issue</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!OtherIssueLabel}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Other_Issue}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quality_Claim_Type_Seleciton_Screen</name>
        <label>Quality Claim Type Seleciton Screen</label>
        <locationX>49</locationX>
        <locationY>65</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_Quality</targetReference>
        </connector>
        <fields>
            <name>HeaderMessage_QualityClaim</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Step_2_Quality_Claim_Choose_Header}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Step_2_Quality_Claim_Sub_Header}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDisplayQualityClaim</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QualityCliamTypeNew</name>
            <choiceReferences>QualityClaimType</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!QualityTypeLabel}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Bailment_GTR</name>
            <choiceReferences>Bailment</choiceReferences>
            <choiceReferences>Travel_Retail</choiceReferences>
            <choiceReferences>None_Select1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Bailment/GTR</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Quality_Claim_Type_Seleciton_Screen</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ErrorMessage_Formatted</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!ErrorMessageFormattedLabel}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!RequiredFields}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RequiredFields_Formatted</name>
        <text>&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!RequiredField}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</text>
    </textTemplates>
    <variables>
        <name>AccessGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ContactIdFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreatedByLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FlowLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ISBailment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ISTravel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QualityClaimRecordCreate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RadioButton</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>None</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
