unpackaged/main/default/flows/Quality_Claim_Mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Submitter</name>
        <label>Send Email to Submitter</label>
        <locationX>704</locationX>
        <locationY>1003</locationY>
        <actionName>Case.Quality_Claim_Created_from_mobile_app</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Contact_Record_Type_Id</name>
        <label>Assign Contact Record Type Id</label>
        <locationX>1112</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ConsumerContact.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumerContactRecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Consumer_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_to_Case</name>
        <label>Assign Contact to Case</label>
        <locationX>1114</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumerContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_RecordType_for_Heath_Concern</name>
        <label>Assign New RecordType for Heath Concern</label>
        <locationX>744</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EscalatedFromRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quality Claim</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignExistingUserToCase</name>
        <label>AssignExistingUserToCase</label>
        <locationX>946</locationX>
        <locationY>692</locationY>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExisitingContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Values</name>
        <label>Set Default Values</label>
        <locationX>391</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mobile App</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QualityClaimRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Submitter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Complaint_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoBoolean</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>-- None --</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>NoText</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesBoolean</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>YesText</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>548</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Create_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsumerContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_Exist</name>
        <label>Does Contact Exist</label>
        <locationX>943</locationX>
        <locationY>577</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_Record_Type_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesContactExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExisitingContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignExistingUserToCase</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isHealthConcern</name>
        <label>isHealthConcern</label>
        <locationX>548</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>Create_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesHealthConcern</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Health_Concern__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_RecordType_for_Heath_Concern</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Mobile Version of Quality Claim Flow</description>
    <formulas>
        <description>If the user&apos;s email contains &quot;beamsuntory&quot; then the user is assumed to be an internal employee</description>
        <name>isInternal</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS(LOWER({!$User.Email}), &quot;@beamsuntory&quot;), TRUE,FALSE )</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Quality Claim Mobile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quality Claim Mobile</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>547</locationX>
        <locationY>700</locationY>
        <connector>
            <targetReference>Lookup_Case</targetReference>
        </connector>
        <inputReference>Case</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Consumer_Contact</name>
        <label>Create Consumer Contact</label>
        <locationX>1112</locationX>
        <locationY>690</locationY>
        <connector>
            <targetReference>Assign_Contact_to_Case</targetReference>
        </connector>
        <inputReference>ConsumerContact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_for_Contact</name>
        <label>Check for Contact</label>
        <locationX>748</locationX>
        <locationY>578</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_Exist</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumerContact.Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ExisitingContact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case</name>
        <label>Lookup Case</label>
        <locationX>547</locationX>
        <locationY>805</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Upload_Image_Video_of_the_Issue</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact_RecordTypeId</name>
        <label>Lookup Contact RecordTypeId</label>
        <locationX>211</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Default_Values</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consumer</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>ConsumerContactRecordTypeId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Escalated_Form_Record_Type_Id</name>
        <label>Lookup Escalated Form Record Type Id</label>
        <locationX>210</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Quality_Claim_Record_Type_Id</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Escalated_Form</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>EscalatedFromRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Quality_Claim_Record_Type_Id</name>
        <label>Lookup Quality Claim Record Type Id</label>
        <locationX>209</locationX>
        <locationY>145</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Contact_RecordTypeId</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quality_Claim</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>QualityClaimRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Claim_Details</name>
        <label>Claim Details</label>
        <locationX>547</locationX>
        <locationY>345</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>isHealthConcern</targetReference>
        </connector>
        <fields>
            <name>claimDetailsFlowStageTracker</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Claim Info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>pathType</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ClaimInfoCmp</name>
            <extensionName>c:QualityClaimCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sourceOfComplaint</name>
                <value>
                    <elementReference>Case.Complaint_Source__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>issueType</name>
                <value>
                    <elementReference>Case.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>issueTypeDefinition</name>
                <value>
                    <elementReference>Case.Issue__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isBeamInternal</name>
                <value>
                    <elementReference>isBeamInternal</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Case.Additional_Details_Rich_Text__c</assignToReference>
                <name>additionalInformation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Health_Concern__c</assignToReference>
                <name>healthConcern</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Lot_Code__c</assignToReference>
                <name>lotCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Number_of_Bottles__c</assignToReference>
                <name>numberOfBottles</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Number_of_Cases__c</assignToReference>
                <name>numberOfCases</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Product_Size__c</assignToReference>
                <name>productSize</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Universal_Product_Code__c</assignToReference>
                <name>upcVal</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ConsumerContact.Email</assignToReference>
                <name>consumerEmail</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ConsumerContact.FirstName</assignToReference>
                <name>consumerFirstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ConsumerContact.LastName</assignToReference>
                <name>consumerLastName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ConsumerContact.Phone</assignToReference>
                <name>consumerPhone</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.AccountId</assignToReference>
                <name>accountId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Location_Name__c</assignToReference>
                <name>locationName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Case_Street__c</assignToReference>
                <name>locationStreet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Case_City__c</assignToReference>
                <name>locationCity</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Case_State__c</assignToReference>
                <name>locationState</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Case_Country__c</assignToReference>
                <name>locationCountry</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Case_Postal_Code__c</assignToReference>
                <name>locationPostalCode</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Complaint_Type</name>
        <label>Complaint Type</label>
        <locationX>546</locationX>
        <locationY>234</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Claim_Details</targetReference>
        </connector>
        <fields>
            <name>complaintTypeStageTracker2</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Choose_Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>pathType</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>QualityClaimTypeCmp</name>
            <extensionName>c:QualityClaimComplaintTypesCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isBeamInternal</assignToReference>
                <name>isBeamInternal</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Type</assignToReference>
                <name>issueType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Issue__c</assignToReference>
                <name>issueTypeDefinition</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Brand__c</assignToReference>
                <name>brand</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Product_Type__c</assignToReference>
                <name>productType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Complaint_Source__c</assignToReference>
                <name>sourceOfComplaint</name>
            </outputParameters>
        </fields>
        <fields>
            <name>getGeoLocation</name>
            <extensionName>c:GeoLocationCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>855</locationX>
        <locationY>1005</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseCreatedAlert</name>
            <extensionName>c:AlertCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Your Case has been Created!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CaseInfo</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Case: &lt;B&gt;{!Case.CaseNumber}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GeoLocationCmp</name>
            <extensionName>c:GeoLocationCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Geolocation</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lot_Code_Upload</name>
        <label>Lot Code Upload</label>
        <locationX>546</locationX>
        <locationY>1002</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Email_to_Submitter</targetReference>
        </connector>
        <fields>
            <name>lotCodeUploadStageTracker</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Upload Lot Code Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>pathType</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>UploadLotCode</name>
            <extensionName>c:FileUploadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Image of Lot Code(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showFilePreview</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Image_Video_of_the_Issue</name>
        <label>Upload Image/Video of the Issue</label>
        <locationX>548</locationX>
        <locationY>909</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Lot_Code_Upload</targetReference>
        </connector>
        <fields>
            <name>issueUploadStageTracker</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Upload Issue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>pathType</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>File</name>
            <extensionName>c:FileUploadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Image(s) of Claim</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showFilePreview</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Choose_Type</name>
        <isActive>true</isActive>
        <label>Choose Type</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Claim_Info</name>
        <isActive>true</isActive>
        <label>Claim Info</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Upload_Issue</name>
        <isActive>true</isActive>
        <label>Upload Issue</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Upload_Lot_Code_Image</name>
        <isActive>true</isActive>
        <label>Upload Lot Code Image</label>
        <stageOrder>4</stageOrder>
    </stages>
    <startElementReference>Lookup_Escalated_Form_Record_Type_Id</startElementReference>
    <status>Active</status>
    <variables>
        <name>brand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Newly Created Quality Claim</description>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ConsumerContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ConsumerContactRecordTypeId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>EscalatedFromRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>ExisitingContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>isBeamInternal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IssueDefinitionVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IssueTypeVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Determines how the stage tracker at the top of the flow will be displayed. As of now options include &quot;path&quot; or &quot;base&quot;</description>
        <name>pathType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>base</stringValue>
        </value>
    </variables>
    <variables>
        <name>productType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QualityClaimRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>QuantityKnownVal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sourceOfComplaintVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
