unpackaged/main/default/flows/Quality_Claim_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assign_AccountId_to_Case</name>
        <label>Assign AccountId to Case</label>
        <locationX>514</locationX>
        <locationY>988</locationY>
        <actionName>c:AssignAccountIdLocalActionCmp</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Require_Attachment</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountApiName</name>
            <value>
                <stringValue>AccountId</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Submitter</name>
        <label>Send Email to Submitter</label>
        <locationX>709</locationX>
        <locationY>1322</locationY>
        <actionName>Case.Quality_Claim_Created_from_mobile_app</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Contact_to_Case</name>
        <label>Assign Contact to Case</label>
        <locationX>1081</locationX>
        <locationY>880</locationY>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumerContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignExistingUserToCase</name>
        <label>AssignExistingUserToCase</label>
        <locationX>910</locationX>
        <locationY>778</locationY>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExisitingContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Customer_Community_Origin</name>
        <label>Customer Community Origin</label>
        <locationX>330</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Device_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hide_Location_Fields</name>
        <label>Hide Location Fields</label>
        <locationX>719</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>ShowLocationFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Claim_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mobile_Device_Origin_0</name>
        <label>Mobile Device Origin</label>
        <locationX>514</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mobile App</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Device_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Attachment_Required</name>
        <label>Set Attachment Required</label>
        <locationX>724</locationX>
        <locationY>1089</locationY>
        <assignmentItems>
            <assignToReference>attachmentRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upload_Image_Video_of_the_Issue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Values</name>
        <label>Set Default Values</label>
        <locationX>188</locationX>
        <locationY>126</locationY>
        <assignmentItems>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QualityClaimRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Submitter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Complaint_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoBoolean</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>-- None --</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>NoText</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesBoolean</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>YesText</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>512</locationX>
        <locationY>661</locationY>
        <defaultConnector>
            <targetReference>Create_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsumerContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Device_Type</name>
        <label>Device Type</label>
        <locationX>513</locationX>
        <locationY>339</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Desktop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Device</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DESKTOP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Claim_Details</targetReference>
            </connector>
            <label>Desktop</label>
        </rules>
        <rules>
            <name>Mobile_Retail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Device</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PHONE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Device</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TABLET</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mobile_Account_Search</targetReference>
            </connector>
            <label>Mobile Retail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_Exist</name>
        <label>Does Contact Exist</label>
        <locationX>911</locationX>
        <locationY>662</locationY>
        <defaultConnector>
            <targetReference>Create_Consumer_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesContactExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExisitingContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignExistingUserToCase</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Require_Attachment</name>
        <label>Require Attachment</label>
        <locationX>515</locationX>
        <locationY>1093</locationY>
        <defaultConnector>
            <targetReference>Set_Attachment_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Consumer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Complaint_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Image_Video_of_the_Issue</targetReference>
            </connector>
            <label>Consumer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Device_Type</name>
        <label>Set Device Type</label>
        <locationX>329</locationX>
        <locationY>222</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Desktop_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Device</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DESKTOP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Community_Origin</targetReference>
            </connector>
            <label>Desktop</label>
        </rules>
        <rules>
            <name>Mobile</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>Device</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PHONE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Device</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TABLET</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mobile_Device_Origin_0</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <description>Flow that houses Quality Claim Submissions through the Salesforce Mobile App and Customer Community</description>
    <formulas>
        <description>If the user&apos;s email contains &quot;beamsuntory&quot; then the user is assumed to be an internal employee</description>
        <name>isInternal</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS(LOWER({!$User.Email}), &quot;@beamsuntory&quot;), TRUE,FALSE )</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Quality Claim Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quality Claim Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>511</locationX>
        <locationY>786</locationY>
        <connector>
            <targetReference>Lookup_Case</targetReference>
        </connector>
        <inputReference>Case</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Consumer_Contact</name>
        <label>Create Consumer Contact</label>
        <locationX>1080</locationX>
        <locationY>664</locationY>
        <connector>
            <targetReference>Assign_Contact_to_Case</targetReference>
        </connector>
        <inputReference>ConsumerContact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_for_Contact</name>
        <label>Check for Contact</label>
        <locationX>716</locationX>
        <locationY>663</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_Exist</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumerContact.Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ExisitingContact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case</name>
        <label>Lookup Case</label>
        <locationX>511</locationX>
        <locationY>891</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AccountId_to_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Brand__c</queriedFields>
        <queriedFields>Complaint_Source__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Quality_Claim_Record_Type_Id</name>
        <label>Lookup Quality Claim Record Type Id</label>
        <locationX>180</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Default_Values</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quality_Claim</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>QualityClaimRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Claim_Details</name>
        <label>Claim Details</label>
        <locationX>512</locationX>
        <locationY>544</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <fields>
            <name>claimDetailsFlowStageTracker</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Claim Info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ClaimInfoCmp</name>
            <extensionName>c:QC_InfoCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sourceOfComplaint</name>
                <value>
                    <elementReference>Case.Complaint_Source__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>issueType</name>
                <value>
                    <elementReference>Case.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>issueTypeDefinition</name>
                <value>
                    <elementReference>Case.Issue__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isBeamInternal</name>
                <value>
                    <elementReference>isBeamInternal</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>brandVal</name>
                <value>
                    <elementReference>Case.Brand__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLocationFields</name>
                <value>
                    <elementReference>ShowLocationFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationName</name>
                <value>
                    <elementReference>locationName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationStreet</name>
                <value>
                    <elementReference>street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationCity</name>
                <value>
                    <elementReference>city</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationState</name>
                <value>
                    <elementReference>state</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationPostalCode</name>
                <value>
                    <elementReference>postalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationCountry</name>
                <value>
                    <elementReference>country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountInfoEntered</name>
                <value>
                    <elementReference>acountInfoEntered</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Case.Additional_Details_Rich_Text__c</assignToReference>
                <name>additionalInformation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Health_Concern__c</assignToReference>
                <name>healthConcern</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Lot_Code__c</assignToReference>
                <name>lotCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Number_of_Bottles__c</assignToReference>
                <name>numberOfBottles</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Number_of_Cases__c</assignToReference>
                <name>numberOfCases</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Product_Size__c</assignToReference>
                <name>productSize</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Universal_Product_Code__c</assignToReference>
                <name>upcVal</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ConsumerContact.Email</assignToReference>
                <name>consumerEmail</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ConsumerContact.FirstName</assignToReference>
                <name>consumerFirstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ConsumerContact.LastName</assignToReference>
                <name>consumerLastName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ConsumerContact.Phone</assignToReference>
                <name>consumerPhone</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountId</assignToReference>
                <name>accountId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Location_Name__c</assignToReference>
                <name>locationName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Case_Street__c</assignToReference>
                <name>locationStreet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Case_City__c</assignToReference>
                <name>locationCity</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Case_State__c</assignToReference>
                <name>locationState</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Case_Country__c</assignToReference>
                <name>locationCountry</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Case_Postal_Code__c</assignToReference>
                <name>locationPostalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Beam_Suntory_Item_Number__c</assignToReference>
                <name>sku</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Is_Sample_Available__c</assignToReference>
                <name>sampleAvailable</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Injury_Damage_Reported__c</assignToReference>
                <name>injuryReported</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Bottling_Plant__c</assignToReference>
                <name>shippingPlant</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Gemba_Walk__c</assignToReference>
                <name>gembaWalk</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Case_Number_Desk_com__c</assignToReference>
                <name>deskCaseNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Description</assignToReference>
                <name>descriptionInfo</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Complaint_Type</name>
        <label>Complaint Type</label>
        <locationX>330</locationX>
        <locationY>127</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Device_Type</targetReference>
        </connector>
        <fields>
            <name>complaintTypeStageTracker2</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Choose_Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ComplaintTypeCmp</name>
            <extensionName>c:QC_ComplaintTypesCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Case.Brand__c</assignToReference>
                <name>brand</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Device</assignToReference>
                <name>device</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Issue__c</assignToReference>
                <name>issueTypeDefinition</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Type</assignToReference>
                <name>issueType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isBeamInternal</assignToReference>
                <name>isBeamInternal</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Product_Type__c</assignToReference>
                <name>productType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Complaint_Source__c</assignToReference>
                <name>sourceOfComplaint</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.Product_Destination_Country__c</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.VAP__c</assignToReference>
                <name>isVAP</name>
            </outputParameters>
        </fields>
        <fields>
            <name>getGeoLocation</name>
            <extensionName>c:GeoLocationCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>887</locationX>
        <locationY>1323</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseCreatedAlert</name>
            <extensionName>c:AlertCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Your Case has been Created!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CaseInfo</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Case: &lt;B&gt;{!Case.CaseNumber}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GeoLocationCmp</name>
            <extensionName>c:GeoLocationCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Geolocation</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lot_Code_Upload</name>
        <label>Lot Code Upload</label>
        <locationX>521</locationX>
        <locationY>1325</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Email_to_Submitter</targetReference>
        </connector>
        <fields>
            <name>lotCodeUploadStageTracker</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Upload Lot Code Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LodeCodeLocator</name>
            <extensionName>c:LotCodeLocator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>brand</name>
                <value>
                    <elementReference>Case.Brand__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>UploadLotCode</name>
            <extensionName>c:FileUploadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Image of Lot Code(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showFilePreview</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Mobile_Account_Search</name>
        <label>Mobile Account Search</label>
        <locationX>722</locationX>
        <locationY>341</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Hide_Location_Fields</targetReference>
        </connector>
        <fields>
            <name>AccountSearchScreen</name>
            <extensionName>c:AccountSearchMobileCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>locationName</assignToReference>
                <name>locationName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>street</assignToReference>
                <name>locationStreet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>city</assignToReference>
                <name>locationCity</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>state</assignToReference>
                <name>locationState</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>postalCode</assignToReference>
                <name>locationPostalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>country</assignToReference>
                <name>locationCountry</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>acountInfoEntered</assignToReference>
                <name>accountInfoEntered</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Image_Video_of_the_Issue</name>
        <label>Upload Image/Video of the Issue</label>
        <locationX>518</locationX>
        <locationY>1228</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Lot_Code_Upload</targetReference>
        </connector>
        <fields>
            <name>issueUploadStageTracker</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Upload Issue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>File</name>
            <extensionName>c:FileUploadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Image(s) of Claim</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showFilePreview</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileRequired</name>
                <value>
                    <elementReference>attachmentRequired</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Choose_Type</name>
        <isActive>true</isActive>
        <label>Choose Type</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Claim_Info</name>
        <isActive>true</isActive>
        <label>Claim Info</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Upload_Issue</name>
        <isActive>true</isActive>
        <label>Upload Issue</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Upload_Lot_Code_Image</name>
        <isActive>true</isActive>
        <label>Upload Lot Code Image</label>
        <stageOrder>4</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Quality_Claim_Record_Type_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>acountInfoEntered</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Set to true if an attachment is required for the quality claim</description>
        <name>attachmentRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>brand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Newly Created Quality Claim</description>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>city</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ConsumerContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ConsumerContactRecordTypeId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Device</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Desktop</stringValue>
        </value>
    </variables>
    <variables>
        <name>EscalatedFromRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>ExisitingContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>isBeamInternal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IssueDefinitionVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IssueTypeVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>locationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Determines how the stage tracker at the top of the flow will be displayed. As of now options include &quot;path&quot; or &quot;base&quot;</description>
        <name>pathType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>base</stringValue>
        </value>
    </variables>
    <variables>
        <name>postalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QualityClaimRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>QuantityKnownVal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShowLocationFields</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>sourceOfComplaintVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>state</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
