unpackaged/main/default/flows/Set_Business_Hour_on_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Set Australian Business Hours</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Set UK Business Hours</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>Set US Business Hours</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Set Germany Business Hour</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Set Spain Business Hours</label>
        </rules>
    </decisions>
    <description>Set Business Hour on Consumer Inquiry and Quality Claim Cases by Queue assigned to it.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(AND(BEGINS($CustomMetadata.DSC_Queue_BusinessHours__mdt.Spain_Business_Hours.BusinessHoursId__c, &apos;01m&apos;),OR(LEN($CustomMetadata.DSC_Queue_BusinessHours__mdt.Spain_Business_Hours.BusinessHoursId__c) = 15, LEN($CustomMetadata.DSC_Queue_BusinessHours__mdt.Spain_Business_Hours.BusinessHoursId__c) = 18)), [Case].CreatedById, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_9_A1_1543341320</name>
        <dataType>String</dataType>
        <expression>IF(AND(BEGINS({!$CustomMetadata.DSC_Queue_BusinessHours__mdt.Spain_Business_Hours.BusinessHoursId__c}, &apos;01m&apos;),OR(LEN({!$CustomMetadata.DSC_Queue_BusinessHours__mdt.Spain_Business_Hours.BusinessHoursId__c}) = 15, LEN({!$CustomMetadata.DSC_Queue_BusinessHours__mdt.Spain_Business_Hours.BusinessHoursId__c}) = 18)), {!myVariable_current.CreatedById}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$CustomMetadata.DSC_Queue_BusinessHours__mdt.Spain_Business_Hours.BusinessHoursId__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_9_A1_3098456740</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.DSC_Queue_BusinessHours__mdt.Spain_Business_Hours.BusinessHoursId__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(AND(BEGINS($CustomMetadata.DSC_Queue_BusinessHours__mdt.UK_Business_Hours.BusinessHoursId__c, &apos;01m&apos;),OR(LEN($CustomMetadata.DSC_Queue_BusinessHours__mdt.UK_Business_Hours.BusinessHoursId__c) = 15, LEN($CustomMetadata.DSC_Queue_BusinessHours__mdt.UK_Business_Hours.BusinessHoursId__c) = 18)), [Case].CreatedById, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_13_A1_7101190770</name>
        <dataType>String</dataType>
        <expression>IF(AND(BEGINS({!$CustomMetadata.DSC_Queue_BusinessHours__mdt.UK_Business_Hours.BusinessHoursId__c}, &apos;01m&apos;),OR(LEN({!$CustomMetadata.DSC_Queue_BusinessHours__mdt.UK_Business_Hours.BusinessHoursId__c}) = 15, LEN({!$CustomMetadata.DSC_Queue_BusinessHours__mdt.UK_Business_Hours.BusinessHoursId__c}) = 18)), {!myVariable_current.CreatedById}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$CustomMetadata.DSC_Queue_BusinessHours__mdt.UK_Business_Hours.BusinessHoursId__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_15_myRule_13_A1_3848403722</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.DSC_Queue_BusinessHours__mdt.UK_Business_Hours.BusinessHoursId__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(AND(BEGINS($CustomMetadata.DSC_Queue_BusinessHours__mdt.US_Business_Hours.BusinessHoursId__c, &apos;01m&apos;),OR(LEN($CustomMetadata.DSC_Queue_BusinessHours__mdt.US_Business_Hours.BusinessHoursId__c) = 15, LEN($CustomMetadata.DSC_Queue_BusinessHours__mdt.US_Business_Hours.BusinessHoursId__c) = 18)), [Case].CreatedById , &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_18_myRule_17_A1_4074668532</name>
        <dataType>String</dataType>
        <expression>IF(AND(BEGINS({!$CustomMetadata.DSC_Queue_BusinessHours__mdt.US_Business_Hours.BusinessHoursId__c}, &apos;01m&apos;),OR(LEN({!$CustomMetadata.DSC_Queue_BusinessHours__mdt.US_Business_Hours.BusinessHoursId__c}) = 15, LEN({!$CustomMetadata.DSC_Queue_BusinessHours__mdt.US_Business_Hours.BusinessHoursId__c}) = 18)), {!myVariable_current.CreatedById} , &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$CustomMetadata.DSC_Queue_BusinessHours__mdt.US_Business_Hours.BusinessHoursId__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_19_myRule_17_A1_7038011431</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.DSC_Queue_BusinessHours__mdt.US_Business_Hours.BusinessHoursId__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(AND(BEGINS($CustomMetadata.DSC_Queue_BusinessHours__mdt.Australian_Business_Hours.BusinessHoursId__c, &apos;01m&apos;),OR(LEN($CustomMetadata.DSC_Queue_BusinessHours__mdt.Australian_Business_Hours.BusinessHoursId__c) = 15, LEN($CustomMetadata.DSC_Queue_BusinessHours__mdt.Australian_Business_Hours.BusinessHoursId__c) = 18)), [Case].CreatedById , &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_3322648408</name>
        <dataType>String</dataType>
        <expression>IF(AND(BEGINS({!$CustomMetadata.DSC_Queue_BusinessHours__mdt.Australian_Business_Hours.BusinessHoursId__c}, &apos;01m&apos;),OR(LEN({!$CustomMetadata.DSC_Queue_BusinessHours__mdt.Australian_Business_Hours.BusinessHoursId__c}) = 15, LEN({!$CustomMetadata.DSC_Queue_BusinessHours__mdt.Australian_Business_Hours.BusinessHoursId__c}) = 18)), {!myVariable_current.CreatedById} , &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$CustomMetadata.DSC_Queue_BusinessHours__mdt.Australian_Business_Hours.BusinessHoursId__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_4266454442</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.DSC_Queue_BusinessHours__mdt.Australian_Business_Hours.BusinessHoursId__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(AND(BEGINS($CustomMetadata.DSC_Queue_BusinessHours__mdt.Germany_Business_Hours.BusinessHoursId__c, &apos;01m&apos;),OR(LEN($CustomMetadata.DSC_Queue_BusinessHours__mdt.Germany_Business_Hours.BusinessHoursId__c) = 15, LEN($CustomMetadata.DSC_Queue_BusinessHours__mdt.Germany_Business_Hours.BusinessHoursId__c) = 18)), [Case].CreatedById , &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_5_A1_6540963341</name>
        <dataType>String</dataType>
        <expression>IF(AND(BEGINS({!$CustomMetadata.DSC_Queue_BusinessHours__mdt.Germany_Business_Hours.BusinessHoursId__c}, &apos;01m&apos;),OR(LEN({!$CustomMetadata.DSC_Queue_BusinessHours__mdt.Germany_Business_Hours.BusinessHoursId__c}) = 15, LEN({!$CustomMetadata.DSC_Queue_BusinessHours__mdt.Germany_Business_Hours.BusinessHoursId__c}) = 18)), {!myVariable_current.CreatedById} , &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$CustomMetadata.DSC_Queue_BusinessHours__mdt.Germany_Business_Hours.BusinessHoursId__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_5_A1_4411511488</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.DSC_Queue_BusinessHours__mdt.Germany_Business_Hours.BusinessHoursId__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( 
	OR( [Case].RecordType.Name=&apos;Consumer Inquiry&apos;, 
		[Case].RecordType.Name=&apos;Quality Claim&apos; ),
	AND( OR(ISNEW(), ISCHANGED([Case].OwnerId)), 
		BEGINS([Case].OwnerId, &apos;00G&apos;) ),
	OR( [Case].Owner:Queue.DeveloperName=&apos;CC_OCEANIA&apos;,
		[Case].Owner:Queue.DeveloperName=&apos;CC_ASIA&apos;,
		[Case].Owner:Queue.DeveloperName=&apos;CC_JAPAN&apos;,
		[Case].Owner:Queue.DeveloperName=&apos;CC_Inquiries_Australia&apos;,
		[Case].Owner:Queue.DeveloperName=&apos;CC_Inquiries_New_Zealand&apos;) 
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
	OR( {!myVariable_current.RecordType.Name}=&apos;Consumer Inquiry&apos;, 
		{!myVariable_current.RecordType.Name}=&apos;Quality Claim&apos; ),
	AND( OR(ISNEW(), ISCHANGED({!myVariable_current.OwnerId})), 
		BEGINS({!myVariable_current.OwnerId}, &apos;00G&apos;) ),
	OR( {!myVariable_current.Owner:Queue.DeveloperName}=&apos;CC_OCEANIA&apos;,
		{!myVariable_current.Owner:Queue.DeveloperName}=&apos;CC_ASIA&apos;,
		{!myVariable_current.Owner:Queue.DeveloperName}=&apos;CC_JAPAN&apos;,
		{!myVariable_current.Owner:Queue.DeveloperName}=&apos;CC_Inquiries_Australia&apos;,
		{!myVariable_current.Owner:Queue.DeveloperName}=&apos;CC_Inquiries_New_Zealand&apos;) 
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( 
	OR( [Case].RecordType.Name=&apos;Consumer Inquiry&apos;, 
		[Case].RecordType.Name=&apos;Quality Claim&apos; ),
	AND( OR(ISNEW(), ISCHANGED([Case].OwnerId)), 
		BEGINS([Case].OwnerId, &apos;00G&apos;) ),
	OR( [Case].Owner:Queue.DeveloperName=&apos;CC_INDIA&apos;,
		[Case].Owner:Queue.DeveloperName=&apos;CC_REST_OF_WORLD&apos;,
		[Case].Owner:Queue.DeveloperName=&apos;CC_Inquiries_ROW&apos;,
		[Case].Owner:Queue.DeveloperName=&apos;CC_Inquiries_ASIA&apos;,
		[Case].Owner:Queue.DeveloperName=&apos;CC_Inquiries_India&apos;,
		[Case].Owner:Queue.DeveloperName=&apos;CC_Quality_Inquiries&apos;,
		[Case].Owner:Queue.DeveloperName=&apos;CC_Kilbeggan_Distillery&apos;,
		[Case].Owner:Queue.DeveloperName=&apos;CC_Laphroaig_Store&apos;,
		[Case].Owner:Queue.DeveloperName=&apos;CC_Laphroaig_Distillery&apos;) 
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
	OR( {!myVariable_current.RecordType.Name}=&apos;Consumer Inquiry&apos;, 
		{!myVariable_current.RecordType.Name}=&apos;Quality Claim&apos; ),
	AND( OR(ISNEW(), ISCHANGED({!myVariable_current.OwnerId})), 
		BEGINS({!myVariable_current.OwnerId}, &apos;00G&apos;) ),
	OR( {!myVariable_current.Owner:Queue.DeveloperName}=&apos;CC_INDIA&apos;,
		{!myVariable_current.Owner:Queue.DeveloperName}=&apos;CC_REST_OF_WORLD&apos;,
		{!myVariable_current.Owner:Queue.DeveloperName}=&apos;CC_Inquiries_ROW&apos;,
		{!myVariable_current.Owner:Queue.DeveloperName}=&apos;CC_Inquiries_ASIA&apos;,
		{!myVariable_current.Owner:Queue.DeveloperName}=&apos;CC_Inquiries_India&apos;,
		{!myVariable_current.Owner:Queue.DeveloperName}=&apos;CC_Quality_Inquiries&apos;,
		{!myVariable_current.Owner:Queue.DeveloperName}=&apos;CC_Kilbeggan_Distillery&apos;,
		{!myVariable_current.Owner:Queue.DeveloperName}=&apos;CC_Laphroaig_Store&apos;,
		{!myVariable_current.Owner:Queue.DeveloperName}=&apos;CC_Laphroaig_Distillery&apos;) 
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( 
	OR( [Case].RecordType.Name=&apos;Consumer Inquiry&apos;, 
		[Case].RecordType.Name=&apos;Quality Claim&apos; ),
	AND( OR(ISNEW(), ISCHANGED([Case].OwnerId)), 
		BEGINS([Case].OwnerId, &apos;00G&apos;) )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
	OR( {!myVariable_current.RecordType.Name}=&apos;Consumer Inquiry&apos;, 
		{!myVariable_current.RecordType.Name}=&apos;Quality Claim&apos; ),
	AND( OR(ISNEW(), ISCHANGED({!myVariable_current.OwnerId})), 
		BEGINS({!myVariable_current.OwnerId}, &apos;00G&apos;) )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( 
	OR( [Case].RecordType.Name=&apos;Consumer Inquiry&apos;, 
		[Case].RecordType.Name=&apos;Quality Claim&apos; ),
	AND( OR(ISNEW(), ISCHANGED([Case].OwnerId)), 
		BEGINS([Case].OwnerId, &apos;00G&apos;) ),
	OR( [Case].Owner:Queue.DeveloperName=&apos;CC_GERMANY&apos;,
		[Case].Owner:Queue.DeveloperName=&apos;CC_Inquiries_Germany&apos;) 
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
	OR( {!myVariable_current.RecordType.Name}=&apos;Consumer Inquiry&apos;, 
		{!myVariable_current.RecordType.Name}=&apos;Quality Claim&apos; ),
	AND( OR(ISNEW(), ISCHANGED({!myVariable_current.OwnerId})), 
		BEGINS({!myVariable_current.OwnerId}, &apos;00G&apos;) ),
	OR( {!myVariable_current.Owner:Queue.DeveloperName}=&apos;CC_GERMANY&apos;,
		{!myVariable_current.Owner:Queue.DeveloperName}=&apos;CC_Inquiries_Germany&apos;) 
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( 
	OR( [Case].RecordType.Name=&apos;Consumer Inquiry&apos;, 
		[Case].RecordType.Name=&apos;Quality Claim&apos; ),
	AND( OR(ISNEW(), ISCHANGED([Case].OwnerId)), 
		BEGINS([Case].OwnerId, &apos;00G&apos;) ),
	[Case].Owner:Queue.DeveloperName=&apos;CC_Laphroaig_Consumer_Care&apos; 
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
	OR( {!myVariable_current.RecordType.Name}=&apos;Consumer Inquiry&apos;, 
		{!myVariable_current.RecordType.Name}=&apos;Quality Claim&apos; ),
	AND( OR(ISNEW(), ISCHANGED({!myVariable_current.OwnerId})), 
		BEGINS({!myVariable_current.OwnerId}, &apos;00G&apos;) ),
	{!myVariable_current.Owner:Queue.DeveloperName}=&apos;CC_Laphroaig_Consumer_Care&apos; 
)</expression>
    </formulas>
    <interviewLabel>Set_Business_Hour_on_Case-8_InterviewLabel</interviewLabel>
    <label>Set Business Hour on Case</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Update Business Hour</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Created By ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_14_myRule_13_A1_7101190770</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Hours ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>BusinessHours</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>formula_15_myRule_13_A1_3848403722</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>Update Business Hour</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Created By ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_18_myRule_17_A1_4074668532</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Hours ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>BusinessHours</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>formula_19_myRule_17_A1_7038011431</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Business Hour</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Created By ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_2_myRule_1_A1_3322648408</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Hours ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>BusinessHours</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_4266454442</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Update Business Hour</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Created By ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_6_myRule_5_A1_6540963341</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Hours ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>BusinessHours</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>formula_7_myRule_5_A1_4411511488</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Update Business Hour</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Created By ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_10_myRule_9_A1_1543341320</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Hours ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>BusinessHours</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>formula_11_myRule_9_A1_3098456740</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
