unpackaged/main/default/flows/Share_Single_Barrel_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Who_to_Share_case_with</name>
        <label>Who to Share case with</label>
        <locationX>201</locationX>
        <locationY>229</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Submitter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>shareWith</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUBMITTER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>submitterId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>submitterId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseSubmitterShareRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_with_Submitter</targetReference>
            </connector>
            <label>Submitter</label>
        </rules>
        <rules>
            <name>Regional_Diplomat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>shareWith</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REGIONAL_DIPLOMAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>regionalDiplomatId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>regionalDiplomatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseShareRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_with_Regional_Diplomat</targetReference>
            </connector>
            <label>Regional Diplomat</label>
        </rules>
    </decisions>
    <description>Shares a case for a single barrel order</description>
    <interviewLabel>Share Single Barrel Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Share Single Barrel Case</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Share_with_Regional_Diplomat</name>
        <label>Share with Regional Diplomat</label>
        <locationX>423</locationX>
        <locationY>400</locationY>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>regionalDiplomatId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseShare</object>
    </recordCreates>
    <recordCreates>
        <name>Share_with_Submitter</name>
        <label>Share with Submitter</label>
        <locationX>443</locationX>
        <locationY>229</locationY>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>submitterId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseShare</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Sharing_for_the_Case_Record</name>
        <label>Lookup Sharing for the Case Record</label>
        <locationX>203</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Who_to_Share_case_with</targetReference>
        </connector>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>regionalDiplomatId</elementReference>
            </value>
        </filters>
        <object>CaseShare</object>
        <outputReference>caseShareRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Sharing_for_the_Case_Record_0</name>
        <label>Lookup Sharing for the Case Record</label>
        <locationX>205</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Sharing_for_the_Case_Record</targetReference>
        </connector>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>submitterId</elementReference>
            </value>
        </filters>
        <object>CaseShare</object>
        <outputReference>caseSubmitterShareRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Lookup_Sharing_for_the_Case_Record_0</startElementReference>
    <status>Active</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseShareRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
    <variables>
        <name>caseSubmitterShareRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>regionalDiplomatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Who to share the record with</description>
        <name>shareWith</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>submitterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
