unpackaged/main/default/flows/Share_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>CaseSubmitterCaseShare</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Case Submitter</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>CaseSubmitterCaseShare</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varRequestedAction</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>varRequestedAction</name>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varContactId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varContactId</name>
            <value>
                <elementReference>myVariable_current.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>caseId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>caseId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>CaseSubmitterCaseShare</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Create Share Record</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>CaseSubmitterCaseShare</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>caseId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>caseId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>userId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>userId</name>
            <value>
                <elementReference>myVariable_current.CreatedBy.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varCaseOrigin</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varCaseOrigin</name>
            <value>
                <elementReference>myVariable_current.Origin</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>caseOwner</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>caseOwner</name>
            <value>
                <elementReference>myVariable_current.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varRequestedAction</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>varRequestedAction</name>
            <value>
                <stringValue>2</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>CaseSubmitterCaseShare</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Create Share Record</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>CaseSubmitterCaseShare</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>caseId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>caseId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varEmail</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varEmail</name>
            <value>
                <elementReference>myVariable_current.SuppliedEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varCaseOrigin</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varCaseOrigin</name>
            <value>
                <elementReference>myVariable_current.Origin</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varRequestedAction</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>varRequestedAction</name>
            <value>
                <stringValue>2</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>CaseSubmitterCaseShare</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Create Share Record</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>CaseSubmitterCaseShare</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varSubmitterId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varSubmitterId</name>
            <value>
                <elementReference>myVariable_current.Submitter__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varRequestedAction</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>varRequestedAction</name>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>caseOwner</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>caseOwner</name>
            <value>
                <elementReference>myVariable_current.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>caseId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>caseId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>CaseSubmitterCaseShare</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Create Share Record</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>CaseSubmitterCaseShare</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>caseId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>caseId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>caseOwner</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>caseOwner</name>
            <value>
                <elementReference>myVariable_current.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varSubmitterId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varSubmitterId</name>
            <value>
                <elementReference>myVariable_current.Submitter__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varRequestedAction</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>varRequestedAction</name>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Submitter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Abandoned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Set Case Submitter Ext</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Share Case with Case Submitter</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Share Email-to-Case with Case Submitter</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Owner Changed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Share Quality Claim With Submitter</label>
        </rules>
    </decisions>
    <description>Creates manual share record on Cases submitted by Internal Beam Suntory to enable proper access to Case post-submission; flow will also populate the case with a link to the Submitter for reporting.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( 
  ISNEW(),
  ISBLANK( [Case].ContactId ),
  NOT( ISPICKVAL( [Case].Origin, &quot;Email&quot; )),
  NOT( ISPICKVAL([Case].Status, &quot;Closed - Abandoned&quot;)),
  OR(
    [Case].RecordType.Name = &quot;RTR&quot;,
    [Case].RecordType.Name = &quot;OTC Billing&quot;,
    CONTAINS([Case].RecordType.Name, &quot;OTC - &quot;),
    [Case].RecordType.Name = &quot;PTP/AP&quot;,
    [Case].RecordType.Name = &quot;PTP/AP - PR/PO&quot;,
    [Case].RecordType.Name = &quot;HR&quot;,
    [Case].RecordType.Name = &quot;Payroll&quot;,
    [Case].RecordType.Name = &quot;Inquiry&quot;,
    [Case].RecordType.Name = &quot;Order Claim&quot;,
    [Case].RecordType.Name = &quot;Changes&quot;,
    [Case].RecordType.Name = &quot;Orders&quot;,
    [Case].RecordType.Name = &quot;EDI Order&quot;,
    [Case].RecordType.Name = &quot;Inquiry (Internal)&quot;,
    [Case].RecordType.Name = &quot;Escalated Form&quot;,
    [Case].RecordType.Name = &quot;GMDM - Account Change/Extend&quot;,
    [Case].RecordType.Name = &quot;GMDM - Center Account Create&quot;,
    [Case].RecordType.Name = &quot;GMDM - Center Change&quot;,
    [Case].RecordType.Name = &quot;GMDM - Customer Hierarchy&quot;,
    [Case].RecordType.Name = &quot;GMDM - Customer Maintenance&quot;,
    [Case].RecordType.Name = &quot;GMDM - EDW Mapping&quot;,
    [Case].RecordType.Name = &quot;GMDM - Materials&quot;,
    [Case].RecordType.Name = &quot;GMDM - Rebates&quot;,
    [Case].RecordType.Name = &quot;GMDM - Simple Request&quot;,
    [Case].RecordType.Name = &quot;GMDM - Vendor Maintenance&quot;,
    [Case].RecordType.Name = &quot;GMDM&quot;,
    [Case].RecordType.Name = &quot;T&amp;E&quot;,
    [Case].RecordType.Name = &quot;Quote Request&quot;,
    [Case].RecordType.Name = &quot;Compliance Inquiry&quot;,
    [Case].RecordType.Name = &quot;Tax&quot;,
    [Case].RecordType.Name = &quot;Claims&quot;
  )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
  ISNEW(),
  ISBLANK( {!myVariable_current.ContactId} ),
  NOT( ISPICKVAL( {!myVariable_current.Origin}, &quot;Email&quot; )),
  NOT( ISPICKVAL({!myVariable_current.Status}, &quot;Closed - Abandoned&quot;)),
  OR(
    {!myVariable_current.RecordType.Name} = &quot;RTR&quot;,
    {!myVariable_current.RecordType.Name} = &quot;OTC Billing&quot;,
    CONTAINS({!myVariable_current.RecordType.Name}, &quot;OTC - &quot;),
    {!myVariable_current.RecordType.Name} = &quot;PTP/AP&quot;,
    {!myVariable_current.RecordType.Name} = &quot;PTP/AP - PR/PO&quot;,
    {!myVariable_current.RecordType.Name} = &quot;HR&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Payroll&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Inquiry&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Order Claim&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Changes&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Orders&quot;,
    {!myVariable_current.RecordType.Name} = &quot;EDI Order&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Inquiry (Internal)&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Escalated Form&quot;,
    {!myVariable_current.RecordType.Name} = &quot;GMDM - Account Change/Extend&quot;,
    {!myVariable_current.RecordType.Name} = &quot;GMDM - Center Account Create&quot;,
    {!myVariable_current.RecordType.Name} = &quot;GMDM - Center Change&quot;,
    {!myVariable_current.RecordType.Name} = &quot;GMDM - Customer Hierarchy&quot;,
    {!myVariable_current.RecordType.Name} = &quot;GMDM - Customer Maintenance&quot;,
    {!myVariable_current.RecordType.Name} = &quot;GMDM - EDW Mapping&quot;,
    {!myVariable_current.RecordType.Name} = &quot;GMDM - Materials&quot;,
    {!myVariable_current.RecordType.Name} = &quot;GMDM - Rebates&quot;,
    {!myVariable_current.RecordType.Name} = &quot;GMDM - Simple Request&quot;,
    {!myVariable_current.RecordType.Name} = &quot;GMDM - Vendor Maintenance&quot;,
    {!myVariable_current.RecordType.Name} = &quot;GMDM&quot;,
    {!myVariable_current.RecordType.Name} = &quot;T&amp;E&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Quote Request&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Compliance Inquiry&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Tax&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Claims&quot;
  )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( 
  ISNEW(),
  ISBLANK( [Case].ContactId ),
  ISPICKVAL( [Case].Origin, &quot;Email&quot; ),
  NOT( ISPICKVAL([Case].Status, &quot;Closed - Abandoned&quot;)),
  OR(
    [Case].RecordType.Name = &quot;RTR&quot;,
    [Case].RecordType.Name = &quot;OTC Billing&quot;,
    CONTAINS([Case].RecordType.Name, &quot;OTC - &quot;),
    [Case].RecordType.Name = &quot;PTP/AP&quot;,
    [Case].RecordType.Name = &quot;PTP/AP - PR/PO&quot;,
    [Case].RecordType.Name = &quot;HR&quot;,
    [Case].RecordType.Name = &quot;Payroll&quot;,
    [Case].RecordType.Name = &quot;Inquiry&quot;,
    [Case].RecordType.Name = &quot;Order Claim&quot;,
    [Case].RecordType.Name = &quot;Quality Claim&quot;,
    [Case].RecordType.Name = &quot;Changes&quot;,
    [Case].RecordType.Name = &quot;Orders&quot;,
    [Case].RecordType.Name = &quot;EDI Order&quot;,
    [Case].RecordType.Name = &quot;Inquiry (Internal)&quot;,
    [Case].RecordType.Name = &quot;Escalated Form&quot;,
    [Case].RecordType.Name = &quot;GMDM - Account Change/Extend&quot;,
    [Case].RecordType.Name = &quot;GMDM - Center Account Create&quot;,
    [Case].RecordType.Name = &quot;GMDM - Center Change&quot;,
    [Case].RecordType.Name = &quot;GMDM - Customer Hierarchy&quot;,
    [Case].RecordType.Name = &quot;GMDM - Customer Maintenance&quot;,
    [Case].RecordType.Name = &quot;GMDM - EDW Mapping&quot;,
    [Case].RecordType.Name = &quot;GMDM - Materials&quot;,
    [Case].RecordType.Name = &quot;GMDM - Rebates&quot;,
    [Case].RecordType.Name = &quot;GMDM - Simple Request&quot;,
    [Case].RecordType.Name = &quot;GMDM - Vendor Maintenance&quot;,
    [Case].RecordType.Name = &quot;GMDM&quot;,
    [Case].RecordType.Name = &quot;T&amp;E&quot;,
    [Case].RecordType.Name = &quot;Quote Request&quot;,
    [Case].RecordType.Name = &quot;Compliance Inquiry&quot;,
    [Case].RecordType.Name = &quot;Tax&quot;,
    [Case].RecordType.Name = &quot;Claims&quot;
  )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
  ISNEW(),
  ISBLANK( {!myVariable_current.ContactId} ),
  ISPICKVAL( {!myVariable_current.Origin}, &quot;Email&quot; ),
  NOT( ISPICKVAL({!myVariable_current.Status}, &quot;Closed - Abandoned&quot;)),
  OR(
    {!myVariable_current.RecordType.Name} = &quot;RTR&quot;,
    {!myVariable_current.RecordType.Name} = &quot;OTC Billing&quot;,
    CONTAINS({!myVariable_current.RecordType.Name}, &quot;OTC - &quot;),
    {!myVariable_current.RecordType.Name} = &quot;PTP/AP&quot;,
    {!myVariable_current.RecordType.Name} = &quot;PTP/AP - PR/PO&quot;,
    {!myVariable_current.RecordType.Name} = &quot;HR&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Payroll&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Inquiry&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Order Claim&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Quality Claim&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Changes&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Orders&quot;,
    {!myVariable_current.RecordType.Name} = &quot;EDI Order&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Inquiry (Internal)&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Escalated Form&quot;,
    {!myVariable_current.RecordType.Name} = &quot;GMDM - Account Change/Extend&quot;,
    {!myVariable_current.RecordType.Name} = &quot;GMDM - Center Account Create&quot;,
    {!myVariable_current.RecordType.Name} = &quot;GMDM - Center Change&quot;,
    {!myVariable_current.RecordType.Name} = &quot;GMDM - Customer Hierarchy&quot;,
    {!myVariable_current.RecordType.Name} = &quot;GMDM - Customer Maintenance&quot;,
    {!myVariable_current.RecordType.Name} = &quot;GMDM - EDW Mapping&quot;,
    {!myVariable_current.RecordType.Name} = &quot;GMDM - Materials&quot;,
    {!myVariable_current.RecordType.Name} = &quot;GMDM - Rebates&quot;,
    {!myVariable_current.RecordType.Name} = &quot;GMDM - Simple Request&quot;,
    {!myVariable_current.RecordType.Name} = &quot;GMDM - Vendor Maintenance&quot;,
    {!myVariable_current.RecordType.Name} = &quot;GMDM&quot;,
    {!myVariable_current.RecordType.Name} = &quot;T&amp;E&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Quote Request&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Compliance Inquiry&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Tax&quot;,
    {!myVariable_current.RecordType.Name} = &quot;Claims&quot;
  )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( 
  ISCHANGED( [Case].OwnerId ), 
  NOT(ISBLANK([Case].Submitter__c)),
  NOT( ISPICKVAL([Case].Status, &quot;Closed - Abandoned&quot;)),
  [Case].Submitter__c.IsActive = TRUE 
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
  ISCHANGED( {!myVariable_current.OwnerId} ), 
  NOT(ISBLANK({!myVariable_current.Submitter__c})),
  NOT( ISPICKVAL({!myVariable_current.Status}, &quot;Closed - Abandoned&quot;)),
  {!myVariable_current.Submitter__r.IsActive} = TRUE 
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( 
  ISNEW(),
  NOT( ISPICKVAL( [Case].Origin, &quot;Email&quot; )),
  NOT( ISPICKVAL([Case].Status, &quot;Closed - Abandoned&quot;)),
  [Case].RecordType.DeveloperName = &quot;Quality_Claim&quot;
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
  ISNEW(),
  NOT( ISPICKVAL( {!myVariable_current.Origin}, &quot;Email&quot; )),
  NOT( ISPICKVAL({!myVariable_current.Status}, &quot;Closed - Abandoned&quot;)),
  {!myVariable_current.RecordType.DeveloperName} = &quot;Quality_Claim&quot;
)</expression>
    </formulas>
    <interviewLabel>Share_Cases-19_InterviewLabel</interviewLabel>
    <label>Share Cases</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
