unpackaged/main/default/flows/Single_Barrel_Missing_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Record_Id</name>
        <label>Assign Record Id</label>
        <locationX>46</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>BarrelRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Barrel_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Split_Barrel_Id</name>
        <label>Assign Split Barrel Id</label>
        <locationX>311</locationX>
        <locationY>610</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Complete_Missing_Items</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>True</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>Which_Barrel_Type</name>
        <label>Which Barrel Type</label>
        <locationX>44</locationX>
        <locationY>470</locationY>
        <defaultConnector>
            <targetReference>Complete_Missing_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Split_Barrel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Split Barrel</stringValue>
                </rightValue>
            </conditions>
            <label>Split Barrel</label>
        </rules>
    </decisions>
    <description>This flow allows users to make their selections for POS Items and Bottle Plate text customizations</description>
    <formulas>
        <name>showBottlePlateOption</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!CaseRecord.Bottle_Text_Entered__c})</expression>
    </formulas>
    <formulas>
        <name>showPOSOption</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!CaseRecord.POS_Items_Selected__c})</expression>
    </formulas>
    <interviewLabel>Single Barrel - Missing Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Single Barrel - Missing Items</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Barrel_Record</name>
        <label>Lookup Barrel Record</label>
        <locationX>47</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Id</targetReference>
        </connector>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </filters>
        <object>Barrel__c</object>
        <outputReference>BarrelRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Case__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case_Record</name>
        <label>Lookup Case Record</label>
        <locationX>45</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Retail_Account_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>Type</queriedFields>
        <queriedFields>Retail_Account__c</queriedFields>
        <queriedFields>POS_Items_Selected__c</queriedFields>
        <queriedFields>Bottle_Text_Entered__c</queriedFields>
        <queriedFields>Brand__c</queriedFields>
        <queriedFields>Product_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Retail_Account_Record</name>
        <label>Lookup Retail Account Record</label>
        <locationX>46</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Barrel_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Retail_Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>RetailAccountRecord</outputReference>
        <queriedFields>PremiseType__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Complete_Missing_Items</name>
        <label>Complete Missing Items</label>
        <locationX>311</locationX>
        <locationY>467</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>POSContainer</name>
            <extensionName>c:SBP_POSCustomizationContainerCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>barrelId</name>
                <value>
                    <elementReference>BarrelRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>premiseType</name>
                <value>
                    <elementReference>RetailAccountRecord.PremiseType__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentBrand</name>
                <value>
                    <elementReference>CaseRecord.Brand__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showBottlePlatingOption</name>
                <value>
                    <elementReference>showBottlePlateOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPosItemsOption</name>
                <value>
                    <elementReference>showPOSOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>splitBarrelId</name>
                <value>
                    <elementReference>splitBarrelId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>programType</name>
                <value>
                    <elementReference>CaseRecord.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inCommunityDetailPage</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentFlavour</name>
                <value>
                    <elementReference>CaseRecord.Product_Type__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Lookup_Case_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>barrelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BarrelRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Barrel__c</objectType>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentBrand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>premiseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>programType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RetailAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>showBottlePlatingOption</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>showPosItemsOption</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>splitBarrelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
