unpackaged/main/default/flows/Single_Barrel_Recent_Recipes_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Hide_Recipe_Option</name>
        <label>Hide Recipe Option</label>
        <locationX>496</locationX>
        <locationY>71</locationY>
        <assignmentItems>
            <assignToReference>showRecipes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Program_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Show_Remote_Selection</name>
        <label>Show Remote Selection</label>
        <locationX>750</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>showDateSelection</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Type_to_Remote_Selection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_a_new_recipe</name>
        <label>Create a new recipe</label>
        <locationX>298</locationX>
        <locationY>71</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createNewRecipe</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hide_Recipe_Option</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createNewRecipe</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acct_Barrel_POS_Subflow</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Program</name>
        <label>Which Program</label>
        <locationX>747</locationX>
        <locationY>216</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Trip_and_Tour</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>programType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trip and Tour</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trip_and_Tour_Flow</targetReference>
            </connector>
            <label>Trip and Tour</label>
        </rules>
        <rules>
            <name>Remote_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>programType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote Selection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Remote_Selection</targetReference>
            </connector>
            <label>Remote Selection</label>
        </rules>
    </decisions>
    <description>Contains the Recent Recipes component for the Single Barrel Program</description>
    <interviewLabel>Single Barrel - Recent Recipes Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Single Barrel - Recent Recipes Subflow</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Case_Type_to_Remote_Selection</name>
        <label>Update Case Type to Remote Selection</label>
        <locationX>297</locationX>
        <locationY>367</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Remote Selection</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Recent_Recipes</name>
        <label>Recent Recipes</label>
        <locationX>95</locationX>
        <locationY>73</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_a_new_recipe</targetReference>
        </connector>
        <fields>
            <name>BarrelRecipeCmp</name>
            <extensionName>c:SBP_BarrelRecipeContainerCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>caseId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>createNewRecipe</assignToReference>
                <name>createNewRecipe</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>barrelId</assignToReference>
                <name>barrelId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Program_Type</name>
        <label>Select Program Type</label>
        <locationX>744</locationX>
        <locationY>71</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Program</targetReference>
        </connector>
        <fields>
            <name>ProgramTypeCmp</name>
            <extensionName>c:SBP_ProgramTypeContainerCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>caseId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedBrand</name>
                <value>
                    <stringValue>Makers Mark</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecipes</name>
                <value>
                    <elementReference>showRecipes</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>programType</assignToReference>
                <name>selectedProgramType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>premiseType</assignToReference>
                <name>premiseType</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Recent_Recipes</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Acct_Barrel_POS_Subflow</name>
        <label>Acct/Barrel/POS Subflow</label>
        <locationX>300</locationX>
        <locationY>212</locationY>
        <connector>
            <targetReference>Update_Case_Type_to_Remote_Selection</targetReference>
        </connector>
        <flowName>Single_Barrel_Acct_Barrel_POS_Subflow</flowName>
        <inputAssignments>
            <name>Brand</name>
            <value>
                <elementReference>brand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProgramType</name>
            <value>
                <elementReference>programType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>showAttendeeInfo</name>
            <value>
                <elementReference>showAttendeeInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>showDateSelectionInfo</name>
            <value>
                <elementReference>showDateSelection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseRecordId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Trip_and_Tour_Flow</name>
        <label>Trip and Tour Flow</label>
        <locationX>998</locationX>
        <locationY>219</locationY>
        <flowName>Trip_and_Tour_Subflow</flowName>
        <inputAssignments>
            <name>Brand</name>
            <value>
                <elementReference>brand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProgramType</name>
            <value>
                <elementReference>programType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recentRecipeFlagToAcctBarrel</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>applicatinSubmitted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>barrelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>barrelOrderGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>brand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>createNewRecipe</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>distributorAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>numOfAttendees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>plantEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>premiseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>programType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RetailAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>showAttendeeInfo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>showDateSelection</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>showRecipes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
