unpackaged/main/default/flows/Single_Barrel_Main_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Split_Barrel</name>
        <label>Create Split Barrel</label>
        <locationX>1043</locationX>
        <locationY>620</locationY>
        <actionName>c:SBP_CreateCaseAndBarrelGroup</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Split_Barrel</targetReference>
        </connector>
        <inputParameters>
            <name>brand</name>
            <value>
                <elementReference>brand</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>programType</name>
            <value>
                <elementReference>programType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productType</name>
        </inputParameters>
        <outputParameters>
            <assignToReference>recordId</assignToReference>
            <name>caseId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Completed_Cases</name>
        <label>Update Completed Cases</label>
        <locationX>1462</locationX>
        <locationY>451</locationY>
        <actionName>c:SBP_UpdateCompletedCases</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>barrelOrderGroupId</name>
            <value>
                <elementReference>barrelOrderGroupId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Account_Screen_Variables</name>
        <label>Assign Account Screen Variables</label>
        <locationX>447</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>showRetailAccountInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Type_Was_Selected</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>BarrelObjectString</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Barrel__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>CaseObjectString</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </constants>
    <constants>
        <name>CruzanString</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cruzan</stringValue>
        </value>
    </constants>
    <constants>
        <name>ElTesoroString</name>
        <dataType>String</dataType>
        <value>
            <stringValue>El Tesoro</stringValue>
        </value>
    </constants>
    <constants>
        <name>FullBarrelRecordTypeName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Full_Barrel</stringValue>
        </value>
    </constants>
    <constants>
        <name>JimBeamString</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Jim Beam</stringValue>
        </value>
    </constants>
    <constants>
        <name>KnobCreekRyeString</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Knob Creek Rye</stringValue>
        </value>
    </constants>
    <constants>
        <name>KnobCreekString</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Knob Creek Bourbon</stringValue>
        </value>
    </constants>
    <constants>
        <name>MakersMarkString</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Makers Mark</stringValue>
        </value>
    </constants>
    <constants>
        <name>SingleBarrelStandardRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Single_Barrel_Standard</stringValue>
        </value>
    </constants>
    <constants>
        <name>SplitBarrelRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Split_Barrel</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_Case_Exist</name>
        <label>Does Case Exist</label>
        <locationX>239</locationX>
        <locationY>103</locationY>
        <defaultConnector>
            <targetReference>Select_Brand</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_Program_Type</name>
        <label>Select Program Type</label>
        <locationX>244</locationX>
        <locationY>625</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>brand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>El Tesoro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>applicationSubmitted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_has_been_selected</name>
        <label>Type has been selected</label>
        <locationX>238</locationX>
        <locationY>333</locationY>
        <defaultConnector>
            <targetReference>ProgramTypeSelectionScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finish_POS_and_Bottle_Plate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Type_Was_Selected</name>
        <label>Which Type Was Selected</label>
        <locationX>642</locationX>
        <locationY>454</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Trip_and_Tour</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>programType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trip and Tour</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>programType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Date Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trip_and_Tour_Flow</targetReference>
            </connector>
            <label>Trip and Tour</label>
        </rules>
        <rules>
            <name>Sample_Kit_Distiller_s_Choice_Remote_Selection</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>programType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample Kit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>programType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distiller&apos;s Choice</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>programType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote Selection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acct_Barrel_POS_Subflow</targetReference>
            </connector>
            <label>Sample Kit/Distiller&apos;s Choice/Remote Selection</label>
        </rules>
        <rules>
            <name>Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isApplication</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Screen</targetReference>
            </connector>
            <label>Application</label>
        </rules>
        <rules>
            <name>Recent_Recipes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>programType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recent Recipes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recent_Recipes_Subflow</targetReference>
            </connector>
            <label>Recent Recipes</label>
        </rules>
        <rules>
            <name>Split_BarrelOption</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>programType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Split Barrel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Split_Barrel</targetReference>
            </connector>
            <label>Split Barrel</label>
        </rules>
    </decisions>
    <description>Holds all the flows for the Single Barrel Program</description>
    <interviewLabel>Single Barrel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Single Barrel - Main Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Case</name>
        <label>Lookup Case</label>
        <locationX>240</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_has_been_selected</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <screens>
        <name>Application_Screen</name>
        <label>Application Screen</label>
        <locationX>648</locationX>
        <locationY>625</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApplicationApprovalCmp</name>
            <extensionName>c:SBP_AccountApprovalCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>brand</name>
                <value>
                    <elementReference>brand</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>accountId</assignToReference>
                <name>accountId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>applicationSubmitted</assignToReference>
                <name>applicationSubmitted</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>1700</locationX>
        <locationY>450</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishCmp</name>
            <extensionName>c:SBP_FinishFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProgramTypeSelectionScreen</name>
        <label>ProgramTypeSelectionScreen</label>
        <locationX>241</locationX>
        <locationY>456</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Account_Screen_Variables</targetReference>
        </connector>
        <fields>
            <name>ProgramTypeCmp</name>
            <extensionName>c:SBP_ProgramTypeContainerCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecipes</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedBrand</name>
                <value>
                    <elementReference>brand</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>programType</assignToReference>
                <name>selectedProgramType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>brand</assignToReference>
                <name>selectedBrand</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Brand</name>
        <label>Select Brand</label>
        <locationX>644</locationX>
        <locationY>102</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Type_Was_Selected</targetReference>
        </connector>
        <fields>
            <name>Jim_Beam_Availability_Screen1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Jim Beam Single Barrel program is currently unavailable until further notice. Please contact Customer Service team for any further assistance.﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BrandSelectionCmp</name>
            <extensionName>c:SBP_BrandSelectionCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>brand</assignToReference>
                <name>currentBrand</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>programType</assignToReference>
                <name>selectedProgramType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FullBarrelRecordType.Id</assignToReference>
                <name>fullBarrelRecordTypeId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SplitBarrelRecordType.Id</assignToReference>
                <name>splitBarrelRecordTypeId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseSingleBarrelStandardRecordTypeRecord.Id</assignToReference>
                <name>caseRecordTypeId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>barrelRecordTypeId</assignToReference>
                <name>currentBarrelRecordType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isApplication</assignToReference>
                <name>applicationRequired</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>productType</assignToReference>
                <name>selectedFlavor</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Split_Barrel</name>
        <label>Split Barrel</label>
        <locationX>1199</locationX>
        <locationY>616</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <fields>
            <name>SplitBarrelCmp</name>
            <extensionName>c:SBP_SplitBarrelCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Does_Case_Exist</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Acct_Barrel_POS_Subflow</name>
        <label>Acct/Barrel/POS Subflow</label>
        <locationX>1200</locationX>
        <locationY>514</locationY>
        <connector>
            <targetReference>Update_Completed_Cases</targetReference>
        </connector>
        <flowName>Single_Barrel_Acct_Barrel_POS_Subflow</flowName>
        <inputAssignments>
            <name>Brand</name>
            <value>
                <elementReference>brand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProgramType</name>
            <value>
                <elementReference>programType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>showRetailAccountInfo</name>
            <value>
                <elementReference>showRetailAccountInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flavor</name>
            <value>
                <elementReference>productType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>barrelOrderGroupId</assignToReference>
            <name>BarrelOrderGroupId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Finish_POS_and_Bottle_Plate</name>
        <label>Finish POS and Bottle Plate</label>
        <locationX>10</locationX>
        <locationY>331</locationY>
        <flowName>Single_Barrel_Missing_Items</flowName>
        <inputAssignments>
            <name>currentBrand</name>
            <value>
                <elementReference>brand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Recent_Recipes_Subflow</name>
        <label>Recent Recipes Subflow</label>
        <locationX>1199</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <flowName>Single_Barrel_Recent_Recipes_Subflow</flowName>
        <inputAssignments>
            <name>brand</name>
            <value>
                <elementReference>brand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>programType</name>
            <value>
                <elementReference>programType</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>barrelOrderGroupId</assignToReference>
            <name>barrelOrderGroupId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Trip_and_Tour_Flow</name>
        <label>Trip and Tour Flow</label>
        <locationX>1200</locationX>
        <locationY>399</locationY>
        <connector>
            <targetReference>Update_Completed_Cases</targetReference>
        </connector>
        <flowName>Trip_and_Tour_Subflow</flowName>
        <inputAssignments>
            <name>Brand</name>
            <value>
                <elementReference>brand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProgramType</name>
            <value>
                <elementReference>programType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseRecordTypeId</name>
            <value>
                <elementReference>CaseSingleBarrelStandardRecordTypeRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flavor</name>
            <value>
                <elementReference>productType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>showRetailAccountSection</name>
            <value>
                <elementReference>showRetailAccountInfo</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>barrelOrderGroupId</assignToReference>
            <name>BarrelOrderGroupId</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>JimBeamNotice</name>
        <text>&lt;p&gt;&lt;b&gt;Jim Beam Single Barrel program is currently unavailable until further notice. Please contact Customer Service team for any further assistance.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>applicationSubmitted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>barrelOrderGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>barrelRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BarrelRecordTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Barrel__c</objectType>
    </variables>
    <variables>
        <description>Selected Brand</description>
        <name>brand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseSingleBarrelStandardRecordTypeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>FullBarrelRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>fullBarrelRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isApplication</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>programType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>showRetailAccountInfo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SplitBarrelRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>splitBarrelRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
