unpackaged/main/default/flows/Single_Barrel_Acct_Barrel_POS_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Case_and_Barrel_Order_Group</name>
        <label>Create Case and Barrel Order Group</label>
        <locationX>663</locationX>
        <locationY>184</locationY>
        <actionName>c:SBP_CreateCaseAndBarrelGroup</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Which_Program_Type</targetReference>
        </connector>
        <inputParameters>
            <name>brand</name>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productType</name>
            <value>
                <elementReference>flavor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>programType</name>
            <value>
                <elementReference>ProgramType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CaseRecordId</assignToReference>
            <name>caseId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BarrelOrderGroupId</assignToReference>
            <name>barrelGroupId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>caseRecordTypeId</assignToReference>
            <name>caseRecordTypeId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Barrel_Record_Type</name>
        <label>Get Barrel Record Type</label>
        <locationX>613</locationX>
        <locationY>1453</locationY>
        <actionName>c:GetRecordTypeCmp</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Create_Barrel</targetReference>
        </connector>
        <inputParameters>
            <name>brand</name>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectType</name>
            <value>
                <stringValue>Barrel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>barrelType</name>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>barrelRecordTypeId</assignToReference>
            <name>recordTypeId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Stop_Timer</name>
        <label>Stop Timer</label>
        <locationX>1633</locationX>
        <locationY>1902</locationY>
        <actionName>c:SetTimerCmp</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>startTimer</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_record_id</name>
        <label>Assign record id</label>
        <locationX>916</locationX>
        <locationY>1492</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BarrelOrderGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecord.Barrel_Order_Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>POSScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrement_Number_of_Barrels</name>
        <label>Decrement Number of Barrels</label>
        <locationX>1188</locationX>
        <locationY>1610</locationY>
        <assignmentItems>
            <assignToReference>NumberOfBarrels</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>One</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BarrelOrderGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecord.Barrel_Order_Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Another_Barrel_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Distiller_s_Choice_Stages</name>
        <label>Distiller&apos;s Choice Stages</label>
        <locationX>1164</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account_Info</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Barrel_Info</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>POS_Customizations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hide_Bottle_Plate_Text</name>
        <label>Hide Bottle Plate Text</label>
        <locationX>654</locationX>
        <locationY>915</locationY>
        <assignmentItems>
            <assignToReference>showBottleTextPOS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Knob_Creek_Sample_Kit_Assignment</name>
        <label>Knob Creek Sample Kit Assignment</label>
        <locationX>1022</locationX>
        <locationY>428</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account_Info</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sample_kit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Barrel_Info</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>POS_Customizations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recent_Recipe_Stages</name>
        <label>Recent Recipe Stages</label>
        <locationX>752</locationX>
        <locationY>420</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account_Info</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>POS_Customizations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remote_Selection_Stages</name>
        <label>Remote Selection Stages</label>
        <locationX>1337</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account_Info</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>POS_Customizations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Add_Another_Barrel_Flag</name>
        <label>Set Add Another Barrel Flag</label>
        <locationX>1629</locationX>
        <locationY>1232</locationY>
        <assignmentItems>
            <assignToReference>AddAnotherBarrel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_many_Barrels</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flow_Completed_True_For_Makers_Mark</name>
        <label>Set Flow Completed True For Makers Mark</label>
        <locationX>1337</locationX>
        <locationY>1700</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.Flow_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Flow_Completed</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DistillersChoice</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Distiller&apos;s Choice</stringValue>
        </value>
    </constants>
    <constants>
        <name>KnobCreekBourbon</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Knob Creek Bourbon</stringValue>
        </value>
    </constants>
    <constants>
        <name>KnobCreekRye</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Knob Creek Rye</stringValue>
        </value>
    </constants>
    <constants>
        <name>One</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>PendingDocumentationString</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Documentation</stringValue>
        </value>
    </constants>
    <constants>
        <name>SampleKitString</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sample Kit</stringValue>
        </value>
    </constants>
    <constants>
        <name>SplitBarrelString</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Split Barrel</stringValue>
        </value>
    </constants>
    <constants>
        <description>Trip and Tour String</description>
        <name>Trip_Tour</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Trip and Tour</stringValue>
        </value>
    </constants>
    <constants>
        <name>Zero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>ZeroZero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Another_Barrel_Decision</name>
        <label>Another Barrel Decision</label>
        <locationX>1629</locationX>
        <locationY>1612</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Add_Barrel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfBarrels</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Zero</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_for_each_barrel</targetReference>
            </connector>
            <label>Add Barrel</label>
        </rules>
        <rules>
            <name>Finish_Flow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfBarrels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Zero</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Timer</targetReference>
            </connector>
            <label>Finish Flow</label>
        </rules>
        <rules>
            <name>Add_Split_Barrel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BarrelType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SplitBarrelString</elementReference>
                </rightValue>
            </conditions>
            <label>Add Split Barrel</label>
        </rules>
        <rules>
            <name>Maker_s_Mark_Trip_Tour</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Brand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Makers Mark</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProgramType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trip and Tour</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Flow_Completed_True_For_Makers_Mark</targetReference>
            </connector>
            <label>Maker&apos;s Mark Trip Tour</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choose_Barrel_Type</name>
        <label>Choose Barrel Type</label>
        <locationX>915</locationX>
        <locationY>1234</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Knob_Creek_Sample_Kit_OR_El_Tesoro</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Brand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Knob Creek</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProgramType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample Kit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Brand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>El Tesoro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProgramType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote Selection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sample_Kit_Details</targetReference>
            </connector>
            <label>Knob Creek Sample Kit OR El Tesoro</label>
        </rules>
        <rules>
            <name>Split_Barrel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgramType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SplitBarrelString</elementReference>
                </rightValue>
            </conditions>
            <label>Split Barrel</label>
        </rules>
        <rules>
            <name>Multi_Barrel</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Brand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Knob Creek</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Brand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>El Tesoro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Brand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jim Beam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Brand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cruzan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_many_Barrels</targetReference>
            </connector>
            <label>Multi Barrel</label>
        </rules>
        <rules>
            <name>Skip_Barrel_Section</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Brand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Makers Mark</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_record_id</targetReference>
            </connector>
            <label>Skip Barrel Section</label>
        </rules>
        <rules>
            <name>Proof_Specific</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Brand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Makers Mark</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Brand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>El Tesoro</stringValue>
                </rightValue>
            </conditions>
            <label>Proof Specific</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Case_and_Barrel_Group</name>
        <label>Create Case and Barrel Group</label>
        <locationX>664</locationX>
        <locationY>28</locationY>
        <defaultConnector>
            <targetReference>Which_Program_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_and_Barrel_Order_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hide_POS_Items_based_on_brand</name>
        <label>Hide POS Items based on brand</label>
        <locationX>911</locationX>
        <locationY>916</locationY>
        <defaultConnector>
            <targetReference>Lookup_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard</defaultConnectorLabel>
        <rules>
            <name>Jim_Beam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Brand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jim Beam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hide_Bottle_Plate_Text</targetReference>
            </connector>
            <label>Jim Beam</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Sample_Kit</name>
        <label>Is Sample Kit</label>
        <locationX>420</locationX>
        <locationY>912</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgramType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample Kit</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Program_Type</name>
        <label>Which Program Type</label>
        <locationX>903</locationX>
        <locationY>181</locationY>
        <defaultConnector>
            <targetReference>Account_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Knob_Creek_Sample_Kit</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>ProgramType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample Kit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Brand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Knob Creek</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Brand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>El Tesoro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProgramType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote Selection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Knob_Creek_Sample_Kit_Assignment</targetReference>
            </connector>
            <label>Knob Creek Sample Kit</label>
        </rules>
        <rules>
            <name>Distiller_s_Choice</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ProgramType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distiller&apos;s Choice</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProgramType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Split Barrel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Distiller_s_Choice_Stages</targetReference>
            </connector>
            <label>Distiller&apos;s Choice</label>
        </rules>
        <rules>
            <name>Remote_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgramType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote Selection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remote_Selection_Stages</targetReference>
            </connector>
            <label>Remote Selection</label>
        </rules>
        <rules>
            <name>Recent_Recipes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgramType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recent Recipes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recent_Recipe_Stages</targetReference>
            </connector>
            <label>Recent Recipes</label>
        </rules>
    </decisions>
    <description>Contains the screens for the Account, Barrel and POS Customization Information for the Single Barrel Program</description>
    <dynamicChoiceSets>
        <name>BrandValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Brand__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>SampleKitName</name>
        <dataType>String</dataType>
        <expression>{!Brand} + &quot; - Sample Kit&quot;</expression>
    </formulas>
    <interviewLabel>Single Barrel - Acct/Barrel/POS Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Single Barrel - Acct/Barrel/POS Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Barrel</name>
        <label>Create Barrel</label>
        <locationX>614</locationX>
        <locationY>1567</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Floor__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>flavor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>barrelRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rick__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Story__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Tier__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Warehouse__c</field>
        </inputAssignments>
        <object>Barrel__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_for_each_barrel</name>
        <label>Create Case for each barrel</label>
        <locationX>1629</locationX>
        <locationY>1469</locationY>
        <assignRecordIdToReference>CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_New_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>DistributorAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Barrel_Order_Group__c</field>
            <value>
                <elementReference>caseRecord.Barrel_Order_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>caseRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plant_Event__c</field>
            <value>
                <elementReference>NewEventId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>flavor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>caseRecord.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retail_Account__c</field>
            <value>
                <elementReference>PremiseAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sample_Kit_Attention__c</field>
            <value>
                <elementReference>sampleKitCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sample_Kit_City__c</field>
            <value>
                <elementReference>sampleKitCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sample_Kit_Phone__c</field>
            <value>
                <elementReference>sampleKitPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sample_Kit_State__c</field>
            <value>
                <elementReference>sampleKitState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sample_Kit_Street__c</field>
            <value>
                <elementReference>sampleKitStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sample_Kit_Zip__c</field>
            <value>
                <elementReference>sampleKitZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitter__c</field>
            <value>
                <elementReference>caseRecord.Submitter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>ProgramType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Case</name>
        <label>Lookup Case</label>
        <locationX>914</locationX>
        <locationY>1120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Barrel_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>caseRecord</outputReference>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Barrel_Order_Group__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Submitter__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_New_Case</name>
        <label>Lookup New Case</label>
        <locationX>1629</locationX>
        <locationY>1339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Add_Another_Barrel_Flag</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>NewCase</outputReference>
        <queriedFields>Origin</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Flow_Completed__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Flow_Completed</name>
        <label>Update Case Flow Completed</label>
        <locationX>1392</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Stop_Timer</targetReference>
        </connector>
        <inputReference>caseRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Account_Information</name>
        <label>Account Information</label>
        <locationX>911</locationX>
        <locationY>714</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Hide_POS_Items_based_on_brand</targetReference>
        </connector>
        <fields>
            <name>FlowStageAccount</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Account Info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AccountInformation</name>
            <extensionName>c:SBP_AccountInfoCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>programType</name>
                <value>
                    <elementReference>ProgramType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>brand</name>
                <value>
                    <elementReference>Brand</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>CaseRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showDateSelectionInfo</name>
                <value>
                    <elementReference>showDateSelectionInfo</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAttendeeInfo</name>
                <value>
                    <elementReference>showAttendeeInfo</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRetailAccountInfo</name>
                <value>
                    <elementReference>showRetailAccountInfo</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfAttendees</name>
                <value>
                    <elementReference>NumberOfAttendees</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>plantEventId</name>
                <value>
                    <elementReference>NewEventId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recentRecipeFlag</name>
                <value>
                    <elementReference>recentRecipeFlagFromTripTour</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseId</assignToReference>
                <name>caseId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PremiseType</assignToReference>
                <name>premise</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>State</assignToReference>
                <name>state</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PremiseAccountId</assignToReference>
                <name>premiseAccount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DistributorAccountId</assignToReference>
                <name>distributorAccount</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>How_many_Barrels</name>
        <label>How many Barrels</label>
        <locationX>1185</locationX>
        <locationY>1231</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>POSScreen</targetReference>
        </connector>
        <fields>
            <name>BarrelFlowStage</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Barrel Info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BarrelSelection</name>
            <extensionName>c:SBP_BarrelSelectionCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>brand</name>
                <value>
                    <elementReference>Brand</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>programType</name>
                <value>
                    <elementReference>ProgramType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addBarrel</name>
                <value>
                    <elementReference>AddAnotherBarrel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfBarrels</name>
                <value>
                    <elementReference>NumberOfBarrels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flavor</name>
                <value>
                    <elementReference>flavor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>CaseRecordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NumberOfBarrels</assignToReference>
                <name>numberOfBarrels</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>flavor</assignToReference>
                <name>flavor</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>barrelId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>POSScreen</name>
        <label>POSScreen</label>
        <locationX>1188</locationX>
        <locationY>1491</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decrement_Number_of_Barrels</targetReference>
        </connector>
        <fields>
            <name>POSFlowStage</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>POS Customizations</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>POSItems</name>
            <extensionName>c:SBP_POSCustomizationContainerCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentBrand</name>
                <value>
                    <elementReference>Brand</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>premiseType</name>
                <value>
                    <elementReference>PremiseType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>barrelId</name>
                <value>
                    <elementReference>CurrentBarrelId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>programType</name>
                <value>
                    <elementReference>ProgramType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>CaseRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showBottlePlatingOption</name>
                <value>
                    <elementReference>showBottleTextPOS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentFlavour</name>
                <value>
                    <elementReference>flavor</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AddMoreSplitBarrels</assignToReference>
                <name>addSplitBarrel</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SplitBarrelId</assignToReference>
                <name>splitBarrelId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SplitBarrelIds</assignToReference>
                <name>splitBarrelIds</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sample_Kit_Details</name>
        <label>Sample Kit Details</label>
        <locationX>1184</locationX>
        <locationY>1090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>How_many_Barrels</targetReference>
        </connector>
        <fields>
            <name>SampleKitStage</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Sample Kit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SampleKitCmp</name>
            <extensionName>c:SBP_SampleKitCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>CaseId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>barrelGroupId</name>
                <value>
                    <elementReference>BarrelOrderGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>programType</name>
                <value>
                    <elementReference>ProgramType</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>sampleKitCompany</assignToReference>
                <name>sampleKitCompany</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>sampleKitCity</assignToReference>
                <name>sampleKitCity</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>sampleKitStreet</assignToReference>
                <name>sampleKitStreet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>sampleKitZip</assignToReference>
                <name>sampleKitZip</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>sampleKitState</assignToReference>
                <name>sampleKitState</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>sampleKitPhone</assignToReference>
                <name>sampleKitPhone</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Account_Info</name>
        <isActive>false</isActive>
        <label>Account Info</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Barrel_Info</name>
        <isActive>false</isActive>
        <label>Barrel Info</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>POS_Customizations</name>
        <isActive>false</isActive>
        <label>POS Customizations</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Sample_kit</name>
        <isActive>false</isActive>
        <label>Sample Kit</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <description>Select a date for your trip and tour</description>
        <name>Trip_Info</name>
        <isActive>false</isActive>
        <label>Trip Info</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Case_and_Barrel_Group</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddAnotherBarrel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AddMoreSplitBarrels</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BarrelOrderGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>barrelRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BarrelType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The Selected Brand</description>
        <name>Brand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BrandPlant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseLoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ccEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentBarrelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DistributorAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>endOfLoop</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>flavor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FullBarrelRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This will be the most recent Split Barrel Record Id used to assign the POS Items to</description>
        <name>MostRecentSplitBarrelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NewEventIdOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NumberOfAttendees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NumberOfBarrels</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PremiseAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PremiseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The name of the program</description>
        <name>ProgramName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The program type that the user selects</description>
        <name>ProgramType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recentRecipeFlagFromTripTour</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sampleKitCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sampleKitCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SampleKitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sampleKitPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sampleKitState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sampleKitStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sampleKitZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showAttendeeInfo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>showBottleTextPOS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>showDateSelectionInfo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>showRetailAccountInfo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SplitBarrelCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SplitBarrelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SplitBarrelIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>splitBarrelLoopRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SplitBarrelRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This will store the stages to display in the flow based on the path that the user takes</description>
        <name>StagesToDisplay</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The name of the static resource where the image will be pulled from</description>
        <name>StaticResourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>timeRemaingJSONString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>timeRemainingJsonString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TripandTourString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Trip &amp; Tour</stringValue>
        </value>
    </variables>
</Flow>
