unpackaged/main/default/flows/Trip_and_Tour_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Case_and_Barrel_Group</name>
        <label>Create Case and Barrel Group</label>
        <locationX>435</locationX>
        <locationY>372</locationY>
        <actionName>c:SBP_CreateCaseAndBarrelGroup</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>LookupCaseThatWasCreated</targetReference>
        </connector>
        <inputParameters>
            <name>brand</name>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productType</name>
            <value>
                <elementReference>flavor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>programType</name>
            <value>
                <elementReference>ProgramType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CaseRecordId</assignToReference>
            <name>caseId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BarrelOrderGroupId</assignToReference>
            <name>barrelGroupId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Start_Timer</name>
        <label>Start Timer</label>
        <locationX>434</locationX>
        <locationY>130</locationY>
        <actionName>c:SetTimerCmp</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Does_Case_Exist</targetReference>
        </connector>
        <inputParameters>
            <name>startTimer</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Barrel_Order_Group</name>
        <label>Assign Barrel Order Group</label>
        <locationX>680</locationX>
        <locationY>365</locationY>
        <assignmentItems>
            <assignToReference>BarrelOrderGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecord.Barrel_Order_Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignCasesCreated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCasesCreated</name>
        <label>AssignCasesCreated</label>
        <locationX>680</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>Cases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caseRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Active_Stages_for_Trip</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Active_Stages_for_Trip</name>
        <label>Set Active Stages for Trip</label>
        <locationX>686</locationX>
        <locationY>595</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Trip_Info</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account_Info</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Barrel_Info</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>POS_Customizations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trip_Info</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Calendar_Type</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DistillersChoice</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Distiller&apos;s Choice</stringValue>
        </value>
    </constants>
    <constants>
        <name>KnobCreekBourbon</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Knob Creek Bourbon</stringValue>
        </value>
    </constants>
    <constants>
        <name>KnobCreekRye</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Knob Creek Rye</stringValue>
        </value>
    </constants>
    <constants>
        <name>One</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>PendingDocumentationString</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Documentation</stringValue>
        </value>
    </constants>
    <constants>
        <name>SampleKitString</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sample Kit</stringValue>
        </value>
    </constants>
    <constants>
        <name>SplitBarrelString</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Split Barrel</stringValue>
        </value>
    </constants>
    <constants>
        <description>Trip and Tour String</description>
        <name>Trip_Tour</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Trip and Tour</stringValue>
        </value>
    </constants>
    <constants>
        <name>Zero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>ZeroZero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Does_Case_Exist</name>
        <label>Does Case Exist</label>
        <locationX>436</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>Create_Case_and_Barrel_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupCaseThatWasCreated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Show_Timer</name>
        <label>Show Timer</label>
        <locationX>180</locationX>
        <locationY>132</locationY>
        <defaultConnector>
            <targetReference>Does_Case_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Timer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Calendar_Type</name>
        <label>Which Calendar Type</label>
        <locationX>688</locationX>
        <locationY>730</locationY>
        <defaultConnector>
            <targetReference>ScheduleTrip</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard</defaultConnectorLabel>
        <rules>
            <name>Seasonal_Groups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Brand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>El Tesoro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SeasonalCalendarGroup</targetReference>
            </connector>
            <label>Seasonal Groups</label>
        </rules>
        <rules>
            <name>Date_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgramType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Date Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>On_Hold_Dates</targetReference>
            </connector>
            <label>Date Hold</label>
        </rules>
    </decisions>
    <description>Subflow for Single Barrel program that shows a calendar/time slots to book a trip to a specific plant</description>
    <dynamicChoiceSets>
        <name>BrandValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Brand__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>SampleKitName</name>
        <dataType>String</dataType>
        <expression>{!Brand} + &quot; - Sample Kit&quot;</expression>
    </formulas>
    <interviewLabel>Trip and Tour Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trip and Tour Subflow</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>LookupCaseThatWasCreated</name>
        <label>LookupCaseThatWasCreated</label>
        <locationX>681</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Barrel_Order_Group</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>caseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Submitter__c</queriedFields>
        <queriedFields>Barrel_Order_Group__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_With_Event</name>
        <label>Update Case With Event</label>
        <locationX>1130</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Acct_Barrel_POS_Info_Subflow</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Plant_Event__c</field>
            <value>
                <elementReference>NewEventId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Trip and Tour</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>On_Hold_Dates</name>
        <label>On Hold Dates</label>
        <locationX>907</locationX>
        <locationY>729</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_With_Event</targetReference>
        </connector>
        <fields>
            <name>DateHoldCmp</name>
            <extensionName>c:SBP_CalendarHoldCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>brand</name>
                <value>
                    <elementReference>Brand</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>programType</name>
                <value>
                    <elementReference>ProgramType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>CaseRecordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NewEventId</assignToReference>
                <name>eventId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NumberOfAttendees</assignToReference>
                <name>numberOfAttendees</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScheduleTrip</name>
        <label>ScheduleTrip</label>
        <locationX>904</locationX>
        <locationY>621</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_With_Event</targetReference>
        </connector>
        <fields>
            <name>FlowStageCmp</name>
            <extensionName>c:FlowStageTracker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Calendar</name>
            <extensionName>c:SBP_CalendarContainerCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentBrand</name>
                <value>
                    <elementReference>Brand</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>viewAllPlants</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>CaseRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>viewAllBrands</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentEventId</name>
                <value>
                    <elementReference>NewEventId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NewEventId</assignToReference>
                <name>currentEventId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NumberOfAttendees</assignToReference>
                <name>numberOfAttendees</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SeasonalCalendarGroup</name>
        <label>SeasonalCalendarGroup</label>
        <locationX>906</locationX>
        <locationY>858</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_With_Event</targetReference>
        </connector>
        <fields>
            <name>SeasonalCalendar</name>
            <extensionName>c:SBP_CalendarDayGroupCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>brand</name>
                <value>
                    <elementReference>Brand</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NewEventId</assignToReference>
                <name>eventId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Account_Info</name>
        <isActive>false</isActive>
        <label>Account Info</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Barrel_Info</name>
        <isActive>false</isActive>
        <label>Barrel Info</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>POS_Customizations</name>
        <isActive>false</isActive>
        <label>POS Customizations</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <description>Select a date for your trip and tour</description>
        <name>Trip_Info</name>
        <isActive>false</isActive>
        <label>Trip Info</label>
        <stageOrder>1</stageOrder>
    </stages>
    <startElementReference>Show_Timer</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Acct_Barrel_POS_Info_Subflow</name>
        <label>Acct/Barrel/POS Info Subflow</label>
        <locationX>1309</locationX>
        <locationY>729</locationY>
        <flowName>Single_Barrel_Acct_Barrel_POS_Subflow</flowName>
        <inputAssignments>
            <name>Brand</name>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseRecordId</name>
            <value>
                <elementReference>CaseRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProgramType</name>
            <value>
                <elementReference>ProgramType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>showRetailAccountInfo</name>
            <value>
                <elementReference>showRetailAccountSection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>showAttendeeInfo</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumberOfAttendees</name>
            <value>
                <elementReference>NumberOfAttendees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NewEventId</name>
            <value>
                <elementReference>NewEventId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flavor</name>
            <value>
                <elementReference>flavor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recentRecipeFlagFromTripTour</name>
            <value>
                <elementReference>recentRecipeFlagToAcctBarrel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BarrelOrderGroupId</name>
            <value>
                <elementReference>caseRecord.Barrel_Order_Group__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AddAnotherBarrel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AddMoreSplitBarrels</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>barrelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BarrelOrderGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>barrelRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BarrelType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The Selected Brand</description>
        <name>Brand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BrandPlant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseLoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ccEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentBarrelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DistributorAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>endOfLoop</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>flavor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FullBarrelRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This will be the most recent Split Barrel Record Id used to assign the POS Items to</description>
        <name>MostRecentSplitBarrelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NewEventIdOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NumberOfAttendees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NumberOfBarrels</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PremiseAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PremiseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The name of the program</description>
        <name>ProgramName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The program type that the user selects</description>
        <name>ProgramType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recentRecipeFlagToAcctBarrel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SampleKitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>showDateSelection</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>showRetailAccountSection</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>showTimer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SplitBarrelCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SplitBarrelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SplitBarrelIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>splitBarrelLoopRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SplitBarrelRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This will store the stages to display in the flow based on the path that the user takes</description>
        <name>StagesToDisplay</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The name of the static resource where the image will be pulled from</description>
        <name>StaticResourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>timeRemaingJSONString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>timeRemainingJsonString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TripandTourString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Trip &amp; Tour</stringValue>
        </value>
    </variables>
</Flow>
